Repository uploadcare/file-uploader: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser json, prettier --write --parser markdown

chore(docs): fix live examples
  solutions/cloud-image-editor/demo.htm
  solutions/file-uploader/inline/demo.htm
  solutions/file-uploader/minimal/demo.htm
  solutions/file-uploader/regular/demo.htm
Due: none

chore(docs): fix live examples (#516)
  solutions/cloud-image-editor/demo.htm
  solutions/file-uploader/inline/demo.htm
  solutions/file-uploader/minimal/demo.htm
  solutions/file-uploader/regular/demo.htm
Due: none

chore(docs): fix cloud editor live demo
  solutions/cloud-image-editor/demo.htm
Due: none

chore(docs): fix cloud editor live demo (#517)
  solutions/cloud-image-editor/demo.htm
Due: none

fix(types): events types export for angular projects
  types/index.d.ts
Due: none

fix(types): events types export for angular projects (#518)
  types/index.d.ts
Due: none

fix(types): shadow wrapper static fields mixin
  blocks/ShadowWrapper/ShadowWrapper.js
Due: eslint --fix, prettier --write

fix(types): shadow wrapper static fields mixin (#522)
  blocks/ShadowWrapper/ShadowWrapper.js
Due: eslint --fix, prettier --write

chore: update typescript
  package-lock.json
  package.json
Due: prettier --write --parser json

chore: fix ts errors
  blocks/Config/Config.js
  blocks/ExternalSource/ExternalSource.js
  blocks/FileItem/FileItem.js
  blocks/Modal/Modal.js
  blocks/SimpleBtn/SimpleBtn.js
  blocks/UploadList/UploadList.js
Due: eslint --fix, prettier --write

feat(cloud-image-editor): add crop preset setting
  blocks/CloudImageEditor/src/CloudImageEditorBlock.js
  blocks/CloudImageEditor/src/CropFrame.js
  blocks/CloudImageEditor/src/EditorImageCropper.js
  blocks/CloudImageEditor/src/crop-utils.js
  blocks/CloudImageEditor/src/cropper-constants.js
  blocks/CloudImageEditor/src/state.js
  blocks/CloudImageEditor/src/types.js
  blocks/CloudImageEditorActivity/CloudImageEditorActivity.js
  blocks/Config/initialConfig.js
  blocks/Config/normalizeConfigValue.js
  blocks/test/cloud-image-editor.htm
  types/exported.d.ts
Due: eslint --fix, prettier --write

feat(uploader): force defined aspect ration for the output images
  abstract/UploaderBlock.js
  blocks/CloudImageEditor/src/CloudImageEditorBlock.js
  blocks/CloudImageEditor/src/CropFrame.js
  blocks/CloudImageEditor/src/EditorImageCropper.js
  blocks/CloudImageEditor/src/crop-utils.js
  blocks/CloudImageEditor/src/cropper-constants.js
  blocks/CloudImageEditor/src/lib/parseCropPreset.js
  blocks/FileItem/FileItem.js
  blocks/Modal/Modal.js
  blocks/test/cloud-image-editor.htm
  blocks/test/raw-regular.htm
Due: eslint --fix, prettier --write

feat(external-sources): add files to the upload list after done button click
  blocks/ExternalSource/ExternalSource.js
Due: eslint --fix, prettier --write

feat(uploader): force defined aspect ration for the output images
  abstract/UploaderBlock.js
  blocks/CloudImageEditor/src/CloudImageEditorBlock.js
  blocks/CloudImageEditor/src/CropFrame.js
  blocks/CloudImageEditor/src/EditorImageCropper.js
  blocks/CloudImageEditor/src/EditorImageFader.js
  blocks/CloudImageEditor/src/EditorToolbar.js
  blocks/CloudImageEditor/src/crop-utils.js
  blocks/CloudImageEditor/src/cropper-constants.js
  blocks/CloudImageEditor/src/lib/debounce.js
  blocks/CloudImageEditor/src/lib/parseCropPreset.js
  blocks/FileItem/FileItem.js
  blocks/Modal/Modal.js
  blocks/test/cloud-image-editor.htm
  blocks/test/raw-regular.htm
  blocks/utils/debounce.js
  blocks/utils/throttle.js
  solutions/file-uploader/minimal/FileUploaderMinimal.js
Due: eslint --fix, prettier --write

chore: fix lint errors
  blocks/CloudImageEditor/src/crop-utils.js
Due: eslint --fix, prettier --write

feat(cloud-image-editor): add ability to hide unnecessary editor tabs (crop, tuning or filters)
  abstract/UploaderBlock.js
  blocks/CloudImageEditor/src/CloudImageEditorBlock.js
  blocks/CloudImageEditor/src/EditorToolbar.js
  blocks/CloudImageEditor/src/css/common.css
  blocks/CloudImageEditor/src/css/icons.css
  blocks/CloudImageEditor/src/lib/parseTabs.js
  blocks/CloudImageEditor/src/state.js
  blocks/CloudImageEditor/src/toolbar-constants.js
  blocks/CloudImageEditorActivity/CloudImageEditorActivity.js
  blocks/Config/initialConfig.js
  blocks/Config/normalizeConfigValue.js
  blocks/test/cloud-image-editor.htm
  blocks/test/raw-regular.htm
  blocks/utils/comma-separated.js
  types/exported.d.ts
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

chore: refactor
  abstract/UploaderBlock.js
  blocks/CloudImageEditor/src/CloudImageEditorBlock.js
  blocks/ExternalSource/ExternalSource.js
Due: eslint --fix, prettier --write

chore: refactor
  blocks/CloudImageEditor/src/EditorToolbar.js
  blocks/utils/comma-separated.js
  blocks/utils/comma-separated.test.js
  package.json
Due: eslint --fix, prettier --write, prettier --write --parser json

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write --parser markdown

fix(init-flow): fix sync `initFlow` calls right after upload collection
  abstract/ActivityBlock.js
  abstract/Block.js
  abstract/UploaderBlock.js
  blocks/DropArea/DropArea.js
  blocks/Modal/Modal.js
  blocks/UploadList/UploadList.js
Due: eslint --fix, prettier --write

fix(drag-n-drop): do not show drop cursor when it's not over the drop target
  blocks/DropArea/addDropzone.js
Due: eslint --fix, prettier --write

feat(simple-btn): add flag to toggle drop-zone
  blocks/Config/normalizeConfigValue.js
  blocks/DropArea/DropArea.js
  blocks/SimpleBtn/SimpleBtn.js
Due: eslint --fix, prettier --write

fix(init-flow): fix sync `initFlow` calls right after upload collection (#532)
  abstract/ActivityBlock.js
  abstract/Block.js
  abstract/UploaderBlock.js
  blocks/DropArea/DropArea.js
  blocks/Modal/Modal.js
  blocks/UploadList/UploadList.js
Due: eslint --fix, prettier --write

chore: refactor
  blocks/CloudImageEditor/src/CloudImageEditorBlock.js
  blocks/CloudImageEditor/src/state.js
Due: eslint --fix, prettier --write

fix(cloud-image-editor): make `crop-preset` and `tabs` attributes reactive
  blocks/CloudImageEditor/src/EditorImageCropper.js
  blocks/CloudImageEditor/src/crop-utils.js
  blocks/CloudImageEditorActivity/CloudImageEditorActivity.js
  blocks/test/raw-regular.htm
Due: eslint --fix, prettier --write

fix(uploader): append `preview` operation when setting initial crop with `crop-preset` defined
  abstract/UploaderBlock.js
  blocks/CloudImageEditor/src/EditorToolbar.js
Due: eslint --fix, prettier --write

fix: capture and store file's full path while getting drag'n'dropped
  abstract/UploaderBlock.js
  abstract/uploadEntrySchema.js
  blocks/DropArea/DropArea.js
  blocks/DropArea/getDropItems.js
Due: eslint --fix, prettier --write

fix: capture and store file's full path while getting drag'n'dropped (#536)
  abstract/UploaderBlock.js
  abstract/uploadEntrySchema.js
  blocks/DropArea/DropArea.js
  blocks/DropArea/getDropItems.js
Due: eslint --fix, prettier --write

chore: fix `fullPath` fallback type
  abstract/UploaderBlock.js
Due: eslint --fix, prettier --write

chore: add `withResolvers`, `waitForAttribute` and `delay` utils
  package-lock.json
  package.json
  utils/delay.js
  utils/waitForAttribute.js
  utils/waitForAttribute.test.js
  utils/withResolvers.js
Due: eslint --fix, prettier --write, prettier --write --parser json

fix: require `ctx-name` attribute for all the public blocks and wait for it with 300ms timeout
  abstract/Block.js
  abstract/SolutionBlock.js
  blocks/Config/Config.js
  blocks/DataOutput/DataOutput.js
  blocks/ShadowWrapper/ShadowWrapper.js
  blocks/UploadCtxProvider/UploadCtxProvider.js
  solutions/file-uploader/inline/demo.htm
  solutions/file-uploader/minimal/demo.htm
  solutions/file-uploader/regular/demo.htm
  utils/waitForAttribute.js
  utils/waitForAttribute.test.js
Due: eslint --fix, prettier --write

chore: fix lint
  blocks/Config/Config.js
Due: eslint --fix, prettier --write

fix(types): add missing `LR_CLOUD_MODIFICATION` JSX type
  abstract/EventManager.js
  abstract/UploaderBlock.js
  types/events.d.ts
Due: eslint --fix, prettier --write

fix(types): add missing `LR_CLOUD_MODIFICATION` JSX type (#542)
  abstract/EventManager.js
  abstract/UploaderBlock.js
  types/events.d.ts
Due: eslint --fix, prettier --write

fix(minimal-mode): add file button should open system dialog
  abstract/Block.js
  blocks/Config/Config.js
  blocks/test/raw-minimal.htm
Due: eslint --fix, prettier --write

fix(minimal-mode): add file button should open system dialog (#544)
  abstract/Block.js
  blocks/Config/Config.js
  blocks/test/raw-minimal.htm
Due: eslint --fix, prettier --write

chore: bump upload-client
  package-lock.json
  package.json
Due: prettier --write --parser json

fix(lr-config): validate passed settings
  blocks/Config/normalizeConfigValue.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,cjs}
  prettier --write: any of: *.{js,cjs}
  stylelint --fix: any of: *.css
  prettier --write --parser css: any of: *.css
  prettier --write --parser json: any of: *.json
  prettier --write --parser markdown: any of: *.md
