Repository uploadcare/file-uploader: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser json, prettier --write --parser markdown

.lintstagedrc.json:

{
  "*.{js,cjs}": ["eslint --fix", "prettier --write", "git add"],
  "*.css": ["stylelint --fix", "prettier --write --parser css", "git add"],
  "*.json": ["prettier --write --parser json", "git add"],
  "*.md": ["prettier --write --parser markdown", "git add"]
}

feat: deleted pauseRender
  solutions/cloud-image-editor/CloudImageEditor.js
  solutions/file-uploader/inline/FileUploaderInline.js
  solutions/file-uploader/minimal/FileUploaderMinimal.js
  solutions/file-uploader/regular/FileUploaderRegular.js
Due: eslint --fix, prettier --write

fix(lr-config): normalize DOM property values
  blocks/Config/Config.js
  blocks/Config/normalizeConfigValue.js
  types/exported.d.ts
Due: eslint --fix, prettier --write

fix(lr-config): normalize DOM property values
  blocks/Config/Config.js
Due: eslint --fix, prettier --write

refactor(lr-config): extract assert function
  blocks/Config/Config.js
Due: eslint --fix, prettier --write

fix: add state keys if they're not present at the moment
  abstract/Block.js
  abstract/l10nProcessor.js
Due: eslint --fix, prettier --write

fix(lr-config): normalize DOM property values (#653)
  blocks/Config/Config.js
  blocks/Config/normalizeConfigValue.js
  types/exported.d.ts
Due: eslint --fix, prettier --write

feat(shadow-styles): eliminating shadow styles (#646)
  abstract/Block.js
  abstract/LocaleManager.js
  abstract/SolutionBlock.js
  abstract/l10nProcessor.js
  blocks/CloudImageEditor/src/EditorImageCropper.js
  blocks/ShadowWrapper/ShadowWrapper.js
  blocks/themes/lr-basic/common.css
  blocks/themes/lr-basic/config.css
  blocks/themes/lr-basic/icons.css
  blocks/themes/lr-basic/theme.css
  demo/cloud-image-editor.html
  demo/form.html
  demo/raw-build.html
  demo/raw-inline.html
  demo/raw-minimal.html
  demo/raw-regular.html
  index.js
  solutions/cloud-image-editor/CloudImageEditor.js
  solutions/file-uploader/inline/FileUploaderInline.js
  solutions/file-uploader/inline/index.css
  solutions/file-uploader/minimal/FileUploaderMinimal.js
  solutions/file-uploader/minimal/index.css
  solutions/file-uploader/regular/FileUploaderRegular.js
  types/jsx.d.ts
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

fix(l10n): add l10n key to the state if it's not present
  abstract/l10nProcessor.js
Due: eslint --fix, prettier --write

fix(image-editor): define icons size via css
  blocks/CloudImageEditor/src/css/common.css
  blocks/CloudImageEditor/src/css/icons.css
  blocks/CloudImageEditor/src/css/index.css
  blocks/CloudImageEditor/src/elements/button/LrBtnUi.js
  blocks/CloudImageEditor/src/icons/original.svg
  blocks/CloudImageEditor/src/svg-sprite.js
  blocks/themes/lr-basic/svg-sprite.js
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

fix(image-editor): check for imageSize before commit
  blocks/CloudImageEditor/src/EditorImageCropper.js
Due: eslint --fix, prettier --write

fix(l10n): add l10n key to the state if it's not present (#656)
  abstract/l10nProcessor.js
Due: eslint --fix, prettier --write

feat: add `secureUploadsSignatureResolver` option
  abstract/CTX.js
  abstract/SecureUploadsManager.js
  abstract/UploaderBlock.js
  blocks/Config/Config.js
  blocks/Config/initialConfig.js
  blocks/Config/normalizeConfigValue.js
  blocks/FileItem/FileItem.js
  demo/secure-uploads.html
  types/exported.d.ts
Due: eslint --fix, prettier --write

feat: add `secureDeliveryProxyUrlResolver` option
  abstract/Block.js
  blocks/Config/Config.js
  blocks/Config/initialConfig.js
  blocks/Config/normalizeConfigValue.js
  demo/preview-proxy/secure-delivery-proxy-url-resolver.html
  demo/preview-proxy/secure-delivery-proxy-url-template.html
  demo/preview-proxy/secure-delivery-proxy.js
  types/exported.d.ts
Due: eslint --fix, prettier --write

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write --parser markdown

Update abstract/Block.js
  abstract/Block.js
Due: eslint --fix, prettier --write

refactor
  abstract/Block.js
  abstract/SecureUploadsManager.js
  demo/secure-uploads.html
  types/exported.d.ts
  utils/cdn-utils.js
  utils/cdn-utils.test.js
  utils/isSecureTokenExpired.js
  utils/isSecureTokenExpired.test.js
Due: eslint --fix, prettier --write

let's begin
  blocks/themes/lr-basic/theme.css
Due: stylelint --fix, prettier --write --parser css

ui-size -> uc-size and other changes in common.css
  blocks/ActivityHeader/activity-header.css
  blocks/CameraSource/camera-source.css
  blocks/Color/color.css
  blocks/DropArea/drop-area.css
  blocks/EditableCanvas/editable-canvas.css
  blocks/FileItem/file-item.css
  blocks/Icon/icon.css
  blocks/Modal/modal.css
  blocks/Range/range.css
  blocks/SourceBtn/source-btn.css
  blocks/Tabs/tabs.css
  blocks/UploadList/upload-list.css
  blocks/themes/lr-basic/README.md
  blocks/themes/lr-basic/common.css
  blocks/themes/lr-basic/theme.css
  solutions/file-uploader/inline/index.css
  solutions/file-uploader/minimal/index.css
Due: stylelint --fix, prettier --write --parser css, prettier --write --parser markdown

common.css done
  blocks/themes/lr-basic/common.css
  blocks/themes/lr-basic/theme.css
Due: stylelint --fix, prettier --write --parser css

ActivityHeader done
  blocks/ActivityHeader/activity-header.css
  blocks/themes/lr-basic/theme.css
Due: stylelint --fix, prettier --write --parser css

TEMPORARY add Inter to font-family
  blocks/themes/lr-basic/theme.css
Due: stylelint --fix, prettier --write --parser css

FileItem done
  blocks/FileItem/file-item.css
Due: stylelint --fix, prettier --write --parser css

almost
  blocks/FileItem/file-item.css
Due: stylelint --fix, prettier --write --parser css

modal
  blocks/CameraSource/camera-source.css
  blocks/CloudImageEditorActivity/index.css
  blocks/DropArea/drop-area.css
  blocks/ExternalSource/external-source.css
  blocks/Modal/modal.css
  blocks/StartFrom/start-from.css
  blocks/UploadList/upload-list.css
  blocks/UrlSource/url-source.css
  blocks/themes/lr-basic/README.md
  blocks/themes/lr-basic/theme.css
Due: stylelint --fix, prettier --write --parser css, prettier --write --parser markdown

ProgressBar
  blocks/FileItem/file-item.css
  blocks/ProgressBar/progress-bar.css
Due: stylelint --fix, prettier --write --parser css

CloudImageEditorActivity
  blocks/CloudImageEditorActivity/index.css
Due: stylelint --fix, prettier --write --parser css

ProgressBarCommon
  blocks/ProgressBarCommon/progress-bar-common.css
Due: stylelint --fix, prettier --write --parser css

UploadList
  blocks/UploadList/UploadList.js
  blocks/UploadList/upload-list.css
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

SourceBtn
  blocks/SourceBtn/source-btn.css
  blocks/themes/lr-basic/theme.css
Due: stylelint --fix, prettier --write --parser css

DropArea intermediate
  blocks/DropArea/drop-area.css
  blocks/StartFrom/start-from.css
Due: stylelint --fix, prettier --write --parser css

DropArea
  blocks/DropArea/drop-area.css
Due: stylelint --fix, prettier --write --parser css

Copyright
  blocks/Copyright/copyright.css
Due: stylelint --fix, prettier --write --parser css

CameraSource
  blocks/CameraSource/camera-source.css
Due: stylelint --fix, prettier --write --parser css

Color
  blocks/Color/color.css
Due: stylelint --fix, prettier --write --parser css

ConfirmationDialog
  blocks/ConfirmationDialog/confirmation.css
Due: stylelint --fix, prettier --write --parser css

EditableCanvas
  blocks/EditableCanvas/editable-canvas.css
Due: stylelint --fix, prettier --write --parser css

ExternalSource
  blocks/ExternalSource/external-source.css
Due: stylelint --fix, prettier --write --parser css

Icon
  blocks/Icon/icon.css
Due: stylelint --fix, prettier --write --parser css

Range
  blocks/Range/range.css
Due: stylelint --fix, prettier --write --parser css
