Repository uploadcare/file-uploader: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser json, prettier --write --parser markdown

.lintstagedrc.json:

{
  "*.{js,cjs}": ["eslint --fix", "prettier --write", "git add"],
  "*.css": ["stylelint --fix", "prettier --write --parser css", "git add"],
  "*.json": ["prettier --write --parser json", "git add"],
  "*.md": ["prettier --write --parser markdown", "git add"]
}

chore: update prettier
  package-lock.json
  package.json
  utils/withResolvers.js
Due: eslint --fix, prettier --write, prettier --write --parser json

chore: remove withResolvers
  utils/withResolvers.js
Due: eslint --fix, prettier --write

chore: print events to console without ctx provider block in context
  abstract/Block.js
  blocks/UploadCtxProvider/EventEmitter.js
Due: eslint --fix, prettier --write

changelog: add unreleased changelog draft
  CHANGELOG.md
Due: prettier --write --parser markdown

feat: add `idleEntries` property to the OutputCollectionState
  abstract/buildOutputCollectionState.js
  types/exported.d.ts
  types/test/lr-upload-ctx-provider.test-d.tsx
Due: eslint --fix, prettier --write

feat: transactional common progress calculation
  abstract/UploaderBlock.js
  blocks/FileItem/FileItem.js
Due: eslint --fix, prettier --write

fix: dispatch click events before action
  blocks/UploadList/UploadList.js
Due: eslint --fix, prettier --write

fix: make add* api calls return internalId
  abstract/TypedCollection.js
  abstract/UploaderBlock.js
  blocks/UploadList/UploadList.js
Due: eslint --fix, prettier --write

fix: make `silent` prop work
  abstract/UploaderBlock.js
  abstract/uploadEntrySchema.js
  blocks/Config/initialConfig.js
Due: eslint --fix, prettier --write

refactor: lr-form-input
  blocks/FormInput/FormInput.js
  types/test/lr-form-input.test-d.tsx
Due: eslint --fix, prettier --write

fix(file-item): file status icon align (#593)
  blocks/FileItem/file-item.css
Due: stylelint --fix, prettier --write --parser css

fix: OutputCollectionState memoization
  abstract/buildOutputCollectionState.js
  utils/memoize.js
Due: eslint --fix, prettier --write

fix(image-editor): fix flip operation serialization
  blocks/CloudImageEditor/src/lib/transformationUtils.js
  blocks/CloudImageEditor/src/toolbar-constants.js
Due: eslint --fix, prettier --write

fix(image-editor): fix flip operation serialization (#595)
  blocks/CloudImageEditor/src/lib/transformationUtils.js
  blocks/CloudImageEditor/src/toolbar-constants.js
Due: eslint --fix, prettier --write

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write --parser markdown

fix: bump upload-client to fix large groups uploading
  package-lock.json
  package.json
Due: prettier --write --parser json

fix: bump upload-client to fix large groups uploading (#599)
  package-lock.json
  package.json
Due: prettier --write --parser json

fix(form-input): do not append `[]` postfix to input name when `multiple` is falsy
  blocks/FormInput/FormInput.js
  blocks/FormInput/data-output.css
  demo/form.html
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

fix(form-input): do not append `[]` postfix to input name when `multiple` is falsy (#602)
  blocks/FormInput/FormInput.js
  blocks/FormInput/data-output.css
  demo/form.html
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

fix: server validation error rendering
  abstract/UploaderBlock.js
Due: eslint --fix, prettier --write

fix: server validation error rendering (#604)
  abstract/UploaderBlock.js
Due: eslint --fix, prettier --write

fix: progress calculation errors when file is removed during uploading
  abstract/CTX.js
  abstract/UploaderBlock.js
  blocks/FileItem/FileItem.js
Due: eslint --fix, prettier --write

fix(cloud-image-editor): disable image enter transition
  blocks/CloudImageEditor/src/css/common.css
Due: stylelint --fix, prettier --write --parser css

fix(cloud-image-editor): weird ui glitches when updating `cdnUrl` on change
  blocks/CloudImageEditor/src/CloudImageEditorBlock.js
Due: eslint --fix, prettier --write

feat: Add image shrink to the uploader
  blocks/Config/initialConfig.js
  blocks/Config/normalizeConfigValue.js
  blocks/FileItem/FileItem.js
  demo/cloud-image-editor.html
  demo/form.html
  demo/raw-inline.html
  demo/raw-minimal.html
  demo/raw-regular.html
  package-lock.json
  package.json
  types/exported.d.ts
  utils/parseShrink.js
  utils/parseShrink.test.js
Due: eslint --fix, prettier --write, prettier --write --parser json

fix: progress calculation errors when file is removed during uploading (#606)
  abstract/CTX.js
  abstract/UploaderBlock.js
  blocks/FileItem/FileItem.js
Due: eslint --fix, prettier --write

chrore: Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write --parser markdown

fix(shadow-wrapper): wait for `shadowStyles` load before calling `shadowReadyCallback`
  blocks/ShadowWrapper/ShadowWrapper.js
Due: eslint --fix, prettier --write

fix(shadow-wrapper): wait for `shadowStyles` load before calling `shadowReadyCallback` (#611)
  blocks/ShadowWrapper/ShadowWrapper.js
Due: eslint --fix, prettier --write

fix: set `cdnUrlModifers` default to empty string after file upload
  blocks/FileItem/FileItem.js
Due: eslint --fix, prettier --write

fix: set `cdnUrlModifers` default to empty string after file upload (#613)
  blocks/FileItem/FileItem.js
Due: eslint --fix, prettier --write

chore: update codesandbox readme link
  README.md
Due: prettier --write --parser markdown

feat(lr-upload-ctx-provider): add method `addFileFromCdnUrl` to add already uploaded files with predefined cdn url modifiers
  abstract/UploaderBlock.js
  blocks/FileItem/FileItem.js
  utils/parseCdnUrl.js
  utils/parseCdnUrl.test.js
Due: eslint --fix, prettier --write

feat(lr-upload-ctx-provider): add method `removeFileByInternalId`
  abstract/UploaderBlock.js
Due: eslint --fix, prettier --write

feat: add `cameraCapture` option to specify inpit capture attribute value
  abstract/UploaderBlock.js
  blocks/Config/initialConfig.js
  blocks/Config/normalizeConfigValue.js
  types/exported.d.ts
Due: eslint --fix, prettier --write

fix: specify camera input accept attribute value as simple `image/*` to prevent OS to show unrelated sources (video/audio)
  abstract/UploaderBlock.js
Due: eslint --fix, prettier --write

fix: shnow camera system dialog when camera is the only source
  abstract/UploaderBlock.js
  blocks/SourceBtn/SourceBtn.js
Due: eslint --fix, prettier --write

fix: switch camera source output format to JPEG to make it shrinkable
  blocks/CameraSource/CameraSource.js
Due: eslint --fix, prettier --write

chore: little refactor
  blocks/SourceBtn/SourceBtn.js
Due: eslint --fix, prettier --write

feat(lr-upload-ctx-provider): add method `removeFileByInternalId` (#618)
  abstract/UploaderBlock.js
Due: eslint --fix, prettier --write
