Repository uploadcare/file-uploader: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser json, prettier --write --parser markdown

fix: prevent desktop safari from heic to jpeg conversion (#805)
  abstract/UploaderPublicApi.js
  blocks/DropArea/drop-area.css
  blocks/Img/ImgBase.js
  blocks/SourceBtn/SourceBtn.js
  blocks/SourceList/SourceList.js
  blocks/utils/supportCapture.js
  package-lock.json
  package.json
  utils/browser-info.js
  utils/browser-info.test.js
  utils/fileTypes.js
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser json

locales: add `queued` key
  locales/file-uploader/ar.js
  locales/file-uploader/az.js
  locales/file-uploader/ca.js
  locales/file-uploader/cs.js
  locales/file-uploader/da.js
  locales/file-uploader/de.js
  locales/file-uploader/el.js
  locales/file-uploader/en.js
  locales/file-uploader/es.js
  locales/file-uploader/et.js
  locales/file-uploader/fi.js
  locales/file-uploader/fr.js
  locales/file-uploader/he.js
  locales/file-uploader/hy.js
  locales/file-uploader/is.js
  locales/file-uploader/it.js
  locales/file-uploader/ja.js
  locales/file-uploader/ka.js
  locales/file-uploader/kk.js
  locales/file-uploader/ko.js
  locales/file-uploader/lv.js
  locales/file-uploader/nb.js
  locales/file-uploader/nl.js
  locales/file-uploader/pl.js
  locales/file-uploader/pt.js
  locales/file-uploader/ro.js
  locales/file-uploader/ru.js
  locales/file-uploader/sk.js
  locales/file-uploader/sr.js
  locales/file-uploader/sv.js
  locales/file-uploader/tr.js
  locales/file-uploader/uk.js
  locales/file-uploader/vi.js
  locales/file-uploader/zh-TW.js
  locales/file-uploader/zh.js
Due: eslint --fix, prettier --write

feat: show `queued` hint for the uploads currently in queue
  abstract/uploadEntrySchema.js
  blocks/FileItem/FileItem.js
Due: eslint --fix, prettier --write

fix(types): optional `headless` attr
  types/jsx.d.ts
Due: none

fix(types): optional `headless` attr (#807)
  types/jsx.d.ts
Due: none

feat: queued hint (#803)
  abstract/uploadEntrySchema.js
  blocks/FileItem/FileItem.js
  locales/file-uploader/ar.js
  locales/file-uploader/az.js
  locales/file-uploader/ca.js
  locales/file-uploader/cs.js
  locales/file-uploader/da.js
  locales/file-uploader/de.js
  locales/file-uploader/el.js
  locales/file-uploader/en.js
  locales/file-uploader/es.js
  locales/file-uploader/et.js
  locales/file-uploader/fi.js
  locales/file-uploader/fr.js
  locales/file-uploader/he.js
  locales/file-uploader/hy.js
  locales/file-uploader/is.js
  locales/file-uploader/it.js
  locales/file-uploader/ja.js
  locales/file-uploader/ka.js
  locales/file-uploader/kk.js
  locales/file-uploader/ko.js
  locales/file-uploader/lv.js
  locales/file-uploader/nb.js
  locales/file-uploader/nl.js
  locales/file-uploader/pl.js
  locales/file-uploader/pt.js
  locales/file-uploader/ro.js
  locales/file-uploader/ru.js
  locales/file-uploader/sk.js
  locales/file-uploader/sr.js
  locales/file-uploader/sv.js
  locales/file-uploader/tr.js
  locales/file-uploader/uk.js
  locales/file-uploader/vi.js
  locales/file-uploader/zh-TW.js
  locales/file-uploader/zh.js
Due: eslint --fix, prettier --write

feat: added FileItemConfig
  blocks/FileItem/FileItem.js
  blocks/FileItem/FileItemConfig.js
  blocks/Thumb/Thumb.js
Due: eslint --fix, prettier --write

feat: added load thumb
  blocks/Thumb/Thumb.js
Due: eslint --fix, prettier --write

feat: added modalManager for uc-modal
  abstract/ActivityBlock.js
  abstract/Block.js
  abstract/CTX.js
  abstract/ModalManager.js
  abstract/UploaderBlock.js
  abstract/UploaderPublicApi.js
  blocks/CameraSource/CameraSource.js
  blocks/CloudImageEditorActivity/CloudImageEditorActivity.js
  blocks/Config/initialConfig.js
  blocks/Config/normalizeConfigValue.js
  blocks/Config/validatorsType.js
  blocks/DropArea/DropArea.js
  blocks/ExternalSource/ExternalSource.js
  blocks/FileItem/FileItem.js
  blocks/FileItem/file-item.css
  blocks/Modal/Modal.js
  blocks/ProgressBar/ProgressBar.js
  blocks/ProgressBar/progress-bar.css
  blocks/SimpleBtn/SimpleBtn.js
  blocks/SourceBtn/SourceBtn.js
  blocks/StartFrom/StartFrom.js
  blocks/Thumb/Thumb.js
  blocks/Thumb/thumb.css
  blocks/UploadList/UploadList.js
  blocks/UploadList/upload-list.css
  blocks/UrlSource/UrlSource.js
  blocks/themes/uc-basic/common.css
  blocks/themes/uc-basic/index.css
  blocks/themes/uc-basic/theme.css
  demo/raw-minimal.html
  index.js
  solutions/file-uploader/minimal/FileUploaderMinimal.js
  solutions/file-uploader/minimal/index.css
  solutions/file-uploader/minimal/index.js
  solutions/file-uploader/regular/FileUploaderRegular.js
  types/exported.d.ts
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

feat: added preloadImage in Thumb
  blocks/CloudImageEditor/src/EditorFilterControl.js
  blocks/CloudImageEditor/src/EditorImageCropper.js
  blocks/CloudImageEditor/src/EditorImageFader.js
  blocks/CloudImageEditor/src/EditorToolbar.js
  blocks/FileItem/FileItem.js
  blocks/FileItem/FileItemConfig.js
  blocks/Thumb/Thumb.js
  blocks/utils/preloadImage.js
Due: eslint --fix, prettier --write

feat: added DRY for _updateShowFileNames
  blocks/FileItem/FileItem.js
  blocks/Thumb/Thumb.js
Due: eslint --fix, prettier --write

fix thumbnails de-sync
  blocks/Thumb/Thumb.js
Due: eslint --fix, prettier --write

fix progressbar
  blocks/FileItem/file-item.css
  blocks/ProgressBar/ProgressBar.js
  blocks/ProgressBar/progress-bar.css
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

add thumb size limit & disable stretch
  blocks/Thumb/Thumb.js
Due: eslint --fix, prettier --write

feat: add thumb size limit & disable stretch
  blocks/Thumb/Thumb.js
Due: eslint --fix, prettier --write

fix thumbnail unnecessary preloads & fallback on local image
  blocks/Thumb/Thumb.js
Due: eslint --fix, prettier --write

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write --parser markdown

feat(cloud-editor): added image mask
  blocks/CloudImageEditor/src/CropFrame.js
  blocks/CloudImageEditor/src/css/common.css
  blocks/Config/initialConfig.js
  blocks/Config/normalizeConfigValue.js
  demo/cloud-image-editor.html
  types/exported.d.ts
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

feat(cloud-editor): added image mask (#779)
  blocks/CloudImageEditor/src/CropFrame.js
  blocks/CloudImageEditor/src/css/common.css
  blocks/Config/initialConfig.js
  blocks/Config/normalizeConfigValue.js
  demo/cloud-image-editor.html
  types/exported.d.ts
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

fix: added emit events for open/close modal
  abstract/CTX.js
  abstract/ModalManager.js
  blocks/Modal/Modal.js
  blocks/UploadCtxProvider/EventEmitter.js
  types/test/uc-upload-ctx-provider.test-d.tsx
Due: eslint --fix, prettier --write

fix: added emit events for open/close modal (#811)
  abstract/CTX.js
  abstract/ModalManager.js
  blocks/Modal/Modal.js
  blocks/UploadCtxProvider/EventEmitter.js
  types/test/uc-upload-ctx-provider.test-d.tsx
Due: eslint --fix, prettier --write

chore: use vite for dev server
  demo/cloud-image-editor.html
  demo/custom-icons.html
  demo/form.html
  demo/icons.html
  demo/index.html
  demo/locales.html
  demo/new-social-sources-test.html
  demo/preview-proxy/secure-delivery-proxy-url-resolver.html
  demo/preview-proxy/secure-delivery-proxy-url-template.html
  demo/raw-inline.html
  demo/raw-minimal.html
  demo/secure-uploads.html
  demo/test.svg
  demo/upload-api.html
  demo/validators.html
  index.html
  package-lock.json
  package.json
  types/test/uc-cloud-image-editor.test-d.tsx
  vite.config.js
Due: eslint --fix, prettier --write, prettier --write --parser json

fix(l10n): override tranlsations in state if there are no translation for the key
  abstract/LocaleManager.js
Due: eslint --fix, prettier --write

chore: setup dummy test on vitest
  package-lock.json
  package.json
  test-renderer.tsx
  tests/dummy.e2e.test.tsx
  tsconfig.json
  types/test/uc-cloud-image-editor.test-d.tsx
  types/test/uc-config.test-d.tsx
  types/test/uc-form-input.test-d.tsx
  types/test/uc-upload-ctx-provider.test-d.tsx
  vitest.workspace.ts
Due: prettier --write --parser json

chore: format
  demo/cloud-image-editor.html
  demo/locales.html
  demo/preview-proxy/secure-delivery-proxy-url-resolver.html
  demo/preview-proxy/secure-delivery-proxy-url-template.html
  demo/raw-inline.html
  demo/raw-minimal.html
Due: none

chore: fix typo
  package.json
Due: prettier --write --parser json

chore: remove unused import
  tests/dummy.e2e.test.tsx
Due: none

chore: run vitest on ci
  .github/workflows/checks.yml
  package.json
Due: prettier --write --parser json

test: allow to set testid for the elements
  abstract/Block.js
  abstract/testModeProcessor.js
  blocks/CameraSource/CameraSource.js
  package.json
  tests/file-uploader-regular.e2e.test.tsx
  vitest.workspace.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

test: try to fix ci
  tests/__screenshots__/file-uploader-regular.e2e.test.tsx/File-uploader-regular-Add-files-to-the-upload-list-from-camera-1.png
  tests/file-uploader-regular.e2e.test.tsx
Due: none

test: fix some runtime issues
  abstract/UploaderBlock.js
  vitest.workspace.ts
Due: eslint --fix, prettier --write

test: add more test cases
  tests/dummy.e2e.test.tsx
  tests/utils/commands.ts
  vitest.workspace.ts
Due: none

test: add dummy api test
  tests/api.e2e.test.tsx
  tests/file-uploader-regular.e2e.test.tsx
Due: none

test: fix camera test
  tests/file-uploader-regular.e2e.test.tsx
  tests/utils/test-renderer.tsx
  vitest.workspace.ts
Due: none

test: try to fix CI
  tests/file-uploader-regular.e2e.test.tsx
Due: none

Path conditions:
  eslint --fix: any of: *.{js,cjs}
  prettier --write: any of: *.{js,cjs}
  stylelint --fix: any of: *.css
  prettier --write --parser css: any of: *.css
  prettier --write --parser json: any of: *.json
  prettier --write --parser markdown: any of: *.md
