Repository uploadcare/file-uploader: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js,cjs,tsx}": ["biome check --write", "git add"],
  "*.css": ["stylelint --fix", "biome check --write", "git add"],
  "*.json": ["biome check --write", "git add"]
}

ci: pin remaining actions to commit SHAs
  .github/workflows/codeql.yml
  .github/workflows/shipjs-trigger.yml
Due: none

ci: harden checks workflow (review feedback)
  .github/workflows/checks.yml
Due: none

test(e2e): fix flaky validator poll — upload takes ~5-6s, timeout was 5s
  tests/validation.e2e.test.tsx
Due: biome check --write

refactor(drop-down): added anchor-scope
  src/blocks/DropDown/drop-down.css
Due: biome check --write, stylelint --fix

refactor(drop-down): added type button in the header button (#976)
  src/blocks/DropDown/DropDown.ts
  src/blocks/DropDown/drop-down.css
  src/blocks/DynamicBtn/PrimaryAction.ts
Due: biome check --write, stylelint --fix

Update CHANGELOG.md with recent changes
  CHANGELOG.md
Due: none

refactor(clipboard): guard clipboard paste handling by activity and editable targets
  src/abstract/features/ClipboardLayer.ts
Due: biome check --write

refactor(clipboard): guard clipboard paste handling by activity and editable targets (#979)
  src/abstract/features/ClipboardLayer.ts
Due: biome check --write

chore: fixed snippet in dynanic button and updated animation when file is loading
  demo/features/dynamic-button.html
  src/blocks/DynamicBtn/DynamicBtn.ts
  src/blocks/FileItem/FileActionButton.ts
  src/blocks/FileItem/FileItem.ts
  src/blocks/FileItem/file-action-button.css
Due: biome check --write, stylelint --fix

chore(dynamic-button): fixed divider style
  src/blocks/DynamicBtn/dynamic-btn.css
  src/blocks/FileItem/FileActionButton.ts
Due: biome check --write, stylelint --fix

chore(dynamic-button): updated animation when loading a file
  src/blocks/FileItem/FileActionButton.ts
  src/blocks/FileItem/file-action-button.css
  tests/dynamic-btn-upload-list.e2e.test.tsx
Due: biome check --write, stylelint --fix

fix(thumb): added support for rounding size values using Math.round
  src/blocks/Thumb/Thumb.ts
Due: biome check --write

fix(thumb): added support for rounding size values using Math.round (#982)
  src/blocks/Thumb/Thumb.ts
Due: biome check --write

fix(dynamic-button): added compact single source
  src/blocks/DynamicBtn/DynamicBtn.ts
  src/blocks/FileItem/FileItem.ts
  src/blocks/FileItem/file-item.css
  tests/dynamic-btn-upload-list.e2e.test.tsx
Due: biome check --write, stylelint --fix

chore(dynamic-button): migrated preloader icon via uc-icon
  src/blocks/FileItem/FileActionButton.ts
  src/blocks/FileItem/file-action-button.css
  src/blocks/themes/uc-basic/icons/preloader.svg
  src/blocks/themes/uc-basic/svg-sprite.ts
Due: biome check --write, stylelint --fix

fix(dynamic-button): refined loading UI, snippets, and source variants
  demo/features/dynamic-button.html
  src/blocks/DynamicBtn/DynamicBtn.ts
  src/blocks/DynamicBtn/dynamic-btn.css
  src/blocks/FileItem/FileActionButton.ts
  src/blocks/FileItem/FileItem.ts
  src/blocks/FileItem/file-action-button.css
  src/blocks/FileItem/file-item.css
  src/blocks/themes/uc-basic/icons/preloader.svg
  src/blocks/themes/uc-basic/svg-sprite.ts
  tests/dynamic-btn-upload-list.e2e.test.tsx
Due: biome check --write, stylelint --fix

v2: port addFileFromUploadcareFile public API from main (#34e4b5e5)
  src/abstract/UploaderApi.ts
  src/abstract/controllers/UploadCollectionController.ts
Due: biome check --write

v2: port thumb size Math.round from main (#982)
  src/blocks/Thumb/Thumb.ts
Due: biome check --write

v2: rename SmartBtn -> DynamicBtn to match main's public API (#970)
  demo/features/dynamic-button.html
  demo/features/smart-button.html
  demo/v2/dynamic-button.html
  src/abstract/ChildBlock.ts
  src/abstract/UploaderApi.ts
  src/abstract/config-defaults.ts
  src/abstract/controllers/RouterController.ts
  src/abstract/controllers/SourcesController.ts
  src/blocks/Config/initialConfig.ts
  src/blocks/DropArea/DropArea.ts
  src/blocks/DropDown/DropDown.ts
  src/blocks/DynamicBtn/DynamicBtn.ts
  src/blocks/DynamicBtn/NoWrapModeDynamicBtn.ts
  src/blocks/DynamicBtn/PrimaryAction.ts
  src/blocks/DynamicBtn/dynamic-btn-mode.css
  src/blocks/DynamicBtn/dynamic-btn.css
  src/blocks/DynamicBtn/primary-action.css
  src/blocks/FileItem/FileActionButton.ts
  src/blocks/SmartBtn/NoWrapModeSmartBtn.ts
  src/blocks/SmartBtn/smart-btn-mode.css
  src/blocks/SourceBtn/SourceBtn.ts
  src/blocks/UrlSource/UrlSource.ts
  src/index.ts
  src/solutions/file-uploader/regular/FileUploaderRegular.ts
  src/solutions/file-uploader/regular/UploaderRegular.ts
  src/solutions/file-uploader/tray/UploaderTray.ts
  src/types/exported.ts
Due: biome check --write, stylelint --fix

v2: batch plugin registry change notifications (#ce5034aa)
  src/abstract/controllers/PluginRegistryController.test.ts
  src/abstract/controllers/PluginRegistryController.ts
Due: biome check --write

v2: port dynamic-button refinements from main (#44201fa0, #976)
  src/blocks/DropDown/DropDown.ts
  src/blocks/DropDown/drop-down.css
  src/blocks/DynamicBtn/DynamicBtn.ts
  src/blocks/DynamicBtn/PrimaryAction.ts
  src/blocks/DynamicBtn/dynamic-btn.css
  src/blocks/FileItem/FileActionButton.ts
  src/blocks/FileItem/FileItem.ts
  src/blocks/FileItem/file-action-button.css
  src/blocks/themes/uc-basic/svg-sprite.ts
Due: biome check --write, stylelint --fix

v2: re-implement clipboard-paste feature + guard (#979, #964)
  src/abstract/Uploader.ts
  src/abstract/controllers/ClipboardController.test.ts
  src/abstract/controllers/ClipboardController.ts
  src/abstract/controllers/UploaderController.ts
Due: biome check --write

v2: consolidate dynamic-button e2e test
  tests/dynamic-btn-upload-list.e2e.test.tsx
  tests/smart-btn-upload-list.e2e.test.tsx
Due: biome check --write

v2: update npm export snapshot (DynamicBtn rename + addFileFromUploadcareFile)
  specs/npm/__snapshots__/npm.test.ts.snap
Due: none

docs: add v2 strangler migration plan
  MIGRATION-PLAN.md
Due: none

feat: add v2 controller primitives (M0 foundations)
  src/abstract/EventBus.test.ts
  src/abstract/EventBus.ts
  src/abstract/UploaderRegistry.test.ts
  src/abstract/UploaderRegistry.ts
  src/abstract/controllers/UploaderController.test.ts
  src/abstract/controllers/UploaderController.ts
  src/abstract/controllers/index.ts
  src/abstract/host-subscription.test.ts
  src/abstract/host-subscription.ts
  vitest.config.ts
Due: biome check --write

refactor: isolate fan-out failures and tidy listener maps (PR #985 review)
  src/abstract/EventBus.ts
  src/abstract/UploaderRegistry.test.ts
  src/abstract/UploaderRegistry.ts
  src/abstract/host-subscription.test.ts
  src/abstract/host-subscription.ts
Due: biome check --write

docs: add agent/LLM guidance (AGENTS.md + Claude/Copilot pointers)
  .github/copilot-instructions.md
  CLAUDE.md
Due: none

docs: add AGENTS.md agent guide
  AGENTS.md
Due: none

feat: route config state through ConfigController (M1)
  src/abstract/controllers/ConfigController.test.ts
  src/abstract/controllers/ConfigController.ts
  src/abstract/controllers/UploaderController.test.ts
  src/abstract/controllers/UploaderController.ts
  src/lit/PubSubCompat.test.ts
  src/lit/PubSubCompat.ts
Due: biome check --write

refactor: harden ConfigController key handling (PR #986 review)
  src/abstract/controllers/ConfigController.test.ts
  src/abstract/controllers/ConfigController.ts
Due: biome check --write

feat: route locale state through LocaleController (M2)
  src/abstract/controllers/LocaleController.test.ts
  src/abstract/controllers/LocaleController.ts
  src/abstract/controllers/UploaderController.test.ts
  src/abstract/controllers/UploaderController.ts
  src/lit/PubSubCompat.test.ts
  src/lit/PubSubCompat.ts
Due: biome check --write

refactor: harden LocaleController key handling
  src/abstract/controllers/LocaleController.test.ts
  src/abstract/controllers/LocaleController.ts
Due: biome check --write

fix: restore missing-key warning for faceted config/locale reads (PR #987 review)
  src/lit/PubSubCompat.test.ts
  src/lit/PubSubCompat.ts
Due: biome check --write

refactor: de-PubSub per-entry storage (M3a)
  src/abstract/TypedData.test.ts
  src/abstract/TypedData.ts
  src/abstract/UploaderPublicApi.ts
  src/lit/LitUploaderBlock.ts
Due: biome check --write

refactor: isolate TypedData subscriber fan-out (PR #988 review)
  src/abstract/TypedData.test.ts
  src/abstract/TypedData.ts
Due: biome check --write

chore: enable CodeRabbit auto-review for v2 migration branches
  .coderabbit.yaml
Due: none
