Repository uploadcare/file-uploader: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser json, prettier --write --parser markdown

feat(tui): added tui
  blocks/EditorTui/EditorTui.js
  blocks/FileItem/FileItem.js
  blocks/themes/uc-basic/post-reset.css
  demo/raw-regular.html
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

feat(a11y): Added an event listener on the file, for availability
  blocks/FileItem/FileItem.js
  blocks/UploadList/UploadList.js
Due: eslint --fix, prettier --write

fix(readme.md): changed npm version link
  README.md
Due: prettier --write --parser markdown

fix(readme.md): changed npm version link (#734)
  README.md
Due: prettier --write --parser markdown

feat(entry-file): added file upload source
  abstract/UploaderPublicApi.js
  abstract/uploadEntrySchema.js
  blocks/FileItem/FileItem.js
Due: eslint --fix, prettier --write

feat(locale): added locale a11y-file-item-status
  blocks/FileItem/FileItem.js
  locales/file-uploader/ar.js
  locales/file-uploader/az.js
  locales/file-uploader/ca.js
  locales/file-uploader/cs.js
  locales/file-uploader/da.js
  locales/file-uploader/de.js
  locales/file-uploader/el.js
  locales/file-uploader/en.js
  locales/file-uploader/es.js
  locales/file-uploader/et.js
  locales/file-uploader/fr.js
  locales/file-uploader/he.js
  locales/file-uploader/hy.js
  locales/file-uploader/is.js
  locales/file-uploader/it.js
  locales/file-uploader/ja.js
  locales/file-uploader/ka.js
  locales/file-uploader/kk.js
  locales/file-uploader/ko.js
  locales/file-uploader/lv.js
  locales/file-uploader/nb.js
  locales/file-uploader/nl.js
  locales/file-uploader/pl.js
  locales/file-uploader/pt.js
  locales/file-uploader/ro.js
  locales/file-uploader/ru.js
  locales/file-uploader/sk.js
  locales/file-uploader/sr.js
  locales/file-uploader/sv.js
  locales/file-uploader/tr.js
  locales/file-uploader/uk.js
  locales/file-uploader/vi.js
  locales/file-uploader/zh-TW.js
  locales/file-uploader/zh.js
Due: eslint --fix, prettier --write

feat(a11y): added an event listener on the file, for availability (#733)
  blocks/FileItem/FileItem.js
  blocks/UploadList/UploadList.js
  locales/file-uploader/ar.js
  locales/file-uploader/az.js
  locales/file-uploader/ca.js
  locales/file-uploader/cs.js
  locales/file-uploader/da.js
  locales/file-uploader/de.js
  locales/file-uploader/el.js
  locales/file-uploader/en.js
  locales/file-uploader/es.js
  locales/file-uploader/et.js
  locales/file-uploader/fr.js
  locales/file-uploader/he.js
  locales/file-uploader/hy.js
  locales/file-uploader/is.js
  locales/file-uploader/it.js
  locales/file-uploader/ja.js
  locales/file-uploader/ka.js
  locales/file-uploader/kk.js
  locales/file-uploader/ko.js
  locales/file-uploader/lv.js
  locales/file-uploader/nb.js
  locales/file-uploader/nl.js
  locales/file-uploader/pl.js
  locales/file-uploader/pt.js
  locales/file-uploader/ro.js
  locales/file-uploader/ru.js
  locales/file-uploader/sk.js
  locales/file-uploader/sr.js
  locales/file-uploader/sv.js
  locales/file-uploader/tr.js
  locales/file-uploader/uk.js
  locales/file-uploader/vi.js
  locales/file-uploader/zh-TW.js
  locales/file-uploader/zh.js
Due: eslint --fix, prettier --write

feat: added method getSourceTypes
  abstract/UploaderBlock.js
  abstract/UploaderPublicApi.js
Due: eslint --fix, prettier --write

feat: added export UploadSource, ExternalUploadSource
  abstract/UploaderBlock.js
  abstract/UploaderPublicApi.js
  blocks/DropArea/DropArea.js
  blocks/SourceBtn/SourceBtn.js
  blocks/UrlSource/UrlSource.js
  blocks/utils/UploadSource.js
  index.js
Due: eslint --fix, prettier --write

feat: added types and handler fallback
  abstract/UploaderBlock.js
  blocks/FileItem/FileItem.js
  blocks/utils/UploadSource.js
  types/exported.d.ts
Due: eslint --fix, prettier --write

build(ssr): added check object and return stubbedExports with obj
  build-ssr-stubs.js
Due: eslint --fix, prettier --write

feat(types): added SourceTypes in the OutputFileEntry
  types/exported.d.ts
Due: none

test(types): added test for source type in the file
  types/exported.d.ts
  types/test/uc-upload-ctx-provider.test-d.tsx
Due: none

feat(entry-file): added file upload source (#736)
  abstract/UploaderBlock.js
  abstract/UploaderPublicApi.js
  abstract/uploadEntrySchema.js
  blocks/DropArea/DropArea.js
  blocks/FileItem/FileItem.js
  blocks/SourceBtn/SourceBtn.js
  blocks/UrlSource/UrlSource.js
  blocks/utils/UploadSource.js
  build-ssr-stubs.js
  index.js
  types/exported.d.ts
  types/test/uc-upload-ctx-provider.test-d.tsx
Due: eslint --fix, prettier --write

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write --parser markdown

accessible primary colors
  blocks/themes/uc-basic/theme.css
Due: stylelint --fix, prettier --write --parser css

primary-transparent-light tweak
  blocks/themes/uc-basic/theme.css
Due: stylelint --fix, prettier --write --parser css

TEMP: husky fix
  .husky/pre-commit
Due: none

source button contrast
  blocks/SourceBtn/source-btn.css
Due: stylelint --fix, prettier --write --parser css

secondary and mini button contrast
  blocks/themes/uc-basic/common.css
Due: stylelint --fix, prettier --write --parser css

modal outline
  blocks/Modal/modal.css
Due: stylelint --fix, prettier --write --parser css

border color
  blocks/themes/uc-basic/theme.css
Due: stylelint --fix, prettier --write --parser css

drop-area
  blocks/DropArea/drop-area.css
  solutions/file-uploader/minimal/index.css
Due: stylelint --fix, prettier --write --parser css

file item
  blocks/FileItem/file-item.css
Due: stylelint --fix, prettier --write --parser css

more color tweaks
  blocks/themes/uc-basic/theme.css
Due: stylelint --fix, prettier --write --parser css

cloudeditor basic
  blocks/CloudImageEditor/src/css/common.css
  demo/raw-minimal.html
  demo/raw-regular.html
Due: stylelint --fix, prettier --write --parser css

less borders
  blocks/FileItem/file-item.css
  blocks/Modal/modal.css
  blocks/SourceBtn/source-btn.css
  blocks/themes/uc-basic/common.css
  blocks/themes/uc-basic/theme.css
Due: stylelint --fix, prettier --write --parser css

revert test class
  demo/raw-minimal.html
Due: none

fix contrasts in regular themes
  blocks/DropArea/drop-area.css
  blocks/FileItem/file-item.css
  blocks/SourceBtn/source-btn.css
  blocks/themes/uc-basic/theme.css
Due: stylelint --fix, prettier --write --parser css

minor
  blocks/DropArea/drop-area.css
Due: stylelint --fix, prettier --write --parser css

cloudimageeditor
  blocks/CloudImageEditor/src/css/common.css
  blocks/CloudImageEditor/src/elements/slider/SliderUi.js
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

revert test class
  demo/raw-regular.html
Due: none

tweak .uc-contrast
  blocks/CloudImageEditor/src/css/common.css
  blocks/themes/uc-basic/common.css
  blocks/themes/uc-basic/theme.css
Due: stylelint --fix, prettier --write --parser css

Revert "TEMP: husky fix"
  .husky/pre-commit
Due: none

fix: linter css
  blocks/CloudImageEditor/src/css/common.css
Due: stylelint --fix, prettier --write --parser css

feat: WCAG AAA contrast and high-contrast theme (#739)
  blocks/CloudImageEditor/src/css/common.css
  blocks/CloudImageEditor/src/elements/slider/SliderUi.js
  blocks/DropArea/drop-area.css
  blocks/FileItem/file-item.css
  blocks/Modal/modal.css
  blocks/SourceBtn/source-btn.css
  blocks/themes/uc-basic/common.css
  blocks/themes/uc-basic/theme.css
  solutions/file-uploader/minimal/index.css
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

Update README
  README.md
  package.json
Due: prettier --write --parser json, prettier --write --parser markdown

Path conditions:
  eslint --fix: any of: *.{js,cjs}
  prettier --write: any of: *.{js,cjs}
  stylelint --fix: any of: *.css
  prettier --write --parser css: any of: *.css
  prettier --write --parser json: any of: *.json
  prettier --write --parser markdown: any of: *.md
