Repository uploadcare/file-uploader: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser json, prettier --write --parser markdown

.lintstagedrc.json:

{
  "*.{js,cjs}": ["eslint --fix", "prettier --write", "git add"],
  "*.css": ["stylelint --fix", "prettier --write --parser css", "git add"],
  "*.json": ["prettier --write --parser json", "git add"],
  "*.md": ["prettier --write --parser markdown", "git add"]
}

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write --parser markdown

rgb fallback
  blocks/themes/lr-basic/theme.css
Due: stylelint --fix, prettier --write --parser css

update icons sprite
  blocks/CloudImageEditor/src/svg-sprite.js
  blocks/themes/lr-basic/svg-sprite.js
Due: eslint --fix, prettier --write

desaturated all grays
  blocks/themes/lr-basic/theme.css
Due: stylelint --fix, prettier --write --parser css

fix destructive-dark
  blocks/themes/lr-basic/theme.css
Due: stylelint --fix, prettier --write --parser css

brighten simple-btn
  blocks/themes/lr-basic/theme.css
Due: stylelint --fix, prettier --write --parser css

Simplify uc-dark/light selectors
  blocks/themes/lr-basic/theme.css
Due: stylelint --fix, prettier --write --parser css

Styling selectors via attrs
  abstract/Block.js
  abstract/SolutionBlock.js
  blocks/CameraSource/camera-source.css
  blocks/CloudImageEditor/src/CloudImageEditorBlock.js
  blocks/CloudImageEditor/src/css/common.css
  blocks/CloudImageEditorActivity/index.css
  blocks/DropArea/DropArea.js
  blocks/DropArea/drop-area.css
  blocks/ExternalSource/external-source.css
  blocks/Modal/Modal.js
  blocks/Modal/modal.css
  blocks/SimpleBtn/SimpleBtn.js
  blocks/SimpleBtn/simple-btn.css
  blocks/StartFrom/start-from.css
  blocks/UploadList/upload-list.css
  blocks/UrlSource/url-source.css
  blocks/themes/lr-basic/common.css
  blocks/themes/lr-basic/config.css
  blocks/themes/lr-basic/theme.css
  demo/form.html
  index.js
  solutions/file-uploader/inline/FileUploaderInline.js
  solutions/file-uploader/inline/index.css
  solutions/file-uploader/minimal/FileUploaderMinimal.js
  solutions/file-uploader/minimal/index.css
  solutions/file-uploader/regular/FileUploaderRegular.js
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

Fix cloud image editor solution styles
  blocks/CloudImageEditor/src/CloudImageEditorBlock.js
  blocks/CloudImageEditor/src/css/icons.css
  blocks/themes/lr-basic/theme.css
  solutions/cloud-image-editor/CloudImageEditor.js
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

Fix modal content width
  blocks/ExternalSource/external-source.css
  blocks/StartFrom/start-from.css
  blocks/UploadList/upload-list.css
  blocks/UrlSource/url-source.css
Due: stylelint --fix, prettier --write --parser css

Fix theme colors specificity
  blocks/themes/lr-basic/theme.css
Due: stylelint --fix, prettier --write --parser css

Rename custom property
  blocks/themes/lr-basic/theme.css
Due: stylelint --fix, prettier --write --parser css

Add some comments
  blocks/themes/lr-basic/theme.css
Due: stylelint --fix, prettier --write --parser css

darker color for dark demos
  demo/raw-inline.html
  demo/raw-minimal.html
  demo/raw-regular.html
Due: none

rm comments in fallback
  blocks/themes/lr-basic/theme.css
Due: stylelint --fix, prettier --write --parser css

Refactor CloudImageEditorSolution solution
  blocks/CloudImageEditor/src/css/index.css
  solutions/cloud-image-editor/CloudImageEditor.js
  solutions/cloud-image-editor/index.css
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

another syntax mistake fixed
  blocks/themes/lr-basic/theme.css
Due: stylelint --fix, prettier --write --parser css

Hide close button for inline mode
  solutions/file-uploader/inline/index.css
Due: stylelint --fix, prettier --write --parser css

dark demo background again
  demo/raw-inline.html
  demo/raw-minimal.html
  demo/raw-regular.html
Due: none

Move all the theme variables to the :root scope
  blocks/themes/lr-basic/theme.css
Due: stylelint --fix, prettier --write --parser css

independent vars for simple-btn, rgb fallback fix
  blocks/themes/lr-basic/theme.css
Due: stylelint --fix, prettier --write --parser css

Add cursor pointer to the copyright link
  blocks/Copyright/copyright.css
Due: stylelint --fix, prettier --write --parser css

Move theme variables back to lr-wgt-common scope
  blocks/themes/lr-basic/theme.css
Due: stylelint --fix, prettier --write --parser css

fix potential color notation problems
  blocks/themes/lr-basic/theme.css
Due: stylelint --fix, prettier --write --parser css

detach simplebtn font values
  blocks/themes/lr-basic/theme.css
Due: stylelint --fix, prettier --write --parser css

Fix not-image icon color
  blocks/svg-backgrounds/svg-backgrounds.js
Due: eslint --fix, prettier --write

Better social sources theming
  blocks/ExternalSource/ExternalSource.js
  blocks/ExternalSource/buildStyles.js
  demo/raw-regular.html
Due: eslint --fix, prettier --write

feat: remove deprecated `setUploadMetadata` method
  abstract/CTX.js
  abstract/UploaderBlock.js
Due: eslint --fix, prettier --write

feat: remove depreacted `addFiles` method
  abstract/UploaderBlock.js
Due: eslint --fix, prettier --write

rm uc-light from raw-regular demo
  demo/raw-regular.html
Due: none

social sources button title `Done`
  blocks/ExternalSource/ExternalSource.js
Due: eslint --fix, prettier --write

remove unneeded icons
  blocks/themes/lr-basic/icons/check.svg
  blocks/themes/lr-basic/icons/detail.svg
  blocks/themes/lr-basic/icons/dots.svg
  blocks/themes/lr-basic/icons/edit-brightness.svg
  blocks/themes/lr-basic/icons/edit-color.svg
  blocks/themes/lr-basic/icons/edit-contrast.svg
  blocks/themes/lr-basic/icons/edit-crop.svg
  blocks/themes/lr-basic/icons/edit-draw.svg
  blocks/themes/lr-basic/icons/edit-file.svg
  blocks/themes/lr-basic/icons/edit-flip-h.svg
  blocks/themes/lr-basic/icons/edit-flip-v.svg
  blocks/themes/lr-basic/icons/edit-guides.svg
  blocks/themes/lr-basic/icons/edit-resize.svg
  blocks/themes/lr-basic/icons/edit-rotate.svg
  blocks/themes/lr-basic/icons/edit-saturation.svg
  blocks/themes/lr-basic/icons/edit-text.svg
  blocks/themes/lr-basic/icons/edit.svg
  blocks/themes/lr-basic/icons/remove.svg
  blocks/themes/lr-basic/icons/trash-file.svg
Due: none

svg sprite rebuild
  blocks/themes/lr-basic/svg-sprite.js
Due: eslint --fix, prettier --write

replaced image in readme
  README.md
Due: prettier --write --parser markdown

rm theme readme
  blocks/themes/lr-basic/README.md
Due: prettier --write --parser markdown

rm fullscreen icons
  blocks/themes/lr-basic/icons/fullscreen-exit.svg
  blocks/themes/lr-basic/icons/fullscreen.svg
  blocks/themes/lr-basic/svg-sprite.js
Due: eslint --fix, prettier --write

fix error line height
  blocks/FileItem/file-item.css
Due: stylelint --fix, prettier --write --parser css

Restore edit-file icon
  blocks/CloudImageEditor/src/icons/edit-file.svg
  blocks/CloudImageEditor/src/svg-sprite.js
  blocks/themes/lr-basic/svg-sprite.js
Due: eslint --fix, prettier --write

Rebuild sprites
  blocks/CloudImageEditor/src/svg-sprite.js
  blocks/themes/lr-basic/svg-sprite.js
Due: eslint --fix, prettier --write
