Repository uploadcare/file-uploader: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser json, prettier --write --parser markdown

Add `--uc-line-height` css property
  blocks/FileItem/file-item.css
  blocks/themes/lr-basic/common.css
  blocks/themes/lr-basic/theme.css
  solutions/file-uploader/minimal/index.css
Due: stylelint --fix, prettier --write --parser css

feat: async `secureDeliveryProxyUrlResolver`
  abstract/Block.js
  blocks/CloudImageEditor/src/EditorFilterControl.js
  blocks/CloudImageEditor/src/EditorImageCropper.js
  blocks/CloudImageEditor/src/EditorImageFader.js
  blocks/CloudImageEditor/src/EditorToolbar.js
  blocks/FileItem/FileItem.js
  types/exported.d.ts
Due: eslint --fix, prettier --write

fix: transitions & thumbs performance bottleneck
  abstract/Block.js
  blocks/FileItem/FileItem.js
  blocks/FileItem/file-item.css
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

chore: use biome instead of eslint & prettier for JS
  .eslintrc
  .lintstagedrc.json
  biome.json
  blocks/CloudImageEditor/src/lib/applyFocusVisiblePolyfill.js
  index.js
  package-lock.json
  package.json
  types/index.js
Due: eslint --fix, prettier --write, prettier --write --parser json

feat: async `secureDeliveryProxyUrlResolver`
  blocks/CloudImageEditor/src/CloudImageEditorBlock.js
Due: eslint --fix, prettier --write

Update thumb generation observer options to fix inline mode
  blocks/FileItem/FileItem.js
Due: eslint --fix, prettier --write

Specifiy file item height, add some optimizations to rendering, specify transition properties
  blocks/DropArea/drop-area.css
  blocks/FileItem/file-item.css
Due: stylelint --fix, prettier --write --parser css

Fix drop-area icon transition
  blocks/DropArea/drop-area.css
Due: stylelint --fix, prettier --write --parser css

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write --parser markdown

feat(a11y): added support in the CloudImageEditor
  blocks/CloudImageEditor/src/EditorButtonControl.js
  blocks/CloudImageEditor/src/EditorFilterControl.js
  blocks/CloudImageEditor/src/EditorToolbar.js
  blocks/CloudImageEditor/src/css/buttons.css
  blocks/CloudImageEditor/src/css/common.css
  blocks/CloudImageEditor/src/elements/button/LrBtnUi.js
  blocks/CloudImageEditor/src/elements/slider/SliderUi.js
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

feat(a11y): added support in the SourceBtn
  blocks/SourceBtn/SourceBtn.js
  blocks/SourceBtn/source-btn.css
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

feat(a11y): added title to button in the FileItem
  blocks/FileItem/FileItem.js
  blocks/FileItem/file-item.css
  locales/file-uploader/en.js
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

feat(a11y): added zIndex if it wasn't there
  blocks/CloudImageEditor/src/EditorButtonControl.js
  blocks/CloudImageEditor/src/elements/button/LrBtnUi.js
Due: eslint --fix, prettier --write

feat(a11y): added fields to locale
  locales/file-uploader/ar.js
  locales/file-uploader/az.js
  locales/file-uploader/ca.js
  locales/file-uploader/cs.js
  locales/file-uploader/da.js
  locales/file-uploader/de.js
  locales/file-uploader/el.js
  locales/file-uploader/en.js
  locales/file-uploader/es.js
  locales/file-uploader/et.js
  locales/file-uploader/fr.js
  locales/file-uploader/he.js
  locales/file-uploader/hy.js
  locales/file-uploader/is.js
  locales/file-uploader/it.js
  locales/file-uploader/ja.js
  locales/file-uploader/ka.js
  locales/file-uploader/kk.js
  locales/file-uploader/ko.js
  locales/file-uploader/lv.js
  locales/file-uploader/nb.js
  locales/file-uploader/nl.js
  locales/file-uploader/pl.js
  locales/file-uploader/pt.js
  locales/file-uploader/ro.js
  locales/file-uploader/ru.js
  locales/file-uploader/sk.js
  locales/file-uploader/sr.js
  locales/file-uploader/sv.js
  locales/file-uploader/tr.js
  locales/file-uploader/uk.js
  locales/file-uploader/vi.js
  locales/file-uploader/zh-TW.js
  locales/file-uploader/zh.js
Due: eslint --fix, prettier --write

feat(a11y): navigating with the keyboard
  abstract/Block.js
  abstract/a11y.js
  blocks/CloudImageEditor/src/EditorButtonControl.js
  blocks/CloudImageEditor/src/EditorFilterControl.js
  blocks/CloudImageEditor/src/EditorToolbar.js
  blocks/CloudImageEditor/src/css/common.css
  blocks/CloudImageEditor/src/elements/button/LrBtnUi.js
  blocks/DropArea/DropArea.js
  demo/cloud-image-editor.html
  demo/raw-inline.html
  demo/raw-minimal.html
  demo/raw-regular.html
  package-lock.json
  package.json
  solutions/file-uploader/minimal/FileUploaderMinimal.js
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser json

fix(a11y): fixed style in the SourceBtn
  blocks/SourceBtn/source-btn.css
Due: stylelint --fix, prettier --write --parser css

fix(a11y): updated styles after PR with theme
  blocks/CloudImageEditor/src/EditorButtonControl.js
  blocks/CloudImageEditor/src/EditorToolbar.js
  blocks/CloudImageEditor/src/css/buttons.css
  blocks/CloudImageEditor/src/css/common.css
  blocks/CloudImageEditor/src/elements/button/LrBtnUi.js
  blocks/Copyright/copyright.css
  blocks/Select/Select.js
  blocks/Select/select.css
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

fix(a11y): scope keyux events to the uploader-related DOM
  abstract/Block.js
  abstract/a11y.js
Due: eslint --fix, prettier --write

refactor(a11y): register a11y scopes ondemand
  abstract/ActivityBlock.js
  abstract/Block.js
  abstract/SolutionBlock.js
  abstract/UploaderBlock.js
  abstract/a11y.js
  solutions/cloud-image-editor/CloudImageEditor.js
Due: eslint --fix, prettier --write

fix(a11y): destroy listeners
  abstract/a11y.js
Due: eslint --fix, prettier --write

feat(a11y): added CustomEvent in the ScopedMinimalWindow and isolation global style
  abstract/a11y.js
  blocks/CloudImageEditor/src/EditorToolbar.js
  blocks/CloudImageEditor/src/css/common.css
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

chore: fixes after merge
  abstract/ActivityBlock.js
  abstract/Block.js
  abstract/SolutionBlock.js
  abstract/a11y.js
  biome.json
  blocks/CloudImageEditor/src/CropFrame.js
  blocks/CloudImageEditor/src/EditorScroller.js
  blocks/CloudImageEditor/src/EditorToolbar.js
  blocks/CloudImageEditor/src/elements/presence-toggle/PresenceToggle.js
  blocks/ExternalSource/ExternalSource.js
  blocks/ExternalSource/buildStyles.js
  blocks/FileItem/FileItem.js
  blocks/SourceBtn/SourceBtn.js
  blocks/StartFrom/StartFrom.js
  build-ssr-stubs.js
  build.js
  types/jsx.d.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

chore: fixes after merge
  biome.json
Due: prettier --write --parser json

refactor: use optional chaining to invoke fn
  blocks/CloudImageEditor/src/EditorFilterControl.js
  blocks/CloudImageEditor/src/EditorImageCropper.js
  blocks/CloudImageEditor/src/EditorToolbar.js
Due: eslint --fix, prettier --write

fix(events): Added status after deleting files in idle
  abstract/UploaderBlock.js
  abstract/buildOutputCollectionState.js
Due: eslint --fix, prettier --write

fix(events): Added status after deleting files in idle (#684)
  abstract/UploaderBlock.js
  abstract/buildOutputCollectionState.js
Due: eslint --fix, prettier --write

fix(icons): added icon edit file
  blocks/themes/lr-basic/icons/edit-file.svg
Due: none

fix(icons): added icon edit file (#687)
  blocks/themes/lr-basic/icons/edit-file.svg
Due: none

fix(icons): Added currentColor to icon edit-file
  blocks/themes/lr-basic/icons/edit-file.svg
Due: none

fix(icons): Added currentColor to icon edit-file (#689)
  blocks/themes/lr-basic/icons/edit-file.svg
Due: none

chore: mark private/protected methods
  abstract/ActivityBlock.js
  abstract/Block.js
  abstract/UploaderBlock.js
  abstract/UploaderPublicApi.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,cjs}
  prettier --write: any of: *.{js,cjs}
  stylelint --fix: any of: *.css
  prettier --write --parser css: any of: *.css
  prettier --write --parser json: any of: *.json
  prettier --write --parser markdown: any of: *.md
