Repository uploadcare/file-uploader: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser json, prettier --write --parser markdown

fix: correct capitalization from "Onedrive" to "OneDrive"
  locales/file-uploader/ar.js
  locales/file-uploader/az.js
  locales/file-uploader/ca.js
  locales/file-uploader/cs.js
  locales/file-uploader/da.js
  locales/file-uploader/de.js
  locales/file-uploader/el.js
  locales/file-uploader/en.js
  locales/file-uploader/es.js
  locales/file-uploader/et.js
  locales/file-uploader/fi.js
  locales/file-uploader/fr.js
  locales/file-uploader/he.js
  locales/file-uploader/hy.js
  locales/file-uploader/is.js
  locales/file-uploader/it.js
  locales/file-uploader/ja.js
  locales/file-uploader/ka.js
  locales/file-uploader/kk.js
  locales/file-uploader/ko.js
  locales/file-uploader/lv.js
  locales/file-uploader/nb.js
  locales/file-uploader/nl.js
  locales/file-uploader/pl.js
  locales/file-uploader/pt.js
  locales/file-uploader/ro.js
  locales/file-uploader/ru.js
  locales/file-uploader/sk.js
  locales/file-uploader/sr.js
  locales/file-uploader/sv.js
  locales/file-uploader/tr.js
  locales/file-uploader/uk.js
  locales/file-uploader/vi.js
  locales/file-uploader/zh-TW.js
  locales/file-uploader/zh.js
Due: eslint --fix, prettier --write

chore: bump vitest
  package-lock.json
  package.json
Due: prettier --write --parser json

types: fix upload entry schema type
  abstract/uploadEntrySchema.js
Due: eslint --fix, prettier --write

test: add validation tests
  tests/fixtures/files.ts
  tests/validation.e2e.test.tsx
Due: none

chore: remove unused log comment
  abstract/UploaderPublicApi.js
Due: eslint --fix, prettier --write

chore: bump uploadcare deps
  package-lock.json
  package.json
Due: prettier --write --parser json

chore(locales): remove obsolete aspect-ratio key from en locale
  locales/file-uploader/en.js
Due: eslint --fix, prettier --write

fix(cloud-image-editor): ResizeObserver loop completed with undelivered notifications error
  blocks/CloudImageEditor/src/CloudImageEditorBlock.js
Due: eslint --fix, prettier --write

refactor: little performance optimization
  abstract/managers/ValidationManager.js
Due: eslint --fix, prettier --write

fix(locales): correct capitalization from "Onedrive" to "OneDrive" (#863)
  locales/file-uploader/ar.js
  locales/file-uploader/az.js
  locales/file-uploader/ca.js
  locales/file-uploader/cs.js
  locales/file-uploader/da.js
  locales/file-uploader/de.js
  locales/file-uploader/el.js
  locales/file-uploader/en.js
  locales/file-uploader/es.js
  locales/file-uploader/et.js
  locales/file-uploader/fi.js
  locales/file-uploader/fr.js
  locales/file-uploader/he.js
  locales/file-uploader/hy.js
  locales/file-uploader/is.js
  locales/file-uploader/it.js
  locales/file-uploader/ja.js
  locales/file-uploader/ka.js
  locales/file-uploader/kk.js
  locales/file-uploader/ko.js
  locales/file-uploader/lv.js
  locales/file-uploader/nb.js
  locales/file-uploader/nl.js
  locales/file-uploader/pl.js
  locales/file-uploader/pt.js
  locales/file-uploader/ro.js
  locales/file-uploader/ru.js
  locales/file-uploader/sk.js
  locales/file-uploader/sr.js
  locales/file-uploader/sv.js
  locales/file-uploader/tr.js
  locales/file-uploader/uk.js
  locales/file-uploader/vi.js
  locales/file-uploader/zh-TW.js
  locales/file-uploader/zh.js
Due: eslint --fix, prettier --write

test: add types tests for validator config
  types/test/uc-config.test-d.tsx
Due: none

test: fix flaky tests
  abstract/managers/ValidationManager.js
  tests/validation.e2e.test.tsx
  vite.config.js
  vitest.workspace.ts
Due: eslint --fix, prettier --write

Update CHANGELOG with async validation documentation link
  CHANGELOG.md
Due: prettier --write --parser markdown

chore: npm package API surface test
  .github/workflows/checks.yml
  build-ssr-stubs.js
  package.json
  specs/npm/__snapshots__/npm.test.ts.snap
  specs/npm/npm.test.ts
  tests/__screenshots__/file-uploader-regular.e2e.test.tsx/File-uploader-regular-Add-files-to-the-upload-list-from-camera-1.png
  vite.config.js
Due: eslint --fix, prettier --write, prettier --write --parser json

test: move unit tests to vitest & typescript
  src/blocks/CloudImageEditor/src/lib/classNames.test.ts
  src/blocks/CloudImageEditor/src/lib/linspace.test.ts
  src/blocks/CloudImageEditor/src/lib/parseCropPreset.test.ts
  src/blocks/CloudImageEditor/src/lib/pick.test.ts
  src/blocks/CloudImageEditor/src/utils/parseFilterValue.test.ts
  src/utils/browser-info.test.ts
  src/utils/cdn-utils.test.ts
  src/utils/fileTypes.test.ts
  src/utils/getPluralForm.test.ts
  src/utils/isPromiseLike.test.ts
  src/utils/isSecureTokenExpired.test.ts
  src/utils/memoize.test.ts
  src/utils/parseCdnUrl.test.ts
  src/utils/parseShrink.test.ts
  src/utils/prettyBytes.test.ts
  src/utils/stringToArray.test.ts
  src/utils/template-utils.test.ts
  src/utils/toKebabCase.test.ts
  src/utils/uniqueArray.test.ts
  src/utils/waitForAttribute.test.ts
  src/utils/wildcardRegexp.test.ts
  src/utils/withResolvers.test.ts
  utils/cdn-utils.test.js
  utils/fileTypes.test.js
  utils/getPluralForm.test.js
  utils/isPromiseLike.test.js
  utils/isSecureTokenExpired.test.js
  utils/parseShrink.test.js
  utils/prettyBytes.test.js
  utils/stringToArray.test.js
  utils/toKebabCase.test.js
Due: eslint --fix, prettier --write

lint: setup biome
  .eslintignore
  .eslintrc
  .lintstagedrc.json
  .prettierignore
  .prettierrc
  biome.json
  package.json
Due: prettier --write --parser json

lint: enable noInferrableTypes rule
  .lintstagedrc.json
  biome.json
  scripts/test-locales.ts
  src/abstract/UploaderBlock.ts
  src/abstract/UploaderPublicApi.ts
  src/abstract/l10nProcessor.ts
  src/abstract/managers/LocaleManager.ts
  src/abstract/managers/ValidationManager.ts
  src/blocks/CameraSource/CameraSource.ts
  src/blocks/CloudImageEditor/src/EditorFilterControl.ts
  src/blocks/CloudImageEditor/src/EditorImageCropper.ts
  src/blocks/CloudImageEditor/src/lib/applyFocusVisiblePolyfill.ts
  src/blocks/Config/validatorsType.ts
  src/blocks/ExternalSource/ExternalSource.ts
  src/blocks/Thumb/Thumb.ts
  src/index.ts
  src/utils/abilities.ts
  src/utils/debounce.ts
  src/utils/preloadImage.ts
  src/utils/resizeImage.ts
  src/utils/throttle.ts
  src/utils/userAgent.ts
Due: prettier --write --parser json

fix(external): hidden button done before the auth source
  blocks/ExternalSource/ExternalSource.js
Due: eslint --fix, prettier --write

fix(external): hidden button done before the auth source (#869)
  blocks/ExternalSource/ExternalSource.js
Due: eslint --fix, prettier --write

Update CHANGELOG for version 1.23.1
  CHANGELOG.md
Due: prettier --write --parser markdown

chore: fix any type
  src/abstract/ActivityBlock.ts
  src/abstract/Block.ts
Due: none

chore: fix any type
  src/abstract/managers/ValidationManager.ts
Due: none

chore: extract api add file common options
  src/abstract/UploaderPublicApi.ts
  src/types/exported.ts
Due: none

chore: fix optional chaining
  src/abstract/Block.ts
Due: none

chore: fix flaky test
  tests/validation.e2e.test.tsx
Due: none

chore: revert version
  package.json
Due: prettier --write --parser json

chore: revert version (#871)
  package.json
Due: prettier --write --parser json

chore: disable format md with biome
  .lintstagedrc.json
Due: prettier --write --parser json

chore: disable format md with biome (#872)
  .lintstagedrc.json
Due: prettier --write --parser json

chore: disable test tsc for precommit
  .husky/pre-commit
Due: none

chore: disable test tsc for precommit (#873)
  .husky/pre-commit
Due: none

Path conditions:
  eslint --fix: any of: *.{js,cjs}
  prettier --write: any of: *.{js,cjs}
  stylelint --fix: any of: *.css
  prettier --write --parser css: any of: *.css
  prettier --write --parser json: any of: *.json
  prettier --write --parser markdown: any of: *.md
