Repository uploadcare/file-uploader: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser json, prettier --write --parser markdown

chore: export config type
  index.js
  types/exported.d.ts
  types/exported.js
Due: eslint --fix, prettier --write

chore: use config from outer context inside cloud-editor instance
  abstract/Block.js
  abstract/initialConfig.js
  blocks/CloudImageEditor/CloudImageEditor.js
  blocks/CloudImageEditor/src/CloudEditor.js
  blocks/CloudImageEditor/src/state.js
  blocks/Config/Config.js
  blocks/Config/initialConfig.js
  blocks/Config/normalizeConfigValue.js
  blocks/ShadowWrapper/ShadowWrapper.js
Due: eslint --fix, prettier --write

chore: refactor
  abstract/Block.js
  blocks/CloudImageEditor/src/CloudEditor.js
Due: eslint --fix, prettier --write

chore: add jsx types for config block
  types/jsx.d.ts
  utils/toKebabCase.js
Due: eslint --fix, prettier --write

fix(copyright): not working --cfg-remove-copyright config option
  blocks/Copyright/Copyright.js
  blocks/StartFrom/start-from.css
  solutions/file-uploader/inline/index.css
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

fix(copyright): not working --cfg-remove-copyright config option (#473)
  blocks/Copyright/Copyright.js
  blocks/StartFrom/start-from.css
  solutions/file-uploader/inline/index.css
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

chore: fix exports for types
  package.json
Due: prettier --write --parser json

chore: use css for init and done activities
  abstract/ActivityBlock.js
  blocks/Config/initialConfig.js
  blocks/Config/normalizeConfigValue.js
  types/exported.d.ts
  types/exported.js
Due: eslint --fix, prettier --write

fix(file-item): `--cfg-img-only` for external sources causing error
  blocks/FileItem/FileItem.js
  utils/fileTypes.js
Due: eslint --fix, prettier --write

fix(file-item): `--cfg-img-only` for external sources causing error (#475)
  blocks/FileItem/FileItem.js
  utils/fileTypes.js
Due: eslint --fix, prettier --write

fix: skip validation if no allowed file types provided
  blocks/FileItem/FileItem.js
Due: eslint --fix, prettier --write

fix: skip validation if no allowed file types provided (#477)
  blocks/FileItem/FileItem.js
Due: eslint --fix, prettier --write

fix(external-source): safari iframe height
  blocks/ExternalSource/external-source.css
Due: stylelint --fix, prettier --write --parser css

feature: add IIFE bundle `/web/blocks.iife.js`
  build-items.js
  build.js
Due: eslint --fix, prettier --write

feature: add IIFE bundle `/web/blocks.iife.js` (#480)
  build-items.js
  build.js
Due: eslint --fix, prettier --write

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write --parser markdown

fix(external-source): safari iframe height (#479)
  blocks/ExternalSource/external-source.css
Due: stylelint --fix, prettier --write --parser css

feat: method `addFiles` replaced with separate `addFileFromUrl`, `addFileFromUuid` and `addFileFromObject`
  abstract/UploaderBlock.js
  abstract/uploadEntrySchema.js
  blocks/CameraSource/CameraSource.js
  blocks/DropArea/DropArea.js
  blocks/ExternalSource/ExternalSource.js
  blocks/FileItem/FileItem.js
  blocks/UploadList/UploadList.js
  blocks/UrlSource/UrlSource.js
  utils/fileTypes.js
  utils/fileTypes.test.js
Due: eslint --fix, prettier --write

feat: add `uploadAll` method to trigger upload
  abstract/UploaderBlock.js
  blocks/UploadList/UploadList.js
Due: eslint --fix, prettier --write

chore: fix tests
  utils/fileTypes.test.js
Due: eslint --fix, prettier --write

chore: fix unused import
  abstract/UploaderBlock.js
Due: eslint --fix, prettier --write

chore: revert back `addFiles` and add deprecation warning
  abstract/UploaderBlock.js
Due: eslint --fix, prettier --write

chore: improve types of upload entry a bit
  abstract/uploadEntrySchema.js
Due: eslint --fix, prettier --write

fix(instagram): scaled & cropped photos
  blocks/ExternalSource/buildStyles.js
Due: eslint --fix, prettier --write

chore: fix accessing state inside constructor
  blocks/Config/Config.js
Due: eslint --fix, prettier --write

chore: add ts-reset
  blocks/CloudImageEditor/src/CloudEditor.js
  package-lock.json
  package.json
  tsconfig.json
Due: eslint --fix, prettier --write, prettier --write --parser json

chore: clean exported types
  package.json
Due: prettier --write --parser json

feat: `metadata` property on `lr-config` block as a replacement for `setUploadMetadata`
  abstract/UploaderBlock.js
  blocks/Config/Config.js
  blocks/Config/initialConfig.js
  blocks/Config/normalizeConfigValue.js
  blocks/DataOutput/DataOutput.js
  blocks/FileItem/FileItem.js
  types/exported.d.ts
  types/exported.js
Due: eslint --fix, prettier --write

fix(instagram): scaled & cropped photos (#484)
  blocks/ExternalSource/buildStyles.js
Due: eslint --fix, prettier --write

feat: update `addFileFromUrl`, `addFileFromUuid` and `addFileFromObject` interfaces
  abstract/UploaderBlock.js
Due: eslint --fix, prettier --write

chore: pass `source` parameter to upload api
  abstract/UploaderBlock.js
  abstract/uploadEntrySchema.js
  blocks/CameraSource/CameraSource.js
  blocks/DropArea/DropArea.js
  blocks/ExternalSource/ExternalSource.js
  blocks/FileItem/FileItem.js
  blocks/UrlSource/UrlSource.js
  blocks/utils/UploadSource.js
Due: eslint --fix, prettier --write

chore(external-source): send correct widget version
  blocks/ExternalSource/ExternalSource.js
Due: eslint --fix, prettier --write

chore: add todo
  abstract/UploaderBlock.js
Due: eslint --fix, prettier --write

chore: do not send widget_version param to social source iframe
  blocks/ExternalSource/ExternalSource.js
Due: eslint --fix, prettier --write

chore: add index.ssr.js to gitignore
  .gitignore
  .npmignore
Due: none

chore: setup exported types for JSX and global events
  abstract/Block.js
  abstract/UploaderBlock.js
  blocks/Config/Config.js
  blocks/Config/normalizeConfigValue.js
  blocks/DataOutput/DataOutput.js
  index.js
  package.json
  tsconfig.json
  types/events.d.ts
  types/events.js
  types/exported.d.ts
  types/index.d.ts
  types/index.js
  types/jsx.d.ts
  types/jsx.js
Due: eslint --fix, prettier --write, prettier --write --parser json

chore: do not use path aliases due to invalid resolving from the outside
  abstract/Block.js
  abstract/UploaderBlock.js
  blocks/Config/Config.js
  blocks/Config/normalizeConfigValue.js
  tsconfig.json
  types/exported.d.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

chore: export `toKebabCase`
  index.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,cjs}
  prettier --write: any of: *.{js,cjs}
  stylelint --fix: any of: *.css
  prettier --write --parser css: any of: *.css
  prettier --write --parser json: any of: *.json
  prettier --write --parser markdown: any of: *.md
