Repository uploadcare/file-uploader: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser json, prettier --write --parser markdown

.lintstagedrc.json:

{
  "*.{js,cjs}": ["eslint --fix", "prettier --write", "git add"],
  "*.css": ["stylelint --fix", "prettier --write --parser css", "git add"],
  "*.json": ["prettier --write --parser json", "git add"],
  "*.md": ["prettier --write --parser markdown", "git add"]
}

fix(block): destroy both local and global contexts
  abstract/Block.js
Due: eslint --fix, prettier --write

fix(cloud-image-editor): destroy context
  blocks/CloudImageEditor/src/CloudImageEditorBlock.js
Due: eslint --fix, prettier --write

fix(drop-area): destroy global registry context if there are no items inside
  blocks/DropArea/DropArea.js
Due: eslint --fix, prettier --write

fix(img): destroy context
  blocks/Img/ImgBase.js
Due: eslint --fix, prettier --write

fix(typed-collection): destroy context
  abstract/TypedCollection.js
Due: eslint --fix, prettier --write

fix(upload-collection): destroy upload collection
  abstract/UploaderBlock.js
  blocks/CameraSource/CameraSource.js
  blocks/CloudImageEditor/src/CloudImageEditorBlock.js
  blocks/CloudImageEditorActivity/CloudImageEditorActivity.js
  blocks/ExternalSource/ExternalSource.js
  blocks/FileItem/FileItem.js
  blocks/SimpleBtn/SimpleBtn.js
  blocks/SourceBtn/SourceBtn.js
  blocks/UploadCtxProvider/EventEmitter.js
  blocks/UploadCtxProvider/UploadCtxProvider.js
  blocks/UploadList/UploadList.js
  blocks/UrlSource/UrlSource.js
Due: eslint --fix, prettier --write

fix(config): do not overwrite config values inside context
  blocks/Config/Config.js
Due: eslint --fix, prettier --write

feat: Blurred image preview for <lr-img> during image loading
  blocks/Img/ImgBase.js
  blocks/Img/props-map.js
Due: eslint --fix, prettier --write

fix(activity): run activity deactivation callback when modal became closed
  abstract/ActivityBlock.js
Due: eslint --fix, prettier --write

fix(cloud-image-editor): init `*tabId` global state key in the main editor block instead of deeper toolbar block
  blocks/CloudImageEditor/src/EditorToolbar.js
  blocks/CloudImageEditor/src/state.js
Due: eslint --fix, prettier --write

chore(cloud-image-editor): fix test html page
  blocks/test/cloud-image-editor.htm
Due: none

fix(cloud-image-editor): do no try to update image when element is disconnected from DOM
  blocks/CloudImageEditor/src/CloudImageEditorBlock.js
Due: eslint --fix, prettier --write

fix(window-height-tracker): prevent infinite loop
  abstract/Block.js
  utils/WindowHeightTracker.js
  utils/createWindowHeightTracker.js
Due: eslint --fix, prettier --write

fix(start-from): add missing scroll area
  blocks/StartFrom/start-from.css
Due: stylelint --fix, prettier --write --parser css

fix: destroy upload collection when the last block in context is being destroyed
  abstract/Block.js
  abstract/CTX.js
  abstract/UploaderBlock.js
Due: eslint --fix, prettier --write

fix(activity-block): check for the `*modalActive` key presence in state before subscribing it
  abstract/ActivityBlock.js
Due: eslint --fix, prettier --write

chore: add comment
  abstract/Block.js
Due: eslint --fix, prettier --write

cleanup: use remote logo assets instead of locale ones
  README.md
  assets/media/logo-safespace-transparent.svg
  assets/media/logo-transparent-inverted.svg
Due: prettier --write --parser markdown

cleanup: remove unneeded readme md files
  blocks/README.md
  solutions/adaptive-image/README.md
  solutions/adaptive-image/test.css
  solutions/cloud-image-editor/README.md
  solutions/file-uploader/README.md
  solutions/file-uploader/inline/README.md
  solutions/file-uploader/minimal/README.md
  solutions/file-uploader/regular/README.md
  web/README.md
Due: stylelint --fix, prettier --write --parser css, prettier --write --parser markdown

docs: replace readme local links with our main docs ones
  README.md
Due: prettier --write --parser markdown

chore: remove pages ci workflow
  .github/workflows/pages.yml
  .gitignore
Due: none

chore: move demo pages out to the root folder & setup dev server
  .gitignore
  demo/cloud-image-editor.html
  demo/custom-source-btn/CustomSourceBtn.js
  demo/custom-source-btn/custom-source-btn.css
  demo/custom-source-btn/index.html
  demo/form.html
  demo/inline-mode.html
  demo/raw-build.html
  demo/raw-inline.html
  demo/raw-minimal.html
  demo/raw-regular.html
  demo/split-mode.html
  demo/wrapped.html
  index.html
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser json

docs: reformat code
  README.md
Due: prettier --write --parser markdown

docs: comment out deep customization
  README.md
Due: prettier --write --parser markdown

chore: fix script
  package.json
Due: prettier --write --parser json

docs: update phrase
  README.md
Due: prettier --write --parser markdown

fix(upload-ctx-provider): execute destroy context callback async to ensure all sync callbacks are run
  abstract/Block.js
  abstract/UploaderBlock.js
Due: eslint --fix, prettier --write

fix(upload-ctx-provider): execute destroy context callback async to ensure all sync callbacks are run (#575)
  abstract/Block.js
  abstract/UploaderBlock.js
Due: eslint --fix, prettier --write

fix: validate breakpoints for string/number
  blocks/Img/ImgBase.js
Due: eslint --fix, prettier --write

Revert "fix: validate breakpoints for string/number"
  blocks/Img/ImgBase.js
Due: eslint --fix, prettier --write

refactor: Refactoring lr-img
  blocks/Img/ImgBase.js
  blocks/Img/ImgConfig.js
  blocks/Img/configurations.js
  blocks/Img/props-map.js
  blocks/Img/utils/parseObjectToString.js
Due: eslint --fix, prettier --write

refactor: Refactoring lr-img (#581)
  blocks/Img/ImgBase.js
  blocks/Img/ImgConfig.js
  blocks/Img/configurations.js
  blocks/Img/props-map.js
  blocks/Img/utils/parseObjectToString.js
Due: eslint --fix, prettier --write

fix(shadow-wrapper): do not call success callback on the second `css-src` attribute change
  utils/waitForAttribute.js
  utils/waitForAttribute.test.js
Due: eslint --fix, prettier --write

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write --parser markdown

fix(shadow-wrapper): do not call success callback on the second `css-src` attribute change (#583)
  utils/waitForAttribute.js
  utils/waitForAttribute.test.js
Due: eslint --fix, prettier --write

feat: Blurred image preview for <lr-img> during image loading
  blocks/Img/Img.js
  blocks/Img/ImgBase.js
  blocks/Img/ImgConfig.js
  blocks/Img/configurations.js
  blocks/Img/props-map.js
Due: eslint --fix, prettier --write

feat: Add integrate analytics functionality to capture insights for (LR) image
  blocks/Img/ImgBase.js
  blocks/Img/ImgConfig.js
  utils/cdn-utils.js
Due: eslint --fix, prettier --write

fix: Revert init lazy params and replace async/await
  blocks/Img/Img.js
  blocks/Img/ImgBase.js
Due: eslint --fix, prettier --write
