Repository uploadcare/file-uploader: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser json, prettier --write --parser markdown

fix(cloud-image-editor): ignore unsupported cdn operations and print console warning
  blocks/CloudImageEditor/src/lib/transformationUtils.js
  blocks/CloudImageEditor/src/toolbar-constants.js
  blocks/CloudImageEditor/src/types.js
Due: eslint --fix, prettier --write

fix: Added analytics for CDN operaions and handler errors img
  blocks/Img/ImgBase.js
  blocks/Img/utils/parseObjectToString.js
  utils/cdn-utils.js
Due: eslint --fix, prettier --write

fix: corrected option params in method _getUrlBase
  blocks/Img/ImgBase.js
Due: eslint --fix, prettier --write

chore: rename OPERATIONS_DEFAULTS to OPERATIONS_ZEROS
  blocks/CloudImageEditor/src/lib/transformationUtils.js
  blocks/CloudImageEditor/src/toolbar-constants.js
Due: eslint --fix, prettier --write

fix(external-source): disallow to select multiple files when multiple mode is off
  blocks/ExternalSource/ExternalSource.js
Due: eslint --fix, prettier --write

fix(cloud-image-editor): ignore unsupported cdn operations and print console warning (#587)
  blocks/CloudImageEditor/src/lib/transformationUtils.js
  blocks/CloudImageEditor/src/types.js
Due: eslint --fix, prettier --write

fix(external-source): disallow to select multiple files when multiple mode is off (#589)
  blocks/ExternalSource/ExternalSource.js
Due: eslint --fix, prettier --write

feat(lr-img): preview blur
  blocks/Img/Img.js
  blocks/Img/ImgBase.js
  blocks/Img/ImgConfig.js
  blocks/Img/configurations.js
  blocks/Img/props-map.js
  blocks/Img/utils/parseObjectToString.js
  utils/cdn-utils.js
Due: eslint --fix, prettier --write

fix(file-item): file status icon align
  blocks/FileItem/file-item.css
Due: stylelint --fix, prettier --write --parser css

feat(upload-list): add inline validation error message box instead of global one
  blocks/UploadList/UploadList.js
  blocks/UploadList/upload-list.css
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

feat: remove MessageBox (lr-message-box) block
  blocks/MessageBox/MessageBox.js
  blocks/MessageBox/message-box.css
  blocks/UploadList/UploadList.js
  blocks/themes/lr-basic/index.css
  demo/custom-source-btn/index.html
  demo/inline-mode.html
  index.js
  solutions/file-uploader/inline/FileUploaderInline.js
  solutions/file-uploader/minimal/FileUploaderMinimal.js
  solutions/file-uploader/minimal/index.css
  solutions/file-uploader/minimal/index.js
  solutions/file-uploader/regular/FileUploaderRegular.js
  types/jsx.d.ts
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

fix(global-events): remove deprecated global window events
  blocks/UploadCtxProvider/EventEmitter.js
  demo/raw-regular.html
  types/events.d.ts
  types/test/global-events.test-d.ts
Due: eslint --fix, prettier --write

fix(lr-config): `multipleMax` is now `Number.MAX_SAFE_INTEGER` by default
  blocks/Config/initialConfig.js
Due: eslint --fix, prettier --write

chore: make able to cancel throttled function
  blocks/utils/throttle.js
Due: eslint --fix, prettier --write

feat: better events & it's types
  abstract/ActivityBlock.js
  abstract/Block.js
  abstract/CTX.js
  abstract/TypedCollection.js
  abstract/UploaderBlock.js
  abstract/buildOutputCollectionState.js
  abstract/uploadEntrySchema.js
  blocks/FileItem/FileItem.js
  blocks/UploadDetails/UploadDetails.js
  blocks/themes/lr-basic/l10n.css
  solutions/file-uploader/regular/FileUploaderRegular.js
  types/exported.d.ts
  types/test/lr-upload-ctx-provider.test-d.tsx
  utils/buildOutputError.js
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

chore: bump eslint, prettier and upload-client
  package-lock.json
  package.json
Due: prettier --write --parser json

feat: `lr-data-output` renamed to `lr-form-input` and super simplified
  blocks/DataOutput/DataOutput.js
  blocks/DataOutput/data-output.css
  blocks/FormInput/FormInput.js
  blocks/FormInput/data-output.css
  demo/form.html
  demo/inline-mode.html
  demo/raw-inline.html
  demo/raw-minimal.html
  index.js
  solutions/file-uploader/minimal/index.js
  types/jsx.d.ts
  types/test/lr-data-output.test-d.tsx
  types/test/lr-form-input.test-d.tsx
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

chore: remove old demo pages
  demo/split-mode.html
  demo/wrapped.html
Due: none

chore(upload-list): better inline error message contrast
  blocks/themes/lr-basic/theme.css
Due: stylelint --fix, prettier --write --parser css

types: fix types & generics
  abstract/ActivityBlock.js
  abstract/Block.js
  abstract/UploaderBlock.js
  abstract/buildOutputCollectionState.js
  blocks/StartFrom/StartFrom.js
  blocks/UploadCtxProvider/EventEmitter.js
  types/exported.d.ts
  types/jsx.d.ts
  types/test/lr-upload-ctx-provider.test-d.tsx
Due: eslint --fix, prettier --write

feat: debug mode
  abstract/ActivityBlock.js
  abstract/Block.js
  abstract/UploaderBlock.js
  blocks/CloudImageEditor/src/CloudImageEditorBase.js
  blocks/CloudImageEditor/src/EditorImageCropper.js
  blocks/CloudImageEditorActivity/CloudImageEditorActivity.js
  blocks/Config/Config.js
  blocks/Config/initialConfig.js
  blocks/Config/normalizeConfigValue.js
  blocks/FileItem/FileItem.js
  blocks/UploadCtxProvider/EventEmitter.js
  demo/raw-regular.html
  types/exported.d.ts
Due: eslint --fix, prettier --write

feat: add button click event
  blocks/UploadCtxProvider/EventEmitter.js
  blocks/UploadList/UploadList.js
Due: eslint --fix, prettier --write

fix: dont fire common upload failed on specific file fail
  abstract/UploaderBlock.js
Due: eslint --fix, prettier --write

chore: add memoize util
  utils/memoize.js
  utils/memoize.test.js
Due: eslint --fix, prettier --write

fix: fire common failed event if no specific files failed
  abstract/UploaderBlock.js
Due: eslint --fix, prettier --write

types: fix any type
  abstract/UploaderBlock.js
Due: eslint --fix, prettier --write

fix: common-upload-start event
  abstract/CTX.js
  blocks/UploadList/UploadList.js
Due: eslint --fix, prettier --write

refactor: evaluate lazy values on debug print
  abstract/Block.js
  blocks/CloudImageEditor/src/CloudImageEditorBase.js
  blocks/Config/Config.js
  blocks/UploadCtxProvider/EventEmitter.js
Due: eslint --fix, prettier --write

refactor: removed file state
  abstract/UploaderBlock.js
  abstract/uploadEntrySchema.js
Due: eslint --fix, prettier --write

fix: common upload failed fix
  abstract/UploaderBlock.js
Due: eslint --fix, prettier --write

fix(lr-file-uploader-minimal): fix common error styles
  solutions/file-uploader/minimal/index.css
Due: stylelint --fix, prettier --write --parser css

feat: add async collection state access asserts
  abstract/Block.js
  abstract/UploaderBlock.js
  abstract/buildOutputCollectionState.js
  blocks/UploadCtxProvider/EventEmitter.js
Due: eslint --fix, prettier --write

refactor: use spread instead of structuredClone
  blocks/UploadCtxProvider/EventEmitter.js
Due: eslint --fix, prettier --write

fix: dont create group when no files
  abstract/UploaderBlock.js
Due: eslint --fix, prettier --write

fix: do not handle cancel error as error
  blocks/FileItem/FileItem.js
Due: eslint --fix, prettier --write

chore: apply format
  abstract/UploaderBlock.js
  blocks/CloudImageEditor/src/CloudImageEditorBlock.js
  blocks/CloudImageEditor/src/CropFrame.js
  blocks/CloudImageEditor/src/EditorFilterControl.js
  blocks/CloudImageEditor/src/EditorImageFader.js
  blocks/CloudImageEditor/src/EditorToolbar.js
  blocks/CloudImageEditor/src/crop-utils.js
  blocks/CloudImageEditor/src/css/common.css
  blocks/CloudImageEditor/src/lib/transformationUtils.js
  blocks/CloudImageEditor/src/state.js
  blocks/CloudImageEditor/src/util.js
  blocks/Copyright/Copyright.js
  blocks/DropArea/DropArea.js
  blocks/DropArea/getDropItems.js
  blocks/EditableCanvas/CanMan.js
  blocks/ProgressBar/progress-bar.css
  blocks/ShadowWrapper/ShadowWrapper.js
  blocks/SimpleBtn/SimpleBtn.js
  blocks/SimpleBtn/simple-btn.css
  blocks/UploadCtxProvider/UploadCtxProvider.js
  build-ssr-stubs.js
  utils/cdn-utils.test.js
  utils/template-utils.test.js
  utils/wildcardRegexp.test.js
  utils/withResolvers.js
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

fix: don't show `add more` button when multiple is disabled
  blocks/UploadList/UploadList.js
Due: eslint --fix, prettier --write

fix: check for entry existance before run validation
  abstract/UploaderBlock.js
Due: eslint --fix, prettier --write

fix: calculate common progress after collection updates
  abstract/UploaderBlock.js
Due: eslint --fix, prettier --write

fix: call both file & collections validators on config change
  abstract/UploaderBlock.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,cjs}
  prettier --write: any of: *.{js,cjs}
  stylelint --fix: any of: *.css
  prettier --write --parser css: any of: *.css
  prettier --write --parser json: any of: *.json
  prettier --write --parser markdown: any of: *.md
