Repository uploadcare/file-uploader: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js,cjs,tsx}": ["biome check --write", "git add"],
  "*.css": ["stylelint --fix", "biome check --write", "git add"],
  "*.json": ["biome check --write", "git add"]
}

chore: normalize package exports API to be compatible with the original one
  src/abstract/TypedCollection.ts
  src/abstract/TypedData.ts
  src/blocks/CloudImageEditor/src/lib/parseCropPreset.test.ts
  src/index.ts
  src/lit/BaseComponent.ts
  src/utils/UID.ts
Due: biome check --write

chore: fix biome warnings
  biome.json
  demo/features/validators.html
  demo/index.html
  scripts/build-ssr-stubs.ts
  src/abstract/defineComponents.ts
  src/abstract/localeRegistry.ts
  src/abstract/managers/ModalManager.ts
  src/abstract/uploadEntrySchema.ts
  src/blocks/CameraSource/CameraSource.ts
  src/blocks/CameraSource/camera-source.css
  src/blocks/CloudImageEditor/src/css/common.css
  src/blocks/FileItem/file-item.css
  src/blocks/Img/ImgBase.ts
  src/blocks/Img/ImgConfig.ts
  src/blocks/SourceList/SourceList.ts
  src/lit/Constructor.ts
  src/lit/LitUploaderBlock.ts
  src/lit/SymbioteCompatMixin.ts
  src/solutions/file-uploader/minimal/index.css
  src/types/exported.ts
  stylelint-force-app-name-prefix.cjs
Due: biome check --write, stylelint --fix

chore: refactor jsx types
  src/blocks/CloudImageEditor/src/CloudImageEditorBlock.ts
  src/blocks/CloudImageEditor/src/elements/button/BtnUi.ts
  src/blocks/Config/Config.ts
  src/blocks/UploadCtxProvider/UploadCtxProvider.ts
  src/solutions/file-uploader/inline/FileUploaderInline.ts
  src/solutions/file-uploader/minimal/FileUploaderMinimal.ts
  src/solutions/file-uploader/regular/FileUploaderRegular.ts
  types/jsx.d.ts
  types/test/uc-cloud-image-editor.test-d.tsx
Due: biome check --write

chore: fix npm tests
  specs/npm/npm.test.ts
Due: biome check --write

fix(minimal/grid): progress bar styles
  src/solutions/file-uploader/minimal/index.css
Due: biome check --write, stylelint --fix

chore: fix vitest configuration
  tsconfig.node.json
  vite.config.js
  vite.config.ts
  vitest.config.ts
Due: biome check --write

chore(config-playground): store state in URL
  demo/features/config-playground.html
Due: none

fix(cloud-image-editor): network problems splash + image loading loop
  src/blocks/CloudImageEditor/src/EditorFilterControl.ts
  src/blocks/CloudImageEditor/src/css/common.css
Due: biome check --write, stylelint --fix

fix: check for elemnt is being connected to the DOM inside async functions to fix failing tests
  src/abstract/managers/ValidationManager.ts
  src/blocks/UploadCtxProvider/EventEmitter.ts
  src/blocks/UploadCtxProvider/UploadCtxProvider.ts
  src/lit/LitBlock.ts
  src/lit/LitUploaderBlock.ts
  src/lit/SymbioteCompatMixin.ts
Due: biome check --write

refactor: shared state minor improvements
  src/abstract/CTX.ts
  src/lit/LitBlock.ts
  src/lit/SharedState.ts
Due: biome check --write

refactor: uploadTrigger usage
  src/lit/LitUploaderBlock.ts
Due: biome check --write

fix(minimal/grid): filenames rendering layout
  src/blocks/Thumb/Thumb.ts
  src/blocks/Thumb/thumb.css
Due: biome check --write, stylelint --fix

fix: adjust aspect ratio icon rendering
  src/blocks/CloudImageEditor/src/EditorAspectRatioButtonControl.ts
Due: biome check --write

chore: expose protected API for the dashboard integration
  src/blocks/Modal/Modal.ts
Due: biome check --write

build: reduce license in the bundles + add version and build time
  scripts/build.ts
Due: biome check --write

refactor(PubSub): move contexts to static field
  src/lit/PubSubCompat.ts
Due: biome check --write

Update config playground selects and inline preview sizing
  demo/features/config-playground.html
Due: none

fix: context destroy logic mistake
  src/lit/LitBlock.ts
Due: biome check --write

chore: reactive quality-insights
  src/abstract/managers/TelemetryManager.ts
  src/lit/LitBlock.ts
Due: biome check --write

types: fix uc-img jsx types
  src/blocks/Img/Img.ts
Due: biome check --write

refactor: remove unused method
  src/lit/LitBlock.ts
  types/test/uc-upload-ctx-provider.test-d.tsx
Due: biome check --write

fix: check if blocks registry still empty before destroy ctx
  src/lit/LitBlock.ts
Due: biome check --write

chore: fix comment
  src/blocks/Modal/Modal.ts
Due: biome check --write

refactor: make centralized handling of shared context instances
  src/abstract/managers/TelemetryManager.ts
  src/lit/LitBlock.ts
  src/lit/LitUploaderBlock.ts
  src/lit/PubSubCompat.ts
  src/lit/SharedState.ts
  src/solutions/file-uploader/minimal/FileUploaderMinimal.ts
Due: biome check --write

chore: add coderabbit config
  .coderabbit.yaml
Due: none

refactor(btn-ui): remove unused prop
  src/blocks/CloudImageEditor/src/elements/button/BtnUi.ts
Due: biome check --write

refactor(slider): remove unused event
  src/blocks/CloudImageEditor/src/elements/slider/SliderUi.ts
Due: biome check --write

fix: few ai review fixes
  src/abstract/managers/TelemetryManager.ts
  src/blocks/Thumb/Thumb.ts
Due: biome check --write

chore: fix message text spacing
  demo/features/config-playground.html
  src/blocks/SourceList/SourceList.ts
Due: biome check --write

refactor(cloud-image-editor-activity): refactor config sync
  src/blocks/CloudImageEditorActivity/CloudImageEditorActivity.ts
Due: biome check --write

fix: fallback to fake uid if native crypto uuid is not supported
  src/utils/UID.ts
Due: biome check --write

refactor: remove intersection observer support checks
  src/blocks/CloudImageEditor/src/EditorFilterControl.ts
Due: biome check --write

fix(cloud-image-editor): generate unique id for backgrop mask
  src/abstract/TypedCollection.ts
  src/abstract/TypedData.ts
  src/blocks/CloudImageEditor/src/CropFrame.ts
  src/blocks/CloudImageEditor/src/lib/parseCropPreset.test.ts
  src/blocks/CloudImageEditor/src/lib/parseCropPreset.ts
  src/utils/UID.test.ts
  src/utils/UID.ts
Due: biome check --write

refactor: init uploader state managers inside uploader block
  src/abstract/managers/TelemetryManager.ts
  src/lit/LitBlock.ts
  src/lit/LitUploaderBlock.ts
Due: biome check --write

chore: add error message for removed api
  src/lit/SymbioteCompatMixin.ts
Due: biome check --write

chore: skip validation if file entry was removed
  src/abstract/managers/ValidationManager.ts
Due: biome check --write

fix(cloud-image-editor): fix filter previews lazy loading
  src/blocks/CloudImageEditor/src/EditorFilterControl.ts
  src/blocks/CloudImageEditor/src/EditorToolbar.ts
  src/blocks/CloudImageEditor/src/css/common.css
Due: biome check --write, stylelint --fix

chore: do not mangle package bundle
  scripts/build-items.ts
  scripts/build.ts
Due: biome check --write

chore: apply lint
  .stylelintignore
  tests/adaptive-image.e2e.test.tsx
  tests/cloud-image-editor.e2e.test.tsx
  tests/file-uploader-inline.e2e.test.tsx
  tests/file-uploader-minimal.e2e.test.tsx
  tsconfig.test.json
Due: biome check --write

fix: test-mode for editor slider
  src/blocks/CloudImageEditor/src/EditorSlider.ts
Due: biome check --write
