Repository uploadcare/file-uploader: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js,cjs,tsx}": ["biome check --write", "git add"],
  "*.css": ["stylelint --fix", "biome check --write", "git add"],
  "*.json": ["biome check --write", "git add"]
}

refactor: plugin system
  biome.json
  package-lock.json
  package.json
  src/abstract/CTX.ts
  src/abstract/features/ClipboardLayer.ts
  src/abstract/managers/plugin/LazyPluginLoader.ts
  src/abstract/managers/plugin/PluginManager.ts
  src/abstract/managers/plugin/PluginRegistry.ts
  src/abstract/managers/plugin/PluginTypes.ts
  src/abstract/managers/plugin/buildPluginApi.ts
  src/abstract/managers/plugin/lazyPluginRegistry.ts
  src/abstract/sharedConfigKey.ts
  src/blocks/Config/Config.ts
  src/blocks/Config/computed-properties.test.ts
  src/blocks/Config/computed-properties.ts
  src/blocks/Config/lazyPluginRegistry.ts
  src/blocks/FileItem/FileItem.ts
  src/lit/LitSolutionBlock.ts
  src/lit/SharedState.ts
  src/solutions/file-uploader/lazyPlugins.ts
  src/types/index.ts
  tests/plugins/cleanup-edge-cases.e2e.test.tsx
  tests/plugins/lifecycle.e2e.test.tsx
  tests/plugins/utils.tsx
Due: biome check --write

refactor: move `onaAdd` hooks logic to the plugin manager and upload collection
  src/abstract/managers/plugin/PluginManager.ts
  src/blocks/FileItem/FileItem.ts
  src/lit/LitUploaderBlock.ts
Due: biome check --write

chore: apply format
  biome.json
  demo/features/cloud-image-editor-plugin-cdn.html
  demo/features/cloud-image-editor-plugin.html
  demo/features/plugins.html
  demo/features/unsplash-plugin.html
  src/abstract/managers/LocaleManager.ts
  src/blocks/PluginActivityRenderer/index.ts
  src/types/exported.ts
Due: biome check --write

chore: public ui kit + some api updates
  src/abstract/UploaderPublicApi.ts
  src/abstract/managers/plugin/PluginManager.ts
  src/abstract/managers/plugin/PluginTypes.ts
  src/blocks/ActivityHeader/activity-header.css
  src/blocks/themes/uc-basic/common.css
  src/blocks/themes/uc-basic/plugin-ui.css
  src/lit/shared-instances.ts
  src/plugins/unsplash-activity.css
  src/plugins/unsplashPlugin.ts
  tests/api.e2e.test.tsx
Due: biome check --write, stylelint --fix

chore: disable code splitting, leave bundles as is
  package-lock.json
  package.json
  scripts/build-items.ts
  scripts/build.ts
  src/abstract/CTX.ts
  src/blocks/Config/Config.ts
  src/blocks/Config/computed-properties.test.ts
  src/blocks/Config/computed-properties.ts
  src/blocks/Config/lazyPluginRegistry.ts
  src/index.ts
  src/lit/LitSolutionBlock.ts
  src/lit/SharedState.ts
  src/solutions/file-uploader/inline/FileUploaderInline.ts
  src/solutions/file-uploader/lazyPlugins.ts
  src/solutions/file-uploader/minimal/FileUploaderMinimal.ts
  src/solutions/file-uploader/regular/FileUploaderRegular.ts
Due: biome check --write

refactor: tests / api changes
  src/abstract/CTX.ts
  src/abstract/UploaderPublicApi.ts
  src/abstract/managers/plugin/LazyPluginLoader.ts
  src/abstract/managers/plugin/PluginManager.ts
  src/abstract/managers/plugin/PluginTypes.ts
  src/abstract/managers/plugin/lazyPluginRegistry.ts
  src/blocks/Config/lazyPluginRegistry.ts
  src/blocks/FileItem/FileItem.ts
  src/lit/LitSolutionBlock.ts
  src/lit/LitUploaderBlock.ts
  src/lit/SharedState.ts
  src/plugins/imageShrinkPlugin.ts
  src/solutions/file-uploader/lazyPlugins.ts
  tests/api.e2e.test.tsx
  tests/plugins/activity-api.e2e.test.tsx
  tests/plugins/activity-registration.e2e.test.tsx
  tests/plugins/custom-config.e2e.test.tsx
  tests/plugins/file-hook-registration.e2e.test.tsx
  tests/plugins/file-hook-validators.e2e.test.tsx
Due: biome check --write

chore: bump deps
  package-lock.json
  package.json
Due: biome check --write

chore: install jiti for eslint
  package-lock.json
  package.json
Due: biome check --write

chore: fix types test
  types/test/uc-upload-ctx-provider.test-d.tsx
Due: biome check --write

test: update snapshots
  specs/npm/__snapshots__/npm.test.ts.snap
Due: none

test: fix types test
  src/types/index.ts
  types/test/uc-upload-ctx-provider.test-d.tsx
Due: biome check --write

test: fix tests
  tests/api.e2e.test.tsx
  tests/file-uploader-minimal.e2e.test.tsx
  tests/plugins/cleanup-edge-cases.e2e.test.tsx
  tests/plugins/file-action-registration.e2e.test.tsx
  tests/plugins/icon-and-i18n.e2e.test.tsx
  tests/plugins/lifecycle.e2e.test.tsx
  tests/plugins/utils.tsx
  tests/validation.e2e.test.tsx
Due: biome check --write

feat: extract local source to the plugins
  src/blocks/SourceList/SourceList.ts
  src/plugins/localSourcePlugin.ts
  src/solutions/file-uploader/lazyPlugins.ts
Due: biome check --write

fix: file item action label
  src/blocks/FileItem/FileItem.ts
Due: biome check --write

fix: bugs found via tests
  package.json
  src/abstract/UploaderPublicApi.ts
  src/abstract/managers/plugin/LazyPluginLoader.ts
  src/abstract/managers/plugin/PluginManager.ts
  src/abstract/managers/plugin/PluginTypes.ts
  src/blocks/Modal/Modal.ts
  src/blocks/PluginActivityRenderer/PluginActivityRenderer.ts
  src/lit/LitActivityBlock.ts
  src/lit/LitBlock.ts
  src/lit/LitUploaderBlock.ts
  src/lit/hasBlockInCtx.ts
  src/plugins/cloudImageEditorPlugin.ts
Due: biome check --write

refactor: move editor related logic to the plugin
  src/abstract/UploaderPublicApi.ts
  src/blocks/UploadCtxProvider/EventEmitter.ts
  src/lit/LitUploaderBlock.ts
  src/plugins/cloudImageEditorPlugin.ts
  tests/plugins/cloud-image-editor.e2e.test.tsx
Due: biome check --write

Potential fix for code scanning alert no. 230: Server-side request forgery
  demo/features/plugins.html
Due: none

Potential fix for code scanning alert no. 233: Log injection
  demo/features/plugins.html
Due: none

Potential fix for code scanning alert no. 232: Server-side request forgery
  demo/features/plugins.html
Due: none

test: fix most flaky test
  tests/validation.e2e.test.tsx
Due: biome check --write

test: fix e2e tests styling after vite 8 update
  demo/features/plugins.html
  tests/api.e2e.test.tsx
  tests/cloud-image-editor.e2e.test.tsx
  tests/config.e2e.test.tsx
  tests/file-uploader-inline.e2e.test.tsx
  tests/file-uploader-minimal.e2e.test.tsx
  tests/file-uploader-regular.e2e.test.tsx
  tests/form-input.e2e.test.tsx
  tests/plugins/utils.tsx
  tests/validation.e2e.test.tsx
Due: biome check --write

chore: abort uploads after test
  tests/plugins/utils.tsx
Due: biome check --write

test: try to fix another flaky test
  src/blocks/FileItem/FileItem.ts
Due: biome check --write

fix: skip telemetry on upload error after unmount
  src/blocks/FileItem/FileItem.ts
  tests/api.e2e.test.tsx
Due: biome check --write

chore: fix plugins demo security scan
  demo/features/plugins.html
Due: none

chore: fix flaky cloud imaged editor size wait
  src/blocks/CloudImageEditor/src/CloudImageEditorBlock.ts
  tests/cloud-image-editor.e2e.test.tsx
Due: biome check --write

chore: fix tests
  .gitignore
  tests/render-jsx-children.d.ts
Due: biome check --write

Remove Discord link from README
  README.md
Due: none

fix: updated button text for file selection based on multiple upload option
  src/solutions/file-uploader/minimal/FileUploaderMinimal.ts
Due: biome check --write

fix: add missing 'drop-file-here' field for multiple upload option in localization files
  src/locales/file-uploader/ar.ts
  src/locales/file-uploader/az.ts
  src/locales/file-uploader/ca.ts
  src/locales/file-uploader/cs.ts
  src/locales/file-uploader/da.ts
  src/locales/file-uploader/de.ts
  src/locales/file-uploader/el.ts
  src/locales/file-uploader/en.ts
  src/locales/file-uploader/es.ts
  src/locales/file-uploader/et.ts
  src/locales/file-uploader/fi.ts
  src/locales/file-uploader/fr.ts
  src/locales/file-uploader/he.ts
  src/locales/file-uploader/hy.ts
  src/locales/file-uploader/is.ts
  src/locales/file-uploader/it.ts
  src/locales/file-uploader/ja.ts
  src/locales/file-uploader/ka.ts
  src/locales/file-uploader/kk.ts
  src/locales/file-uploader/ko.ts
  src/locales/file-uploader/lv.ts
  src/locales/file-uploader/nb.ts
  src/locales/file-uploader/nl.ts
  src/locales/file-uploader/pl.ts
  src/locales/file-uploader/pt.ts
  src/locales/file-uploader/ro.ts
  src/locales/file-uploader/ru.ts
  src/locales/file-uploader/sk.ts
  src/locales/file-uploader/sr.ts
  src/locales/file-uploader/sv.ts
  src/locales/file-uploader/tr.ts
  src/locales/file-uploader/uk.ts
  src/locales/file-uploader/vi.ts
  src/locales/file-uploader/zh-TW.ts
  src/locales/file-uploader/zh.ts
Due: biome check --write

fix: updated drop text handling for multiple upload option in DropArea component
  src/blocks/DropArea/DropArea.ts
Due: biome check --write

test: updated text for minimal and bundle
  src/blocks/DropArea/DropArea.ts
  tests/bundles.e2e.test.tsx
  tests/file-uploader-minimal.e2e.test.tsx
Due: biome check --write

fix: added missing field for multiple upload (#948)
  src/blocks/DropArea/DropArea.ts
  src/locales/file-uploader/ar.ts
  src/locales/file-uploader/az.ts
  src/locales/file-uploader/ca.ts
  src/locales/file-uploader/cs.ts
  src/locales/file-uploader/da.ts
  src/locales/file-uploader/de.ts
  src/locales/file-uploader/el.ts
  src/locales/file-uploader/en.ts
  src/locales/file-uploader/es.ts
  src/locales/file-uploader/et.ts
  src/locales/file-uploader/fi.ts
  src/locales/file-uploader/fr.ts
  src/locales/file-uploader/he.ts
  src/locales/file-uploader/hy.ts
  src/locales/file-uploader/is.ts
  src/locales/file-uploader/it.ts
  src/locales/file-uploader/ja.ts
  src/locales/file-uploader/ka.ts
  src/locales/file-uploader/kk.ts
  src/locales/file-uploader/ko.ts
  src/locales/file-uploader/lv.ts
  src/locales/file-uploader/nb.ts
  src/locales/file-uploader/nl.ts
  src/locales/file-uploader/pl.ts
  src/locales/file-uploader/pt.ts
  src/locales/file-uploader/ro.ts
  src/locales/file-uploader/ru.ts
  src/locales/file-uploader/sk.ts
  src/locales/file-uploader/sr.ts
  src/locales/file-uploader/sv.ts
  src/locales/file-uploader/tr.ts
  src/locales/file-uploader/uk.ts
  src/locales/file-uploader/vi.ts
  src/locales/file-uploader/zh-TW.ts
  src/locales/file-uploader/zh.ts
  src/solutions/file-uploader/minimal/FileUploaderMinimal.ts
  tests/bundles.e2e.test.tsx
  tests/file-uploader-minimal.e2e.test.tsx
Due: biome check --write

Update CHANGELOG for bug fix on text rendering
  CHANGELOG.md
Due: none

fix: custom config restore default value & catch normalize errors
  src/abstract/managers/plugin/buildPluginApi.ts
  src/blocks/Config/Config.ts
  tests/plugins/custom-config.e2e.test.tsx
Due: biome check --write

fix: catch render/dispose errors
  src/blocks/PluginActivityRenderer/PluginActivityRenderer.ts
Due: biome check --write

fix: add file hooks timeouts and signals
  src/abstract/managers/plugin/PluginManager.ts
  src/abstract/managers/plugin/PluginRegistry.ts
  src/abstract/managers/plugin/PluginTypes.ts
  src/blocks/FileItem/FileItem.ts
  tests/plugins/lifecycle.e2e.test.tsx
  tests/plugins/source-registration.e2e.test.tsx
Due: biome check --write

fix: theme overrides
  src/blocks/themes/uc-basic/theme.css
Due: biome check --write, stylelint --fix

Added description texts README.md
  README.md
Due: none

fix: add fallback types for addEventListener/removeEventListener on UploadCtxProvider
  src/blocks/UploadCtxProvider/UploadCtxProvider.ts
Due: biome check --write
