Repository uploadcare/file-uploader: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser json, prettier --write --parser markdown

chore: fix typo
  blocks/CameraSource/CameraSource.js
  blocks/Config/Config.js
  blocks/Config/initialConfig.js
  blocks/Config/normalizeConfigValue.js
  types/exported.d.ts
Due: eslint --fix, prettier --write

chore: fix console.log
  blocks/Config/normalizeConfigValue.js
Due: eslint --fix, prettier --write

feat: add `cameraModes` option, deprecate `enableVideoRecording` and `defaultCameraMode`
  abstract/UploaderPublicApi.js
  blocks/CameraSource/CameraSource.js
  blocks/CameraSource/camera-source.css
  blocks/CameraSource/constants.js
  blocks/CloudImageEditor/src/lib/parseTabs.js
  blocks/Config/Config.js
  blocks/Config/assertions.js
  blocks/Config/initialConfig.js
  blocks/Config/normalizeConfigValue.js
  blocks/Config/side-effects.js
  blocks/utils/comma-separated.js
  types/exported.d.ts
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

feat: add `cameraModes` option, deprecate `enableVideoRecording` and `defaultCameraMode` options (#781)
  abstract/UploaderPublicApi.js
  blocks/CameraSource/CameraSource.js
  blocks/CameraSource/camera-source.css
  blocks/CameraSource/constants.js
  blocks/CloudImageEditor/src/lib/parseTabs.js
  blocks/Config/Config.js
  blocks/Config/assertions.js
  blocks/Config/initialConfig.js
  blocks/Config/normalizeConfigValue.js
  blocks/Config/side-effects.js
  blocks/utils/comma-separated.js
  types/exported.d.ts
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

fix(file-item): fix progressbar ui when uploading from external URLs
  blocks/FileItem/FileItem.js
  blocks/ProgressBar/ProgressBar.js
  blocks/ProgressBar/progress-bar.css
  locales/file-uploader/ar.js
  locales/file-uploader/az.js
  locales/file-uploader/ca.js
  locales/file-uploader/cs.js
  locales/file-uploader/da.js
  locales/file-uploader/de.js
  locales/file-uploader/el.js
  locales/file-uploader/en.js
  locales/file-uploader/es.js
  locales/file-uploader/et.js
  locales/file-uploader/fi.js
  locales/file-uploader/fr.js
  locales/file-uploader/he.js
  locales/file-uploader/hy.js
  locales/file-uploader/is.js
  locales/file-uploader/it.js
  locales/file-uploader/ja.js
  locales/file-uploader/ka.js
  locales/file-uploader/kk.js
  locales/file-uploader/ko.js
  locales/file-uploader/lv.js
  locales/file-uploader/nb.js
  locales/file-uploader/nl.js
  locales/file-uploader/pl.js
  locales/file-uploader/pt.js
  locales/file-uploader/ro.js
  locales/file-uploader/ru.js
  locales/file-uploader/sk.js
  locales/file-uploader/sr.js
  locales/file-uploader/sv.js
  locales/file-uploader/tr.js
  locales/file-uploader/uk.js
  locales/file-uploader/vi.js
  locales/file-uploader/zh-TW.js
  locales/file-uploader/zh.js
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

Update blocks/ProgressBar/ProgressBar.js
  blocks/ProgressBar/ProgressBar.js
Due: eslint --fix, prettier --write

fix(file-item): improve progressbar ui when uploading from external URLs (#784)
  blocks/FileItem/FileItem.js
  blocks/ProgressBar/ProgressBar.js
  blocks/ProgressBar/progress-bar.css
  locales/file-uploader/ar.js
  locales/file-uploader/az.js
  locales/file-uploader/ca.js
  locales/file-uploader/cs.js
  locales/file-uploader/da.js
  locales/file-uploader/de.js
  locales/file-uploader/el.js
  locales/file-uploader/en.js
  locales/file-uploader/es.js
  locales/file-uploader/et.js
  locales/file-uploader/fi.js
  locales/file-uploader/fr.js
  locales/file-uploader/he.js
  locales/file-uploader/hy.js
  locales/file-uploader/is.js
  locales/file-uploader/it.js
  locales/file-uploader/ja.js
  locales/file-uploader/ka.js
  locales/file-uploader/kk.js
  locales/file-uploader/ko.js
  locales/file-uploader/lv.js
  locales/file-uploader/nb.js
  locales/file-uploader/nl.js
  locales/file-uploader/pl.js
  locales/file-uploader/pt.js
  locales/file-uploader/ro.js
  locales/file-uploader/ru.js
  locales/file-uploader/sk.js
  locales/file-uploader/sr.js
  locales/file-uploader/sv.js
  locales/file-uploader/tr.js
  locales/file-uploader/uk.js
  locales/file-uploader/vi.js
  locales/file-uploader/zh-TW.js
  locales/file-uploader/zh.js
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

feat(a11y): added aria-label and role
  abstract/l10nProcessor.js
  blocks/CameraSource/CameraSource.js
  blocks/CloudImageEditor/src/EditorButtonControl.js
  blocks/CloudImageEditor/src/EditorFilterControl.js
  blocks/CloudImageEditor/src/css/common.css
  blocks/CloudImageEditor/src/elements/button/BtnUi.js
  blocks/Copyright/copyright.css
  blocks/ExternalSource/ExternalSource.js
  blocks/FileItem/FileItem.js
  blocks/Icon/Icon.js
  blocks/SourceList/SourceList.js
  blocks/UploadList/UploadList.js
  blocks/UrlSource/UrlSource.js
  solutions/file-uploader/inline/FileUploaderInline.js
  solutions/file-uploader/regular/FileUploaderRegular.js
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

feat(a11y): added aria-label
  abstract/l10nProcessor.js
  blocks/CloudImageEditor/src/EditorButtonControl.js
  blocks/CloudImageEditor/src/elements/button/BtnUi.js
Due: eslint --fix, prettier --write

feat(a11y): added aria-atomic
  blocks/FileItem/FileItem.js
Due: eslint --fix, prettier --write

chore(dependencies): updated
  package-lock.json
  package.json
Due: prettier --write --parser json

chore(dependencies): checked out the build
  package-lock.json
  package.json
Due: prettier --write --parser json

fix: close ui slider when click on the editor toolbar
  blocks/CloudImageEditor/src/EditorToolbar.js
Due: eslint --fix, prettier --write

fix: close ui slider when click on the editor toolbar (#790)
  blocks/CloudImageEditor/src/EditorToolbar.js
Due: eslint --fix, prettier --write

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write --parser markdown

сhore/update-soc-2 (#789)
  package-lock.json
  package.json
Due: prettier --write --parser json

Feat/issues a11y (#788)
  abstract/l10nProcessor.js
  blocks/CameraSource/CameraSource.js
  blocks/CloudImageEditor/src/EditorButtonControl.js
  blocks/CloudImageEditor/src/EditorFilterControl.js
  blocks/CloudImageEditor/src/css/common.css
  blocks/CloudImageEditor/src/elements/button/BtnUi.js
  blocks/Copyright/copyright.css
  blocks/ExternalSource/ExternalSource.js
  blocks/FileItem/FileItem.js
  blocks/Icon/Icon.js
  blocks/SourceList/SourceList.js
  blocks/UploadList/UploadList.js
  blocks/UrlSource/UrlSource.js
  solutions/file-uploader/inline/FileUploaderInline.js
  solutions/file-uploader/regular/FileUploaderRegular.js
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

chore(shipjs): updated version
  package-lock.json
  package.json
Due: prettier --write --parser json

chore(shipjs): updated version (#793)
  package-lock.json
  package.json
Due: prettier --write --parser json

fix: divided the camera into types on the mobiles
  abstract/UploaderPublicApi.js
  blocks/CameraSource/calcCameraModes.js
  blocks/CameraSource/constants.js
  blocks/SourceBtn/SourceBtn.js
  blocks/SourceList/SourceList.js
  blocks/themes/uc-basic/icons/mobile-photo-camera.svg
  blocks/themes/uc-basic/icons/mobile-video-camera.svg
  blocks/themes/uc-basic/svg-sprite.js
  blocks/utils/UploadSource.js
  blocks/utils/checkDevice.js
  demo/raw-regular.html
  locales/file-uploader/en.js
Due: eslint --fix, prettier --write

feat: added a capture check
  abstract/UploaderPublicApi.js
  blocks/SourceBtn/SourceBtn.js
  blocks/SourceList/SourceList.js
  blocks/utils/checkDevice.js
  blocks/utils/supportCapture.js
Due: eslint --fix, prettier --write

feat: added render order based on cameraModes
  blocks/SourceList/SourceList.js
Due: eslint --fix, prettier --write

feat: added locales
  blocks/SourceList/SourceList.js
  locales/file-uploader/ar.js
  locales/file-uploader/az.js
  locales/file-uploader/ca.js
  locales/file-uploader/cs.js
  locales/file-uploader/da.js
  locales/file-uploader/de.js
  locales/file-uploader/el.js
  locales/file-uploader/es.js
  locales/file-uploader/et.js
  locales/file-uploader/fi.js
  locales/file-uploader/fr.js
  locales/file-uploader/he.js
  locales/file-uploader/hy.js
  locales/file-uploader/is.js
  locales/file-uploader/it.js
  locales/file-uploader/ja.js
  locales/file-uploader/ka.js
  locales/file-uploader/kk.js
  locales/file-uploader/ko.js
  locales/file-uploader/lv.js
  locales/file-uploader/nb.js
  locales/file-uploader/nl.js
  locales/file-uploader/pl.js
  locales/file-uploader/pt.js
  locales/file-uploader/ro.js
  locales/file-uploader/ru.js
  locales/file-uploader/sk.js
  locales/file-uploader/sr.js
  locales/file-uploader/sv.js
  locales/file-uploader/tr.js
  locales/file-uploader/uk.js
  locales/file-uploader/vi.js
  locales/file-uploader/zh-TW.js
  locales/file-uploader/zh.js
Due: eslint --fix, prettier --write

chore: updated the list of dependencies on the basis of SOC-2
  package-lock.json
  package.json
Due: prettier --write --parser json

chore: updated the list of dependencies on the basis of SOC-2 (#798)
  package-lock.json
  package.json
Due: prettier --write --parser json

fix: increase throttled requests retry count to 10
  blocks/Config/initialConfig.js
Due: eslint --fix, prettier --write

fix: increase throttled requests retry count to 10 (#800)
  blocks/Config/initialConfig.js
Due: eslint --fix, prettier --write

types: improve types cover
  .github/workflows/checks.yml
  abstract/TypedCollection.js
  abstract/TypedData.js
  abstract/UploaderBlock.js
  abstract/UploaderPublicApi.js
  abstract/ValidationManager.js
  abstract/uploadEntrySchema.js
  blocks/CloudImageEditorActivity/CloudImageEditorActivity.js
  blocks/FileItem/FileItem.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, prettier --write --parser json

chore: remove unused import
  blocks/FileItem/FileItem.js
Due: eslint --fix, prettier --write

chore: handle unknown upload errors
  blocks/FileItem/FileItem.js
Due: eslint --fix, prettier --write

fix: prevent desktop safari from heic to jpeg conversion
  abstract/UploaderPublicApi.js
  blocks/DropArea/drop-area.css
  blocks/Img/ImgBase.js
  blocks/SourceBtn/SourceBtn.js
  blocks/SourceList/SourceList.js
  blocks/utils/supportCapture.js
  package-lock.json
  package.json
  utils/browser-info.js
  utils/browser-info.test.js
  utils/fileTypes.js
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser json

fix(types): add `headless` property type for `uc-file-uploader-regular`
  types/jsx.d.ts
Due: none

types: improve upload entry types cover (#801)
  .github/workflows/checks.yml
  abstract/TypedCollection.js
  abstract/TypedData.js
  abstract/UploaderBlock.js
  abstract/UploaderPublicApi.js
  abstract/ValidationManager.js
  abstract/uploadEntrySchema.js
  blocks/CloudImageEditorActivity/CloudImageEditorActivity.js
  blocks/FileItem/FileItem.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, prettier --write --parser json

fix(types): add `headless` property type for `uc-file-uploader-regular` (#806)
  types/jsx.d.ts
Due: none

Path conditions:
  eslint --fix: any of: *.{js,cjs}
  prettier --write: any of: *.{js,cjs}
  stylelint --fix: any of: *.css
  prettier --write --parser css: any of: *.css
  prettier --write --parser json: any of: *.json
  prettier --write --parser markdown: any of: *.md
