Repository uploadcare/file-uploader: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser json, prettier --write --parser markdown

chore: update codesandbox readme link (#616)
  README.md
Due: prettier --write --parser markdown

chore: remove unused dep
  abstract/UploaderBlock.js
Due: eslint --fix, prettier --write

feat(lr-upload-ctx-provider): add method `addFileFromCdnUrl` to add already uploaded files with predefined cdn url modifiers (#617)
  abstract/UploaderBlock.js
  blocks/FileItem/FileItem.js
  utils/parseCdnUrl.js
  utils/parseCdnUrl.test.js
Due: eslint --fix, prettier --write

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write --parser markdown

feat: add `removeAllFiles` API method
  abstract/UploaderBlock.js
Due: eslint --fix, prettier --write

fix: do not load preview image from cdn if no cdn modifiers applied
  abstract/uploadEntrySchema.js
  blocks/Config/initialConfig.js
  blocks/FileItem/FileItem.js
Due: eslint --fix, prettier --write

fix(minimal): open system dialog on `add more` button
  abstract/UploaderBlock.js
Due: eslint --fix, prettier --write

fix(minimal): open system dialog on `add more` button (#626)
  abstract/UploaderBlock.js
Due: eslint --fix, prettier --write

feat: add `removeAllFiles` API method (#624)
  abstract/UploaderBlock.js
Due: eslint --fix, prettier --write

fix: improve uploading progress animation
  blocks/FileItem/FileItem.js
  blocks/ProgressBar/ProgressBar.js
  blocks/ProgressBar/progress-bar.css
  blocks/ProgressBarCommon/ProgressBarCommon.js
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

fix: improve uploading progress animation (#628)
  blocks/FileItem/FileItem.js
  blocks/ProgressBar/ProgressBar.js
  blocks/ProgressBar/progress-bar.css
  blocks/ProgressBarCommon/ProgressBarCommon.js
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

fix(image-shrink): fallback algo on Firefox and iOS
  package-lock.json
  package.json
Due: prettier --write --parser json

fix(image-shrink): fallback algo on Firefox and iOS (#630)
  package-lock.json
  package.json
Due: prettier --write --parser json

feat: added export event type
  blocks/UploadCtxProvider/UploadCtxProvider.js
Due: eslint --fix, prettier --write

feat: added export event type (#632)
  blocks/UploadCtxProvider/UploadCtxProvider.js
Due: eslint --fix, prettier --write

fix: don't try to open empty modal on mobile when camera is the only source
  abstract/UploaderBlock.js
Due: eslint --fix, prettier --write

fix: don't try to open empty modal on mobile when camera is the only source (#634)
  abstract/UploaderBlock.js
Due: eslint --fix, prettier --write

feat: added export UID from @symbiotejs/symbiote
  index.js
Due: eslint --fix, prettier --write

feat: added export UID from @symbiotejs/symbiote (#636)
  index.js
Due: eslint --fix, prettier --write

fix: define config DOM property accessors on the class prototype to make it compatible with framework bindings
  blocks/Config/Config.js
Due: eslint --fix, prettier --write

fix: define config DOM property accessors on the class prototype to make it compatible with framework bindings (#638)
  blocks/Config/Config.js
Due: eslint --fix, prettier --write

fix: activity switch races
  abstract/ActivityBlock.js
Due: eslint --fix, prettier --write

fix: activity switch races (#643)
  abstract/ActivityBlock.js
Due: eslint --fix, prettier --write

feat: added defaultValue property in lr-config and upload image
  abstract/UploaderBlock.js
  blocks/Config/Config.js
  blocks/Config/initialConfig.js
  blocks/UploadList/UploadList.js
  types/exported.d.ts
  utils/cdn-utils.js
Due: eslint --fix, prettier --write

fix(upload-list): set fixed modal container width to avoid bouncy width (could lead to some l10n ui width glitches but we're ok with them)
  blocks/UploadList/upload-list.css
Due: stylelint --fix, prettier --write --parser css

fix(upload-list): set fixed modal container width to avoid bouncy width (could lead to some l10n ui width glitches but we're ok with them) (#648)
  blocks/UploadList/upload-list.css
Due: stylelint --fix, prettier --write --parser css

fix(config): dont bind complex config options to the attributes
  blocks/Config/Config.js
Due: eslint --fix, prettier --write

fix(config): dont bind complex config options to the attributes (#650)
  blocks/Config/Config.js
Due: eslint --fix, prettier --write

feat(shadow-styles): deleted :host
  blocks/themes/lr-basic/common.css
  blocks/themes/lr-basic/config.css
  blocks/themes/lr-basic/icons.css
  blocks/themes/lr-basic/theme.css
  solutions/file-uploader/inline/index.css
  solutions/file-uploader/minimal/index.css
Due: stylelint --fix, prettier --write --parser css

feat(shadow-styles): deleted ShadowWrapper
  abstract/SolutionBlock.js
  blocks/ShadowWrapper/ShadowWrapper.js
  blocks/themes/lr-basic/common.css
  blocks/themes/lr-basic/config.css
  blocks/themes/lr-basic/icons.css
  blocks/themes/lr-basic/theme.css
  demo/cloud-image-editor.html
  demo/form.html
  demo/raw-build.html
  demo/raw-inline.html
  demo/raw-minimal.html
  demo/raw-regular.html
  index.js
  solutions/cloud-image-editor/CloudImageEditor.js
  solutions/file-uploader/inline/FileUploaderInline.js
  solutions/file-uploader/inline/index.css
  solutions/file-uploader/minimal/index.css
  solutions/file-uploader/regular/FileUploaderRegular.js
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

feat(shadow-styles): replaced shadowReadyCallback with initCallback
  abstract/SolutionBlock.js
  solutions/cloud-image-editor/CloudImageEditor.js
  solutions/file-uploader/inline/FileUploaderInline.js
  solutions/file-uploader/minimal/FileUploaderMinimal.js
  solutions/file-uploader/regular/FileUploaderRegular.js
Due: eslint --fix, prettier --write

feat(shadow-styles): added class minimal for file-uploader-minimal
  solutions/file-uploader/minimal/index.css
Due: stylelint --fix, prettier --write --parser css

fix: fixed localization initialization
  abstract/LocaleManager.js
  solutions/file-uploader/minimal/index.css
  solutions/file-uploader/regular/FileUploaderRegular.js
  types/jsx.d.ts
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

feat(shadow-styles): added class for lr-file-uploader-inline
  package.json
  solutions/file-uploader/inline/index.css
Due: stylelint --fix, prettier --write --parser css, prettier --write --parser json

feat: added class for minimal and inline
  package.json
  solutions/file-uploader/inline/index.css
  solutions/file-uploader/minimal/index.css
Due: stylelint --fix, prettier --write --parser css, prettier --write --parser json

fix: ctxOwner for EditorImageCropper
  blocks/CloudImageEditor/src/EditorImageCropper.js
  package.json
Due: eslint --fix, prettier --write, prettier --write --parser json

Path conditions:
  eslint --fix: any of: *.{js,cjs}
  prettier --write: any of: *.{js,cjs}
  stylelint --fix: any of: *.css
  prettier --write --parser css: any of: *.css
  prettier --write --parser json: any of: *.json
  prettier --write --parser markdown: any of: *.md
