Repository uploadcare/file-uploader: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser json, prettier --write --parser markdown

chore(l10n): fix tests
  test-locales.js
Due: eslint --fix, prettier --write

chore(l10n): specify matching social source locales (#757)
  locales/file-uploader/ar.js
  locales/file-uploader/az.js
  locales/file-uploader/ca.js
  locales/file-uploader/cs.js
  locales/file-uploader/da.js
  locales/file-uploader/el.js
  locales/file-uploader/et.js
  locales/file-uploader/hy.js
  locales/file-uploader/is.js
  locales/file-uploader/ja.js
  locales/file-uploader/ka.js
  locales/file-uploader/kk.js
  locales/file-uploader/ko.js
  locales/file-uploader/lv.js
  locales/file-uploader/nb.js
  locales/file-uploader/nl.js
  locales/file-uploader/pl.js
  locales/file-uploader/pt.js
  locales/file-uploader/ro.js
  locales/file-uploader/sk.js
  locales/file-uploader/sr.js
  locales/file-uploader/sv.js
  locales/file-uploader/vi.js
  test-locales.js
Due: eslint --fix, prettier --write

feat(camera-tab): video recording (#755)
  abstract/UploaderPublicApi.js
  blocks/CameraSource/CameraSource.js
  blocks/CameraSource/camera-source.css
  blocks/Config/Config.js
  blocks/Config/initialConfig.js
  blocks/Config/normalizeConfigValue.js
  blocks/themes/uc-basic/common.css
  blocks/themes/uc-basic/icons/camera-full.svg
  blocks/themes/uc-basic/icons/microphone-mute.svg
  blocks/themes/uc-basic/icons/microphone.svg
  blocks/themes/uc-basic/icons/pause.svg
  blocks/themes/uc-basic/icons/play.svg
  blocks/themes/uc-basic/icons/square.svg
  blocks/themes/uc-basic/icons/video-camera-full.svg
  blocks/themes/uc-basic/icons/video-camera.svg
  blocks/themes/uc-basic/svg-sprite.js
  types/exported.d.ts
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write --parser markdown

feat(camera-tab): added aspectRatio
  blocks/CameraSource/CameraSource.js
  blocks/Config/Config.js
  blocks/Config/initialConfig.js
  blocks/Config/normalizeConfigValue.js
  types/exported.d.ts
Due: eslint --fix, prettier --write

fix(camera-tab): added mimeType fallback for safari
  blocks/CameraSource/CameraSource.js
Due: eslint --fix, prettier --write

fix(camera-tab): added hide audioSelectHidden
  blocks/CameraSource/CameraSource.js
Due: eslint --fix, prettier --write

fix(camera-tab): improved fallback to mp4 and conditional code
  blocks/CameraSource/CameraSource.js
Due: eslint --fix, prettier --write

fix(camera-tab): added mimeType fallback for safari (#763)
  blocks/CameraSource/CameraSource.js
Due: eslint --fix, prettier --write

fix(camera-tab): added check removeEventListener
  blocks/CameraSource/CameraSource.js
Due: eslint --fix, prettier --write

fix(camera-tab): added check removeEventListener (#765)
  blocks/CameraSource/CameraSource.js
Due: eslint --fix, prettier --write

feat(social-source): removed instagram source
  blocks/ExternalSource/types.js
  blocks/themes/uc-basic/icons/instagram.svg
  blocks/themes/uc-basic/svg-sprite.js
  blocks/utils/UploadSource.js
  locales/file-uploader/ar.js
  locales/file-uploader/az.js
  locales/file-uploader/ca.js
  locales/file-uploader/cs.js
  locales/file-uploader/da.js
  locales/file-uploader/de.js
  locales/file-uploader/el.js
  locales/file-uploader/en.js
  locales/file-uploader/es.js
  locales/file-uploader/et.js
  locales/file-uploader/fi.js
  locales/file-uploader/fr.js
  locales/file-uploader/he.js
  locales/file-uploader/hy.js
  locales/file-uploader/is.js
  locales/file-uploader/it.js
  locales/file-uploader/ja.js
  locales/file-uploader/ka.js
  locales/file-uploader/kk.js
  locales/file-uploader/ko.js
  locales/file-uploader/lv.js
  locales/file-uploader/nb.js
  locales/file-uploader/nl.js
  locales/file-uploader/pl.js
  locales/file-uploader/pt.js
  locales/file-uploader/ro.js
  locales/file-uploader/ru.js
  locales/file-uploader/sk.js
  locales/file-uploader/sr.js
  locales/file-uploader/sv.js
  locales/file-uploader/tr.js
  locales/file-uploader/uk.js
  locales/file-uploader/vi.js
  locales/file-uploader/zh-TW.js
  locales/file-uploader/zh.js
Due: eslint --fix, prettier --write

feat(social-source): added a source check in the UploadSource
  blocks/SourceList/SourceList.js
Due: eslint --fix, prettier --write

feat(DX): added describe the file uploader options
  types/exported.d.ts
Due: none

feat(DX): improved desc fields
  types/exported.d.ts
Due: none

feat(social-source): added a disconnect notification to instagram
  blocks/SourceList/SourceList.js
Due: eslint --fix, prettier --write

feat(external-sources): add `externalSourcesEmbedCss` config option to set embed css on external sources iframe
  blocks/Config/initialConfig.js
  blocks/Config/normalizeConfigValue.js
  blocks/ExternalSource/ExternalSource.js
  blocks/ExternalSource/types.js
  types/exported.d.ts
Due: eslint --fix, prettier --write

fix(external-sources): done button loading state behaviour
  blocks/ExternalSource/ExternalSource.js
  blocks/ExternalSource/external-source.css
  blocks/Spinner/Spinner.js
  blocks/Spinner/spinner.css
  blocks/themes/uc-basic/index.css
  index.js
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

feat(social-source): deprecate instagram source (#767)
  blocks/ExternalSource/types.js
  blocks/SourceList/SourceList.js
  blocks/themes/uc-basic/icons/instagram.svg
  blocks/themes/uc-basic/svg-sprite.js
  blocks/utils/UploadSource.js
  locales/file-uploader/ar.js
  locales/file-uploader/az.js
  locales/file-uploader/ca.js
  locales/file-uploader/cs.js
  locales/file-uploader/da.js
  locales/file-uploader/de.js
  locales/file-uploader/el.js
  locales/file-uploader/en.js
  locales/file-uploader/es.js
  locales/file-uploader/et.js
  locales/file-uploader/fi.js
  locales/file-uploader/fr.js
  locales/file-uploader/he.js
  locales/file-uploader/hy.js
  locales/file-uploader/is.js
  locales/file-uploader/it.js
  locales/file-uploader/ja.js
  locales/file-uploader/ka.js
  locales/file-uploader/kk.js
  locales/file-uploader/ko.js
  locales/file-uploader/lv.js
  locales/file-uploader/nb.js
  locales/file-uploader/nl.js
  locales/file-uploader/pl.js
  locales/file-uploader/pt.js
  locales/file-uploader/ro.js
  locales/file-uploader/ru.js
  locales/file-uploader/sk.js
  locales/file-uploader/sr.js
  locales/file-uploader/sv.js
  locales/file-uploader/tr.js
  locales/file-uploader/uk.js
  locales/file-uploader/vi.js
  locales/file-uploader/zh-TW.js
  locales/file-uploader/zh.js
Due: eslint --fix, prettier --write

chore(dx): describe the file uploader options with jsdoc (#768)
  types/exported.d.ts
Due: none

feat(external-sources): add `externalSourcesEmbedCss` config option to set embed css on external sources iframe (#769)
  blocks/Config/initialConfig.js
  blocks/Config/normalizeConfigValue.js
  blocks/ExternalSource/ExternalSource.js
  blocks/ExternalSource/types.js
  types/exported.d.ts
Due: eslint --fix, prettier --write

fix(external-sources): done button loading state behaviour (#770)
  blocks/ExternalSource/ExternalSource.js
  blocks/ExternalSource/external-source.css
  blocks/Spinner/Spinner.js
  blocks/Spinner/spinner.css
  blocks/themes/uc-basic/index.css
  index.js
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

chore: fix typo
  blocks/CameraSource/CameraSource.js
  blocks/Config/Config.js
  blocks/Config/initialConfig.js
  blocks/Config/normalizeConfigValue.js
  types/exported.d.ts
Due: eslint --fix, prettier --write

chore(ci): updated codeql
  .github/workflows/codeql.yml
Due: none

feat: add `cameraModes` option, deprecate `enableVideoRecording` and `defaultCameraMode`
  abstract/UploaderPublicApi.js
  blocks/CameraSource/CameraSource.js
  blocks/CameraSource/camera-source.css
  blocks/CameraSource/constants.js
  blocks/CloudImageEditor/src/lib/parseTabs.js
  blocks/Config/Config.js
  blocks/Config/assertions.js
  blocks/Config/initialConfig.js
  blocks/Config/normalizeConfigValue.js
  blocks/Config/side-effects.js
  blocks/utils/comma-separated.js
  types/exported.d.ts
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

chore: reduce ui gap between buttons
  blocks/CameraSource/camera-source.css
Due: stylelint --fix, prettier --write --parser css

chore: fix console.log
  blocks/Config/normalizeConfigValue.js
Due: eslint --fix, prettier --write

chore(ci): updated actions workflows
  .github/workflows/checks.yml
  .github/workflows/codeql.yml
  .github/workflows/shipjs-manual-prepare.yml
  .github/workflows/shipjs-trigger.yml
Due: none

chore(ci): updated playwright
  package-lock.json
  package.json
Due: prettier --write --parser json

chore(ci): updated codeql (#780)
  .github/workflows/checks.yml
  .github/workflows/codeql.yml
  .github/workflows/shipjs-manual-prepare.yml
  .github/workflows/shipjs-trigger.yml
  package-lock.json
  package.json
Due: prettier --write --parser json

feat(cloud-editor): removed cloudImageEditorMaskHref from complexConfigKeys
  blocks/Config/Config.js
Due: eslint --fix, prettier --write

feat(cloud-editor): improved the field description
  blocks/CloudImageEditor/src/CropFrame.js
  blocks/Config/Config.js
  blocks/Config/initialConfig.js
  blocks/Config/normalizeConfigValue.js
  types/exported.d.ts
Due: eslint --fix, prettier --write

feat(cloud-editor): added image mask
  blocks/CloudImageEditor/src/CropFrame.js
  blocks/CloudImageEditor/src/css/common.css
  blocks/Config/Config.js
  blocks/Config/initialConfig.js
  blocks/Config/normalizeConfigValue.js
  demo/cloud-image-editor.html
  types/exported.d.ts
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

fix(file-item): fix progressbar ui when uploading from external URLs
  blocks/FileItem/FileItem.js
  blocks/ProgressBar/ProgressBar.js
  blocks/ProgressBar/progress-bar.css
  locales/file-uploader/ar.js
  locales/file-uploader/az.js
  locales/file-uploader/ca.js
  locales/file-uploader/cs.js
  locales/file-uploader/da.js
  locales/file-uploader/de.js
  locales/file-uploader/el.js
  locales/file-uploader/en.js
  locales/file-uploader/es.js
  locales/file-uploader/et.js
  locales/file-uploader/fi.js
  locales/file-uploader/fr.js
  locales/file-uploader/he.js
  locales/file-uploader/hy.js
  locales/file-uploader/is.js
  locales/file-uploader/it.js
  locales/file-uploader/ja.js
  locales/file-uploader/ka.js
  locales/file-uploader/kk.js
  locales/file-uploader/ko.js
  locales/file-uploader/lv.js
  locales/file-uploader/nb.js
  locales/file-uploader/nl.js
  locales/file-uploader/pl.js
  locales/file-uploader/pt.js
  locales/file-uploader/ro.js
  locales/file-uploader/ru.js
  locales/file-uploader/sk.js
  locales/file-uploader/sr.js
  locales/file-uploader/sv.js
  locales/file-uploader/tr.js
  locales/file-uploader/uk.js
  locales/file-uploader/vi.js
  locales/file-uploader/zh-TW.js
  locales/file-uploader/zh.js
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

fix(drop-area): added position:relative for upload-list
  blocks/UploadList/upload-list.css
Due: stylelint --fix, prettier --write --parser css

fix(drop-area): added position:relative for upload-list (#782)
  blocks/UploadList/upload-list.css
Due: stylelint --fix, prettier --write --parser css

Path conditions:
  eslint --fix: any of: *.{js,cjs}
  prettier --write: any of: *.{js,cjs}
  stylelint --fix: any of: *.css
  prettier --write --parser css: any of: *.css
  prettier --write --parser json: any of: *.json
  prettier --write --parser markdown: any of: *.md
