Repository uploadcare/file-uploader: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser json, prettier --write --parser markdown

.lintstagedrc.json:

{
  "*.{js,cjs}": ["eslint --fix", "prettier --write", "git add"],
  "*.css": ["stylelint --fix", "prettier --write --parser css", "git add"],
  "*.json": ["prettier --write --parser json", "git add"],
  "*.md": ["prettier --write --parser markdown", "git add"]
}

feat: extract public api to the composition class
  abstract/CTX.js
  abstract/UploaderBlock.js
  abstract/UploaderPublicApi.js
  abstract/ValidationManager.js
  blocks/CameraSource/CameraSource.js
  blocks/DropArea/DropArea.js
  blocks/ExternalSource/ExternalSource.js
  blocks/SimpleBtn/SimpleBtn.js
  blocks/SourceBtn/SourceBtn.js
  blocks/UploadList/UploadList.js
  blocks/UrlSource/UrlSource.js
  types/test/lr-config.test-d.tsx
  types/test/lr-upload-ctx-provider.test-d.tsx
  utils/validators/collection/validateCollectionUploadError.js
  utils/validators/collection/validateMultiple.js
  utils/validators/file/validateFileType.js
  utils/validators/file/validateIsImage.js
  utils/validators/file/validateMaxSizeLimit.js
  utils/validators/file/validateUploadError.js
Due: eslint --fix, prettier --write

chore: fix l10n binding
  abstract/UploaderPublicApi.js
Due: eslint --fix, prettier --write

feat: add `setModalActive` and `setCurrentActivity` methods
  abstract/ActivityBlock.js
  abstract/Block.js
  abstract/CTX.js
  abstract/UploaderBlock.js
  abstract/UploaderPublicApi.js
  blocks/ExternalSource/ExternalSource.js
  types/exported.d.ts
  types/test/lr-upload-ctx-provider.test-d.tsx
Due: eslint --fix, prettier --write

chore: fix getAPI method
  abstract/UploaderBlock.js
  types/test/lr-upload-ctx-provider.test-d.tsx
Due: eslint --fix, prettier --write

feat: extract public api to the composition class
  abstract/UploaderPublicApi.js
Due: eslint --fix, prettier --write

fix: missing common-upload-success event on errors remove
  abstract/UploaderBlock.js
  blocks/CloudImageEditor/src/svg-sprite.js
  blocks/themes/lr-basic/svg-sprite.js
Due: eslint --fix, prettier --write

chore: fix common-upload-success event firing with failed collection validation
  abstract/UploaderBlock.js
Due: eslint --fix, prettier --write

fix(file-item): async rendering troubles
  blocks/FileItem/file-item.css
Due: stylelint --fix, prettier --write --parser css

fix(block): correctly destroy nullish blocks registrey on destroy callback
  abstract/Block.js
Due: eslint --fix, prettier --write

fix(file-item): error reset text-align
  blocks/FileItem/file-item.css
Due: stylelint --fix, prettier --write --parser css

chore(build-svg): trim output & add trailing newline
  blocks/CloudImageEditor/src/svg-sprite.js
  blocks/themes/lr-basic/svg-sprite.js
  build-svg-sprite.js
Due: eslint --fix, prettier --write

feat: extract public api to the composition class (#676)
  abstract/ActivityBlock.js
  abstract/Block.js
  abstract/CTX.js
  abstract/UploaderBlock.js
  abstract/UploaderPublicApi.js
  abstract/ValidationManager.js
  blocks/CameraSource/CameraSource.js
  blocks/CloudImageEditor/src/svg-sprite.js
  blocks/DropArea/DropArea.js
  blocks/ExternalSource/ExternalSource.js
  blocks/FileItem/file-item.css
  blocks/SimpleBtn/SimpleBtn.js
  blocks/SourceBtn/SourceBtn.js
  blocks/UploadList/UploadList.js
  blocks/UrlSource/UrlSource.js
  blocks/themes/lr-basic/svg-sprite.js
  build-svg-sprite.js
  types/exported.d.ts
  types/test/lr-config.test-d.tsx
  types/test/lr-upload-ctx-provider.test-d.tsx
  utils/validators/collection/validateCollectionUploadError.js
  utils/validators/collection/validateMultiple.js
  utils/validators/file/validateFileType.js
  utils/validators/file/validateIsImage.js
  utils/validators/file/validateMaxSizeLimit.js
  utils/validators/file/validateUploadError.js
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write --parser markdown

fix(a11y): Added a type for the button
  blocks/CloudImageEditor/src/EditorButtonControl.js
  blocks/CloudImageEditor/src/EditorFilterControl.js
  blocks/CloudImageEditor/src/elements/button/LrBtnUi.js
  blocks/SourceBtn/SourceBtn.js
Due: eslint --fix, prettier --write

fix(a11y): Added a type for the button (#695)
  blocks/CloudImageEditor/src/EditorButtonControl.js
  blocks/CloudImageEditor/src/EditorFilterControl.js
  blocks/CloudImageEditor/src/elements/button/LrBtnUi.js
  blocks/SourceBtn/SourceBtn.js
Due: eslint --fix, prettier --write

feat: Added the prefix uc to className via js and rename BtnUI
  blocks/CloudImageEditor/src/elements/button/BtnUi.js
  blocks/CloudImageEditor/src/elements/slider/SliderUi.js
  blocks/CloudImageEditor/src/index.js
  blocks/Modal/Modal.js
Due: eslint --fix, prettier --write

feat: Added Backward compatibility for build
  abstract/Block.js
  abstract/registerBlocks.js
  build-items.js
Due: eslint --fix, prettier --write

feat: async `secureDeliveryProxyUrlResolver` (#677)
  abstract/Block.js
  abstract/UploaderBlock.js
  blocks/CloudImageEditor/src/CloudImageEditorBlock.js
  blocks/CloudImageEditor/src/EditorFilterControl.js
  blocks/CloudImageEditor/src/EditorImageCropper.js
  blocks/CloudImageEditor/src/EditorImageFader.js
  blocks/CloudImageEditor/src/EditorToolbar.js
  blocks/FileItem/FileItem.js
  types/exported.d.ts
Due: eslint --fix, prettier --write

fix(styles): added prefix uc- to className in the js
  blocks/CloudImageEditor/src/elements/slider/SliderUi.js
  blocks/Modal/Modal.js
Due: eslint --fix, prettier --write

fix(styles): added prefix uc- to className in the js (#700)
  blocks/CloudImageEditor/src/elements/slider/SliderUi.js
  blocks/Modal/Modal.js
Due: eslint --fix, prettier --write

docs: basic readme project rename
  README.md
Due: prettier --write --parser markdown

chore: update package name
  package.json
Due: prettier --write --parser json

feat: rename import/export from LR to UC
  README.md
  abstract/Block.js
  abstract/connectBlocksFrom.js
  build.js
  demo/cloud-image-editor.html
  demo/form.html
  demo/icons.html
  demo/locales.html
  demo/preview-proxy/secure-delivery-proxy-url-resolver.html
  demo/preview-proxy/secure-delivery-proxy-url-template.html
  demo/raw-inline.html
  demo/raw-minimal.html
  demo/raw-regular.html
  demo/secure-uploads.html
  demo/validators.html
  types/global.d.ts
Due: eslint --fix, prettier --write, prettier --write --parser markdown

Updated README.md
  README.md
Due: prettier --write --parser markdown

feat(types): added JSX types for lr-
  types/jsx.d.ts
Due: none

feat: support for lr only
  README.md
  abstract/Block.js
  abstract/registerBlocks.js
  types/jsx.d.ts
Due: eslint --fix, prettier --write, prettier --write --parser markdown

feat: rename files
  types/test/uc-cloud-image-editor.test-d.tsx
  types/test/uc-config.test-d.tsx
  types/test/uc-form-input.test-d.tsx
  types/test/uc-upload-ctx-provider.test-d.tsx
Due: none

feature: add cloud-image-editor telemetry
  blocks/CloudImageEditor/src/util.js
  utils/cdn-utils.js
Due: eslint --fix, prettier --write

chore: update readme
  README.md
Due: prettier --write --parser markdown

chore: update package name (#702)
  README.md
  package.json
Due: prettier --write --parser json, prettier --write --parser markdown
