Repository uploadcare/file-uploader: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser json, prettier --write --parser markdown

.lintstagedrc.json:

{
  "*.{js,cjs}": ["eslint --fix", "prettier --write", "git add"],
  "*.css": ["stylelint --fix", "prettier --write --parser css", "git add"],
  "*.json": ["prettier --write --parser json", "git add"],
  "*.md": ["prettier --write --parser markdown", "git add"]
}

Do not hardcode mizip version
  README.md
Due: prettier --write --parser markdown

Add trailing slash
  README.md
Due: prettier --write --parser markdown

Update README (#742)
  README.md
  package.json
Due: prettier --write --parser json, prettier --write --parser markdown

feat: increased the capture area for dragging
  blocks/CloudImageEditor/src/CropFrame.js
  blocks/CloudImageEditor/src/types.js
Due: eslint --fix, prettier --write

feat: increased the capture area for dragging (#741)
  blocks/CloudImageEditor/src/CropFrame.js
  blocks/CloudImageEditor/src/types.js
Due: eslint --fix, prettier --write

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write --parser markdown

fix(svg-sprite): unneeded icons leak to the uc-basic sprite
  blocks/themes/uc-basic/svg-sprite.js
  build-svg-sprite.js
Due: eslint --fix, prettier --write

fix(svg-sprite): unneeded icons leak to the uc-basic sprite (#746)
  blocks/themes/uc-basic/svg-sprite.js
  build-svg-sprite.js
Due: eslint --fix, prettier --write

feat: added titles a11y in buttons of uc-activity-header
  blocks/CameraSource/CameraSource.js
  blocks/ExternalSource/ExternalSource.js
  blocks/Icon/Icon.js
  blocks/UrlSource/UrlSource.js
Due: eslint --fix, prettier --write

feat: added titles a11y in buttons of uc-activity-header (#748)
  blocks/CameraSource/CameraSource.js
  blocks/ExternalSource/ExternalSource.js
  blocks/Icon/Icon.js
  blocks/UrlSource/UrlSource.js
Due: eslint --fix, prettier --write

feat: new social sources
  blocks/ExternalSource/ExternalSource.js
  blocks/ExternalSource/MessageBridge.js
  blocks/ExternalSource/buildStyles.js
  blocks/ExternalSource/buildThemeDefinition.js
  blocks/ExternalSource/external-source.css
  blocks/ExternalSource/messages.js
  locales/file-uploader/en.js
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

chore: extract types to separate file
  blocks/ExternalSource/ExternalSource.js
  blocks/ExternalSource/MessageBridge.js
  blocks/ExternalSource/buildThemeDefinition.js
  blocks/ExternalSource/types.js
Due: eslint --fix, prettier --write

chore: reduce theme variables list
  blocks/ExternalSource/buildThemeDefinition.js
Due: eslint --fix, prettier --write

chore: reset selection state on unmount
  blocks/ExternalSource/ExternalSource.js
Due: eslint --fix, prettier --write

chore: add social sourcesdemo page
  demo/new-social-sources-test.html
Due: none

Added Finnish Localization for UI
  locales/file-uploader/fi.js
Due: eslint --fix, prettier --write

final additions
  locales/file-uploader/fi.js
Due: eslint --fix, prettier --write

added finnish to social source languages
  test-locales.js
Due: eslint --fix, prettier --write

feat: added Finnish Localization for UI (#753)
  locales/file-uploader/fi.js
  test-locales.js
Due: eslint --fix, prettier --write

feat(camera-tab): realization of video recording
  abstract/UploaderPublicApi.js
  blocks/CameraSource/CameraSource.js
  blocks/CameraSource/camera-source.css
  blocks/Config/Config.js
  blocks/Config/initialConfig.js
  blocks/Config/normalizeConfigValue.js
  blocks/themes/uc-basic/common.css
  blocks/themes/uc-basic/icons/camera-full.svg
  blocks/themes/uc-basic/icons/microphone-mute.svg
  blocks/themes/uc-basic/icons/microphone.svg
  blocks/themes/uc-basic/icons/pause.svg
  blocks/themes/uc-basic/icons/play.svg
  blocks/themes/uc-basic/icons/square.svg
  blocks/themes/uc-basic/icons/video-camera-full.svg
  blocks/themes/uc-basic/icons/video-camera.svg
  blocks/themes/uc-basic/svg-sprite.js
  blocks/themes/uc-basic/theme.css
  types/exported.d.ts
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

chore: disable scale for social source demo
  demo/new-social-sources-test.html
Due: none

chore: fix upload list height on safari
  blocks/UploadList/upload-list.css
Due: stylelint --fix, prettier --write --parser css

chore: increase modal size & refactor modal css & remove dialog api fallback
  blocks/CameraSource/CameraSource.js
  blocks/CameraSource/camera-source.css
  blocks/CloudImageEditorActivity/index.css
  blocks/ExternalSource/external-source.css
  blocks/Modal/Modal.js
  blocks/Modal/modal.css
  blocks/StartFrom/start-from.css
  blocks/UploadList/upload-list.css
  blocks/UrlSource/url-source.css
  blocks/themes/uc-basic/theme.css
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

chore: fix activity width
  blocks/ExternalSource/external-source.css
Due: stylelint --fix, prettier --write --parser css

chore: added l10n
  blocks/ExternalSource/ExternalSource.js
  blocks/ExternalSource/types.js
Due: eslint --fix, prettier --write

chore: cleanup
  demo/new-social-sources-test.html
Due: none

chore(l10n): add missing keys for all the locales
  locales/file-uploader/ar.js
  locales/file-uploader/az.js
  locales/file-uploader/ca.js
  locales/file-uploader/cs.js
  locales/file-uploader/da.js
  locales/file-uploader/de.js
  locales/file-uploader/el.js
  locales/file-uploader/es.js
  locales/file-uploader/et.js
  locales/file-uploader/fi.js
  locales/file-uploader/fr.js
  locales/file-uploader/he.js
  locales/file-uploader/hy.js
  locales/file-uploader/is.js
  locales/file-uploader/it.js
  locales/file-uploader/ja.js
  locales/file-uploader/ka.js
  locales/file-uploader/kk.js
  locales/file-uploader/ko.js
  locales/file-uploader/lv.js
  locales/file-uploader/nb.js
  locales/file-uploader/nl.js
  locales/file-uploader/pl.js
  locales/file-uploader/pt.js
  locales/file-uploader/ro.js
  locales/file-uploader/ru.js
  locales/file-uploader/sk.js
  locales/file-uploader/sr.js
  locales/file-uploader/sv.js
  locales/file-uploader/tr.js
  locales/file-uploader/uk.js
  locales/file-uploader/vi.js
  locales/file-uploader/zh-TW.js
  locales/file-uploader/zh.js
Due: eslint --fix, prettier --write

feat(camera-tab): name of updated fields
  blocks/CameraSource/CameraSource.js
  blocks/Config/Config.js
  blocks/Config/initialConfig.js
  blocks/Config/normalizeConfigValue.js
  types/exported.d.ts
Due: eslint --fix, prettier --write

feat(camera-tab): fallback for mimeType
  blocks/CameraSource/CameraSource.js
Due: eslint --fix, prettier --write

feat(camera-tab): cancelAnimationFrame, after close modal
  blocks/CameraSource/CameraSource.js
Due: eslint --fix, prettier --write

chore(l10n): specify matching social source locales
  locales/file-uploader/ar.js
  locales/file-uploader/az.js
  locales/file-uploader/ca.js
  locales/file-uploader/cs.js
  locales/file-uploader/da.js
  locales/file-uploader/el.js
  locales/file-uploader/et.js
  locales/file-uploader/hy.js
  locales/file-uploader/is.js
  locales/file-uploader/ja.js
  locales/file-uploader/ka.js
  locales/file-uploader/kk.js
  locales/file-uploader/ko.js
  locales/file-uploader/lv.js
  locales/file-uploader/nb.js
  locales/file-uploader/nl.js
  locales/file-uploader/pl.js
  locales/file-uploader/pt.js
  locales/file-uploader/ro.js
  locales/file-uploader/sk.js
  locales/file-uploader/sr.js
  locales/file-uploader/sv.js
  locales/file-uploader/vi.js
Due: eslint --fix, prettier --write
