Repository uploadcare/file-uploader: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser json, prettier --write --parser markdown

.lintstagedrc.json:

{
  "*.{js,cjs}": ["eslint --fix", "prettier --write", "git add"],
  "*.css": ["stylelint --fix", "prettier --write --parser css", "git add"],
  "*.json": ["prettier --write --parser json", "git add"],
  "*.md": ["prettier --write --parser markdown", "git add"]
}

Select
  blocks/Select/select.css
Due: stylelint --fix, prettier --write --parser css

SimpleBtn intermediate
  blocks/SimpleBtn/simple-btn.css
Due: stylelint --fix, prettier --write --parser css

Tabs
  blocks/Tabs/tabs.css
Due: stylelint --fix, prettier --write --parser css

UploadList error colors
  blocks/UploadList/upload-list.css
Due: stylelint --fix, prettier --write --parser css

UrlSource
  blocks/UrlSource/url-source.css
Due: stylelint --fix, prettier --write --parser css

Video
  blocks/Video/video.css
Due: stylelint --fix, prettier --write --parser css

cleanup
  blocks/CameraSource/camera-source.css
  blocks/Color/color.css
  blocks/ExternalSource/ExternalSource.js
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

increase dialog corner radius
  blocks/DropArea/drop-area.css
  blocks/Modal/modal.css
Due: stylelint --fix, prettier --write --parser css

remove --ui-size
  blocks/DropArea/drop-area.css
  blocks/themes/lr-basic/theme.css
  solutions/file-uploader/inline/index.css
  solutions/file-uploader/minimal/index.css
Due: stylelint --fix, prettier --write --parser css

minimal intermediate
  solutions/file-uploader/minimal/index.css
Due: stylelint --fix, prettier --write --parser css

fix add-more icon
  blocks/UploadList/UploadList.js
  blocks/UploadList/upload-list.css
  solutions/file-uploader/minimal/index.css
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

fix copyright in inline
  solutions/file-uploader/inline/index.css
Due: stylelint --fix, prettier --write --parser css

added --uc-preview-size, minimal intermediate
  blocks/CameraSource/camera-source.css
  blocks/FileItem/file-item.css
  blocks/themes/lr-basic/theme.css
  solutions/file-uploader/minimal/index.css
Due: stylelint --fix, prettier --write --parser css

fix transparency issues in minimal
  blocks/Copyright/copyright.css
  solutions/file-uploader/minimal/index.css
Due: stylelint --fix, prettier --write --parser css

minimal done
  solutions/file-uploader/minimal/index.css
Due: stylelint --fix, prettier --write --parser css

minor changes
  blocks/DropArea/drop-area.css
Due: stylelint --fix, prettier --write --parser css

Copyright: fix more transparency issues
  blocks/Copyright/copyright.css
Due: stylelint --fix, prettier --write --parser css

separate variables for simplebtn
  blocks/FileItem/FileItem.js
  blocks/Modal/modal.css
  blocks/SimpleBtn/simple-btn.css
  blocks/themes/lr-basic/theme.css
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

simplify SimpleBtn
  blocks/SimpleBtn/simple-btn.css
  blocks/themes/lr-basic/theme.css
Due: stylelint --fix, prettier --write --parser css

prepare button to switch to lr-basic
  blocks/CloudImageEditor/src/css/common.css
Due: stylelint --fix, prettier --write --parser css

intermediate commit
  blocks/CloudImageEditor/src/EditorToolbar.js
  blocks/CloudImageEditor/src/css/common.css
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

slider recolored
  blocks/CloudImageEditor/src/css/common.css
Due: stylelint --fix, prettier --write --parser css

intermediate commit
  blocks/CloudImageEditor/src/css/common.css
Due: stylelint --fix, prettier --write --parser css

keep colors together
  blocks/themes/lr-basic/theme.css
Due: stylelint --fix, prettier --write --parser css

dark theme
  blocks/themes/lr-basic/theme.css
Due: stylelint --fix, prettier --write --parser css

controls coloring done
  blocks/CloudImageEditor/src/css/common.css
Due: stylelint --fix, prettier --write --parser css

color the crop guides
  blocks/CloudImageEditor/src/CropFrame.js
  blocks/CloudImageEditor/src/css/common.css
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

minor
  blocks/CloudImageEditor/src/css/common.css
Due: stylelint --fix, prettier --write --parser css

fix operation control active state
  blocks/CloudImageEditor/src/css/common.css
Due: stylelint --fix, prettier --write --parser css

filter-control icon coloring
  blocks/CloudImageEditor/src/css/common.css
Due: stylelint --fix, prettier --write --parser css

rm some hardcode
  blocks/CloudImageEditor/src/css/common.css
Due: stylelint --fix, prettier --write --parser css

feat: add `secureUploadsExpireThreshold` option
  abstract/SecureUploadsManager.js
  abstract/UploaderBlock.js
  blocks/Config/initialConfig.js
  blocks/Config/normalizeConfigValue.js
  types/exported.d.ts
  utils/isSecureTokenExpired.js
  utils/isSecureTokenExpired.test.js
Due: eslint --fix, prettier --write

color errors
  blocks/CloudImageEditor/src/css/common.css
Due: stylelint --fix, prettier --write --parser css

rm old variables from theme
  blocks/FileItem/file-item.css
  blocks/themes/lr-basic/theme.css
Due: stylelint --fix, prettier --write --parser css

dark mode with media query
  blocks/themes/lr-basic/theme.css
Due: stylelint --fix, prettier --write --parser css

demo background with theme media query
  demo/raw-inline.html
  demo/raw-minimal.html
  demo/raw-regular.html
Due: none

cleanup CloudImageEditor's common.css
  blocks/CloudImageEditor/src/css/common.css
Due: stylelint --fix, prettier --write --parser css

editor icons update
  blocks/CloudImageEditor/src/icons/closeMax.svg
  blocks/CloudImageEditor/src/icons/done.svg
  blocks/CloudImageEditor/src/icons/original.svg
  blocks/CloudImageEditor/src/svg-sprite.js
  blocks/themes/lr-basic/svg-sprite.js
Due: eslint --fix, prettier --write

edit icon is a pencil now
  blocks/themes/lr-basic/icons/edit-file.svg
  blocks/themes/lr-basic/svg-sprite.js
Due: eslint --fix, prettier --write

StartFrom: hide DropArea on phones
  blocks/StartFrom/start-from.css
Due: stylelint --fix, prettier --write --parser css
