Repository uploadcare/file-uploader: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser json, prettier --write --parser markdown

.lintstagedrc.json:

{
  "*.{js,cjs}": ["eslint --fix", "prettier --write", "git add"],
  "*.css": ["stylelint --fix", "prettier --write --parser css", "git add"],
  "*.json": ["prettier --write --parser json", "git add"],
  "*.md": ["prettier --write --parser markdown", "git add"]
}

test: archive workflow artifacts
  .github/workflows/checks.yml
Due: none

update package lock
  package-lock.json
Due: prettier --write --parser json

test: try to fix ci
  tests/__screenshots__/file-uploader-regular.e2e.test.tsx/File-uploader-regular-Add-files-to-the-upload-list-from-camera-1.png
  tests/file-uploader-regular.e2e.test.tsx
  vitest.workspace.ts
Due: none

test: add `testMode` option
  abstract/Block.js
  blocks/Config/initialConfig.js
  blocks/Config/normalizeConfigValue.js
  types/exported.d.ts
  types/jsx.d.ts
Due: eslint --fix, prettier --write

test: try to fix ones
  .github/workflows/checks.yml
  tests/utils/test-renderer.tsx
Due: none

test: split tests and cache
  .github/workflows/checks.yml
  .github/workflows/e2e-tests.yml
  .nvmrc
  package.json
Due: prettier --write --parser json

test: add some dummy tests
  test-renderer.tsx
  tests/dummy.e2e.test.tsx
  tests/fixtures/test_image.jpeg
  tests/utils/commands.ts
  tests/utils/test-renderer.tsx
  tsconfig.json
  types/test/uc-cloud-image-editor.test-d.tsx
  types/test/uc-config.test-d.tsx
  types/test/uc-form-input.test-d.tsx
  types/test/uc-upload-ctx-provider.test-d.tsx
  vitest.workspace.ts
Due: prettier --write --parser json

test: merge workflows
  .github/workflows/checks.yml
  .github/workflows/e2e-tests.yml
  package.json
Due: prettier --write --parser json

enable coverage
  .github/workflows/checks.yml
  .gitignore
  package-lock.json
  package.json
  vite.config.js
Due: eslint --fix, prettier --write, prettier --write --parser json

fix lint
  build-ssr-stubs.js
Due: eslint --fix, prettier --write

bump deps
  package-lock.json
  package.json
Due: prettier --write --parser json

disable some stylelint rules
  .stylelintrc.cjs
  package-lock.json
Due: eslint --fix, prettier --write, prettier --write --parser json

fix(modal): added hasActiveModals in emit for open/close modal
  blocks/Modal/Modal.js
Due: eslint --fix, prettier --write

fix(modal): added hasActiveModals in emit for close modal (#813)
  blocks/Modal/Modal.js
Due: eslint --fix, prettier --write

types(events): added hasActiveModals in the EventPayload
  blocks/UploadCtxProvider/EventEmitter.js
  types/test/uc-upload-ctx-provider.test-d.tsx
Due: eslint --fix, prettier --write

types(events): added hasActiveModals in the EventPayload (#816)
  blocks/UploadCtxProvider/EventEmitter.js
  types/test/uc-upload-ctx-provider.test-d.tsx
Due: eslint --fix, prettier --write

feat(external-sources): pass top level origin to the sources iframe
  blocks/ExternalSource/ExternalSource.js
  blocks/ExternalSource/types.js
  utils/get-top-level-origin.js
Due: eslint --fix, prettier --write

fix: missing css custom properties config on uc-upload-ctx-provider
  blocks/UploadCtxProvider/UploadCtxProvider.js
Due: eslint --fix, prettier --write

chore: enable debug mode for local demos
  demo/raw-regular.html
Due: none

fix(modal-manager): fire close event on history back for current activity
  abstract/ActivityBlock.js
Due: eslint --fix, prettier --write

fix: missing css custom properties config on uc-upload-ctx-provider (#819)
  blocks/UploadCtxProvider/UploadCtxProvider.js
Due: eslint --fix, prettier --write

fix: set position absolute on hidden file input to prevent host page layout issues
  abstract/UploaderPublicApi.js
Due: eslint --fix, prettier --write

fix: set position absolute on hidden file input to prevent host page layout issues (#823)
  abstract/UploaderPublicApi.js
Due: eslint --fix, prettier --write

feat: add `retryNetworkErrorMaxTimes` option
  abstract/UploaderBlock.js
  blocks/Config/initialConfig.js
  blocks/Config/normalizeConfigValue.js
  types/exported.d.ts
Due: eslint --fix, prettier --write

feat: add `retryNetworkErrorMaxTimes` option (#827)
  abstract/UploaderBlock.js
  blocks/Config/initialConfig.js
  blocks/Config/normalizeConfigValue.js
  types/exported.d.ts
Due: eslint --fix, prettier --write

feat: add support for prefixed cdn subdomains
  blocks/Config/Config.js
  blocks/Config/initialConfig.js
  blocks/Config/side-effects.js
  demo/raw-regular.html
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, prettier --write --parser json

feat(a11y): added outline-offeset and label for input
  blocks/UrlSource/UrlSource.js
  blocks/themes/uc-basic/common.css
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

feat: add support for prefixed cdn subdomains
  blocks/Config/initialConfig.js
  blocks/Config/normalizeConfigValue.js
  blocks/Config/side-effects.js
  types/exported.d.ts
Due: eslint --fix, prettier --write

feat: add support for prefixed cdn subdomains (#826)
  blocks/Config/Config.js
  blocks/Config/initialConfig.js
  blocks/Config/normalizeConfigValue.js
  blocks/Config/side-effects.js
  demo/raw-regular.html
  package-lock.json
  package.json
  types/exported.d.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

fix: bump `cname-prefix` package version
  blocks/Config/side-effects.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, prettier --write --parser json

feat(a11y): added outline-offeset and label for input (#832)
  blocks/UrlSource/UrlSource.js
  blocks/themes/uc-basic/common.css
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

fix: bump `cname-prefix` package version (#831)
  blocks/Config/side-effects.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, prettier --write --parser json

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write --parser markdown

fix: subdomain prefix wrong calculation
  package-lock.json
  package.json
Due: prettier --write --parser json

fix: subdomain prefix wrong calculation (#834)
  package-lock.json
  package.json
Due: prettier --write --parser json

fix(config): update prefixed cname on every pubkey change & skip empty pubkeys
  blocks/Config/side-effects.js
  package-lock.json
  package.json
  tests/api.e2e.test.tsx
  tests/config.e2e.test.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json

fix(file-item): show `waiting for` hints for social sources only
  blocks/FileItem/FileItem.js
Due: eslint --fix, prettier --write
