Repository uploadcare/file-uploader: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser json, prettier --write --parser markdown

.lintstagedrc.json:

{
  "*.{js,cjs}": ["eslint --fix", "prettier --write", "git add"],
  "*.css": ["stylelint --fix", "prettier --write --parser css", "git add"],
  "*.json": ["prettier --write --parser json", "git add"],
  "*.md": ["prettier --write --parser markdown", "git add"]
}

chore: refactor collection subscription
  abstract/TypedCollection.js
  abstract/UploaderBlock.js
  blocks/ProgressBarCommon/ProgressBarCommon.js
  blocks/UploadList/UploadList.js
Due: eslint --fix, prettier --write

fix: show inline validation message for the `multiple-min` requirement check fail
  abstract/UploaderBlock.js
  blocks/themes/lr-basic/l10n.css
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

feat: add new properties to the output file entry
  abstract/UploaderBlock.js
  types/exported.d.ts
Due: eslint --fix, prettier --write

chore: do not notify collection observers when there are no changes
  abstract/TypedCollection.js
Due: eslint --fix, prettier --write

chore: remove unused import
  abstract/UploaderBlock.js
Due: eslint --fix, prettier --write

feat: make `LR_OUTPUT_DATA` event frequent and contain all the files
  abstract/UploaderBlock.js
Due: eslint --fix, prettier --write

fix(lr-data-output): improve native form validation
  blocks/DataOutput/DataOutput.js
  blocks/test/form.htm
Due: eslint --fix, prettier --write

chore: remove console log with upload-client options
  abstract/UploaderBlock.js
Due: eslint --fix, prettier --write

feat: add property `fullPath` to the output entry
  abstract/UploaderBlock.js
  types/exported.d.ts
Due: eslint --fix, prettier --write

feat: pass output entry to the metadata callback
  abstract/UploaderBlock.js
  blocks/DataOutput/DataOutput.js
  blocks/FileItem/FileItem.js
  types/exported.d.ts
Due: eslint --fix, prettier --write

chore: refactor
  blocks/DataOutput/DataOutput.js
Due: eslint --fix, prettier --write

chore(lr-data-output): extract validation messages from the files
  blocks/DataOutput/DataOutput.js
Due: eslint --fix, prettier --write

chrore: update changelog
  CHANGELOG.md
Due: prettier --write --parser markdown

chore: reorder native form validation messages
  blocks/DataOutput/DataOutput.js
Due: eslint --fix, prettier --write

chore: improve condition for `isUploaded` flag
  abstract/UploaderBlock.js
Due: eslint --fix, prettier --write

chore: make common progress bar fixed instead of absolute
  blocks/ProgressBarCommon/progress-bar-common.css
Due: stylelint --fix, prettier --write --parser css

chore: add `uploadProgress` property
  CHANGELOG.md
  abstract/UploaderBlock.js
  types/exported.d.ts
Due: eslint --fix, prettier --write, prettier --write --parser markdown

chore: update changelog
  CHANGELOG.md
Due: prettier --write --parser markdown

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write --parser markdown

fix(types): bump @uploadcare/upload-client with fixed types for `imageInfo.datetimeOriginal`
  package-lock.json
  package.json
Due: prettier --write --parser json

fix(modal): buggy click handlers to close modal on outside click
  blocks/Modal/Modal.js
Due: eslint --fix, prettier --write

fix(types): bump @uploadcare/upload-client with fixed types for `imageInfo.datetimeOriginal` (#550)
  package-lock.json
  package.json
Due: prettier --write --parser json

fix(modal): buggy click handlers to close modal on outside click (#551)
  blocks/Modal/Modal.js
Due: eslint --fix, prettier --write

chore: disable codeql for type tests
  .github/workflows/codeql.yml
Due: none

feat: move global events to the `lr-upload-ctx-provider` scope
  abstract/ActivityBlock.js
  abstract/Block.js
  abstract/CTX.js
  abstract/EventManager.js
  abstract/UploaderBlock.js
  blocks/Config/Config.js
  blocks/FileItem/FileItem.js
  blocks/UploadCtxProvider/EventEmitter.js
  blocks/UploadCtxProvider/UploadCtxProvider.js
  blocks/UploadList/UploadList.js
  blocks/test/raw-regular.htm
  package-lock.json
  package.json
  tsconfig.json
  tsconfig.types.json
  types/events.d.ts
  types/exported.d.ts
  types/jsx.d.ts
  types/test/events.test-d.ts
  types/test/lr-config.test-d.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json

feat: add `cancel` button on the start from activity
  blocks/StartFrom/StartFrom.js
  blocks/StartFrom/start-from.css
  blocks/test/raw-inline.htm
  blocks/test/raw-regular.htm
  solutions/file-uploader/inline/FileUploaderInline.js
  solutions/file-uploader/inline/index.css
  solutions/file-uploader/regular/FileUploaderRegular.js
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

feat: add `cancel` button on the start from activity (#554)
  blocks/StartFrom/StartFrom.js
  blocks/StartFrom/start-from.css
  blocks/test/raw-inline.htm
  blocks/test/raw-regular.htm
  solutions/file-uploader/inline/FileUploaderInline.js
  solutions/file-uploader/inline/index.css
  solutions/file-uploader/regular/FileUploaderRegular.js
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

fix(drop-area): show pointer on clickable drop areas
  blocks/DropArea/DropArea.js
  blocks/DropArea/drop-area.css
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

fix: cancel button behaviour
  abstract/ActivityBlock.js
  abstract/UploaderBlock.js
  blocks/UploadList/UploadList.js
  blocks/themes/lr-basic/l10n.css
  solutions/file-uploader/inline/FileUploaderInline.js
  solutions/file-uploader/minimal/index.css
  solutions/file-uploader/regular/FileUploaderRegular.js
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

fix(lr-upload-ctx-provider): improve event types
  blocks/Config/Config.js
  blocks/DataOutput/DataOutput.js
  blocks/ShadowWrapper/ShadowWrapper.js
  blocks/UploadCtxProvider/UploadCtxProvider.js
  types/events.d.ts
  types/jsx.d.ts
  types/test/events.test-d.ts
  types/test/global-events.test-d.ts
  types/test/lr-cloud-image-editor.test-d.tsx
  types/test/lr-config.test-d.tsx
  types/test/lr-data-output.test-d.tsx
  types/test/lr-upload-ctx-provider.test-d.tsx
  utils/mixinClass.js
Due: eslint --fix, prettier --write

fix(lr-upload-ctx-provider): improve event types (#563)
  blocks/Config/Config.js
  blocks/DataOutput/DataOutput.js
  blocks/ShadowWrapper/ShadowWrapper.js
  blocks/UploadCtxProvider/UploadCtxProvider.js
  types/events.d.ts
  types/jsx.d.ts
  types/test/events.test-d.ts
  types/test/global-events.test-d.ts
  types/test/lr-cloud-image-editor.test-d.tsx
  types/test/lr-config.test-d.tsx
  types/test/lr-data-output.test-d.tsx
  types/test/lr-upload-ctx-provider.test-d.tsx
  utils/mixinClass.js
Due: eslint --fix, prettier --write

fix(upload-ctx-provider): run parent init callback before accessing event emitter
  blocks/UploadCtxProvider/UploadCtxProvider.js
Due: eslint --fix, prettier --write

fix(start-from): styles
  blocks/Copyright/copyright.css
  blocks/StartFrom/start-from.css
  solutions/file-uploader/inline/index.css
  solutions/file-uploader/minimal/index.css
Due: stylelint --fix, prettier --write --parser css

fix(upload-ctx-provider): run parent init callback before accessing event emitter (#565)
  blocks/UploadCtxProvider/UploadCtxProvider.js
Due: eslint --fix, prettier --write

fix(start-from): styles (#566)
  blocks/Copyright/copyright.css
  blocks/StartFrom/start-from.css
  solutions/file-uploader/inline/index.css
  solutions/file-uploader/minimal/index.css
Due: stylelint --fix, prettier --write --parser css
