Repository uploadcare/file-uploader: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js,cjs,tsx}": ["biome check --write", "git add"],
  "*.css": ["stylelint --fix", "biome check --write", "git add"],
  "*.json": ["biome check --write", "git add"]
}

feat: refactor CSS selectors for SmartBtn and DropDown components
  src/blocks/DropDown/drop-down.css
  src/blocks/SmartBtn/primary-action.css
  src/blocks/SmartBtn/smart-btn.css
Due: biome check --write, stylelint --fix

feat: refactor DropDown components
  src/blocks/DropDown/DropDown.ts
Due: biome check --write

test: update test descriptions and improve consistency in SmartBtn tests
  specs/npm/npm.test.ts
  tests/smart-btn-upload-list.e2e.test.tsx
Due: biome check --write

test: updated test for the smart-button-upload-list.e2e
  tests/smart-btn-upload-list.e2e.test.tsx
Due: biome check --write

refactor: remove unused progress property and related CSS for FileActionButton
  src/blocks/FileItem/FileActionButton.ts
  src/blocks/FileItem/file-item.css
  src/blocks/SmartBtn/PrimaryAction.ts
Due: biome check --write, stylelint --fix

feat: enhanced SmartBtn logic for collapsed mode and update related conditions
  src/blocks/DropArea/drop-area.css
  src/blocks/SmartBtn/SmartBtn.ts
Due: biome check --write, stylelint --fix

feat: rename smartBtn properties to smartButton for consistency
  demo/features/smart-button.html
  src/blocks/Config/initialConfig.ts
  src/blocks/Config/normalizeConfigValue.ts
  src/blocks/Config/validatorsType.ts
  src/blocks/SmartBtn/PrimaryAction.ts
  src/blocks/SmartBtn/SmartBtn.ts
  src/blocks/SmartBtn/smart-btn.css
  src/solutions/file-uploader/regular/FileUploaderRegular.ts
  src/types/exported.ts
Due: biome check --write, stylelint --fix

chore: removed inactive social media sources from snapshots
  specs/npm/__snapshots__/npm.test.ts.snap
Due: none

chore: removed inactive sources (#965)
  specs/npm/__snapshots__/npm.test.ts.snap
  src/utils/UploadSource.ts
Due: biome check --write

feat: update smart-button attributes for consistency and improve accessibility
  demo/features/smart-button.html
  demo/solutions/regular.html
  specs/npm/__snapshots__/npm.test.ts.snap
  specs/npm/npm.test.ts
  src/abstract/features/ClipboardLayer.ts
  src/blocks/DropArea/DropArea.ts
  src/blocks/DropDown/drop-down.css
  src/blocks/FileItem/FileItem.ts
  src/blocks/SourceBtn/SourceBtn.ts
  src/solutions/file-uploader/regular/FileUploaderRegular.ts
Due: biome check --write, stylelint --fix

feat: updated locales
  src/blocks/CameraSource/CameraSource.ts
  src/locales/file-uploader/ar.ts
  src/locales/file-uploader/az.ts
  src/locales/file-uploader/ca.ts
  src/locales/file-uploader/cs.ts
  src/locales/file-uploader/da.ts
  src/locales/file-uploader/de.ts
  src/locales/file-uploader/el.ts
  src/locales/file-uploader/en.ts
  src/locales/file-uploader/es.ts
  src/locales/file-uploader/et.ts
  src/locales/file-uploader/fi.ts
  src/locales/file-uploader/fr.ts
  src/locales/file-uploader/he.ts
  src/locales/file-uploader/hy.ts
  src/locales/file-uploader/is.ts
  src/locales/file-uploader/it.ts
  src/locales/file-uploader/ja.ts
  src/locales/file-uploader/ka.ts
  src/locales/file-uploader/kk.ts
  src/locales/file-uploader/ko.ts
  src/locales/file-uploader/lv.ts
  src/locales/file-uploader/nb.ts
  src/locales/file-uploader/nl.ts
  src/locales/file-uploader/pl.ts
  src/locales/file-uploader/pt.ts
  src/locales/file-uploader/ro.ts
  src/locales/file-uploader/ru.ts
  src/locales/file-uploader/sk.ts
  src/locales/file-uploader/sr.ts
  src/locales/file-uploader/sv.ts
  src/locales/file-uploader/tr.ts
  src/locales/file-uploader/uk.ts
  src/locales/file-uploader/vi.ts
  src/locales/file-uploader/zh-TW.ts
  src/locales/file-uploader/zh.ts
Due: biome check --write

refactor: convert SourceListController to Lit ReactiveController
  src/abstract/controllers/SourceListController.ts
  src/blocks/SmartBtn/SmartBtn.ts
  src/blocks/SourceList/SourceList.ts
  tests/smart-btn-upload-list.e2e.test.tsx
Due: biome check --write

feat: migrated SmartBtnLayer to RouterHooksLayer
  src/abstract/UploaderPublicApi.ts
  src/abstract/features/ClipboardLayer.ts
  src/abstract/features/RouterHooksLayer.ts
  src/abstract/features/SmartBtnLayer.ts
  src/blocks/CameraSource/CameraSource.ts
  src/blocks/DropArea/DropArea.ts
  src/blocks/ExternalSource/ExternalSource.ts
  src/blocks/SmartBtn/SmartBtn.ts
  src/blocks/UrlSource/UrlSource.ts
  src/lit/LitBlock.ts
  src/lit/SharedState.ts
  src/lit/shared-instances.ts
Due: biome check --write

feat(smart-btn): renamed view mode values for clarity
  demo/features/smart-button.html
  src/blocks/Config/validatorsType.ts
  src/blocks/SmartBtn/SmartBtn.ts
  src/blocks/SourceList/SourceList.ts
Due: biome check --write

feat(ai-enhancer): add AI Enhancer widget and File Uploader plugin
  demo/ai-enhancer/plugin.html
  demo/ai-enhancer/standalone.html
  src/ai-enhancer/UcAiEditor.ts
  src/ai-enhancer/capabilities.ts
  src/ai-enhancer/controllers/GenerationController.test.ts
  src/ai-enhancer/controllers/GenerationController.ts
  src/ai-enhancer/index.ts
  src/ai-enhancer/locales/en.ts
  src/ai-enhancer/locales/translate.test.ts
  src/ai-enhancer/locales/translate.ts
  src/ai-enhancer/plugin/AiEnhancerPlugin.ts
  src/ai-enhancer/providers/mockBfl.test.ts
  src/ai-enhancer/providers/mockBfl.ts
  src/ai-enhancer/providers/types.ts
  src/ai-enhancer/ui/ai-editor.css
  src/ai-enhancer/ui/icons.ts
  src/ai-enhancer/ui/parts/UcAiCanvas.ts
  src/ai-enhancer/ui/parts/UcAiChips.ts
  src/ai-enhancer/ui/parts/UcAiFooter.ts
  src/ai-enhancer/ui/parts/UcAiHistoryPopover.ts
  src/ai-enhancer/ui/parts/UcAiPromptRow.ts
  src/ai-enhancer/ui/parts/canvas.css
  src/ai-enhancer/ui/parts/chips.css
  src/ai-enhancer/ui/parts/footer.css
  src/ai-enhancer/ui/parts/history-popover.css
  src/ai-enhancer/ui/parts/prompt-row.css
  tests/ai-enhancer.e2e.test.tsx
  tests/plugins/ai-enhancer-plugin.e2e.test.tsx
Due: biome check --write, stylelint --fix

feat(adaptive-image): introduce @uploadcare/adaptive-image package
  package-lock.json
  package.json
  packages/adaptive-image/package.json
  packages/adaptive-image/scripts/build.ts
  packages/adaptive-image/src/blocks/Img/Img.ts
  packages/adaptive-image/src/blocks/Img/ImgBase.ts
  packages/adaptive-image/src/blocks/Img/ImgConfig.ts
  packages/adaptive-image/src/blocks/Img/configurations.ts
  packages/adaptive-image/src/blocks/Img/props-map.ts
  packages/adaptive-image/src/blocks/Img/utils/parseObjectToString.ts
  packages/adaptive-image/src/env.ts
  packages/adaptive-image/src/index.ts
  packages/adaptive-image/src/lit/Constructor.ts
  packages/adaptive-image/src/lit/CssDataMixin.ts
  packages/adaptive-image/src/lit/RegisterableElementMixin.ts
  packages/adaptive-image/src/lit/parseCssPropertyValue.ts
  packages/adaptive-image/src/utils/cdn-utils.ts
  packages/adaptive-image/src/utils/stringToArray.ts
  packages/adaptive-image/src/utils/template-utils.ts
  packages/adaptive-image/src/utils/uniqueArray.ts
  packages/adaptive-image/tsconfig.json
Due: biome check --write

feat(cloud-image-editor): introduce @uploadcare/cloud-image-editor package
  package-lock.json
  package.json
  packages/cloud-image-editor/package.json
  packages/cloud-image-editor/scripts/build.ts
  packages/cloud-image-editor/src/index.ts
  packages/cloud-image-editor/tsconfig.json
  packages/file-uploader/package.json
  packages/file-uploader/scripts/build-items.ts
Due: biome check --write

chore: switch release flow from shipjs to lerna publish
  package-lock.json
  package.json
  packages/file-uploader/package.json
  packages/file-uploader/ship.config.mjs
Due: biome check --write

fix(monorepo): apply review findings from feat/monorepo audit
  .github/workflows/shipjs-manual-prepare.yml
  .github/workflows/shipjs-trigger.yml
  package-lock.json
  package.json
  packages/adaptive-image/src/env.ts
  packages/cloud-image-editor/package.json
Due: biome check --write

chore: hoist shared test/lint/format/build tooling to monorepo root
  eslint.config.ts
  package-lock.json
  package.json
  packages/adaptive-image/package.json
  packages/adaptive-image/tsconfig.json
  packages/cloud-image-editor/package.json
  packages/cloud-image-editor/tsconfig.json
  packages/file-uploader/.stylelintignore
  packages/file-uploader/.stylelintrc.cjs
  packages/file-uploader/package.json
  packages/file-uploader/stylelint-force-app-name-prefix.cjs
  packages/file-uploader/tsconfig.app.json
  packages/file-uploader/tsconfig.e2e-test.json
  packages/file-uploader/tsconfig.node.json
  packages/file-uploader/tsconfig.test.json
  tsconfig.base.json
Due: biome check --write

refactor: move CloudImageEditorActivity and cloudImageEditorPlugin to @uploadcare/cloud-image-editor
  packages/cloud-image-editor/src/blocks/CloudImageEditorActivity/CloudImageEditorActivity.ts
  packages/cloud-image-editor/src/blocks/CloudImageEditorActivity/cloud-image-editor-activity.css
  packages/cloud-image-editor/src/index.ts
  packages/cloud-image-editor/src/plugins/cloudImageEditorPlugin.ts
  packages/file-uploader/src/internal.ts
  packages/file-uploader/src/lit/LitActivityBlock.ts
  packages/file-uploader/src/solutions/file-uploader/inline/FileUploaderInline.ts
  packages/file-uploader/src/solutions/file-uploader/lazyPlugins.ts
  packages/file-uploader/src/solutions/file-uploader/minimal/FileUploaderMinimal.ts
  packages/file-uploader/src/solutions/file-uploader/regular/FileUploaderRegular.ts
Due: biome check --write, stylelint --fix

refactor(monorepo): unvendor adaptive-image, lean @uploadcare/file-uploader/internal, source-alias web bundles
  package-lock.json
  packages/adaptive-image/package.json
  packages/adaptive-image/scripts/build.ts
  packages/adaptive-image/src/blocks/Img/ImgBase.ts
  packages/adaptive-image/src/blocks/Img/ImgConfig.ts
  packages/adaptive-image/src/lit/Constructor.ts
  packages/adaptive-image/src/lit/CssDataMixin.ts
  packages/adaptive-image/src/lit/RegisterableElementMixin.ts
  packages/adaptive-image/src/lit/parseCssPropertyValue.ts
  packages/adaptive-image/src/utils/cdn-utils.ts
  packages/adaptive-image/src/utils/stringToArray.ts
  packages/adaptive-image/src/utils/template-utils.ts
  packages/adaptive-image/src/utils/uniqueArray.ts
  packages/cloud-image-editor/package.json
  packages/cloud-image-editor/scripts/build.ts
  packages/file-uploader/package.json
  packages/file-uploader/scripts/build-items.ts
  packages/file-uploader/src/blocks/Img/Img.ts
  packages/file-uploader/src/blocks/Img/ImgBase.ts
  packages/file-uploader/src/blocks/Img/ImgConfig.ts
  packages/file-uploader/src/blocks/Img/configurations.ts
  packages/file-uploader/src/blocks/Img/props-map.ts
  packages/file-uploader/src/blocks/Img/utils/parseObjectToString.ts
  packages/file-uploader/src/index.ts
  packages/file-uploader/src/internal.ts
  packages/file-uploader/src/solutions/adaptive-image/index.ts
Due: biome check --write

Migrate npm publish to staged publishing
  .github/workflows/shipjs-trigger.yml
  ship.config.mjs
Due: none

refactor: rename smart button to dynamic button
  demo/features/dynamic-button.html
  src/blocks/Config/initialConfig.ts
  src/blocks/Config/normalizeConfigValue.ts
  src/blocks/Config/validatorsType.ts
  src/blocks/DynamicBtn/DynamicBtn.ts
  src/blocks/DynamicBtn/NoWrapModeDynamicBtn.ts
  src/blocks/DynamicBtn/PrimaryAction.ts
  src/blocks/DynamicBtn/dynamic-btn-mode.css
  src/blocks/DynamicBtn/dynamic-btn.css
  src/blocks/DynamicBtn/primary-action.css
  src/blocks/SmartBtn/NoWrapModeSmartBtn.ts
  src/blocks/SmartBtn/smart-btn-mode.css
  src/index.ts
  src/solutions/file-uploader/regular/FileUploaderRegular.ts
  src/types/exported.ts
  tests/dynamic-btn-upload-list.e2e.test.tsx
Due: biome check --write, stylelint --fix

test: update npm export snapshots after smart->dynamic rename
  specs/npm/__snapshots__/npm.test.ts.snap
Due: none

refactor: rename smart button to dynamic button (#970)
  demo/features/dynamic-button.html
  specs/npm/__snapshots__/npm.test.ts.snap
  src/blocks/Config/initialConfig.ts
  src/blocks/Config/normalizeConfigValue.ts
  src/blocks/Config/validatorsType.ts
  src/blocks/DynamicBtn/DynamicBtn.ts
  src/blocks/DynamicBtn/NoWrapModeDynamicBtn.ts
  src/blocks/DynamicBtn/PrimaryAction.ts
  src/blocks/DynamicBtn/dynamic-btn-mode.css
  src/blocks/DynamicBtn/dynamic-btn.css
  src/blocks/DynamicBtn/primary-action.css
  src/blocks/SmartBtn/NoWrapModeSmartBtn.ts
  src/blocks/SmartBtn/smart-btn-mode.css
  src/index.ts
  src/solutions/file-uploader/regular/FileUploaderRegular.ts
  src/types/exported.ts
  tests/dynamic-btn-upload-list.e2e.test.tsx
Due: biome check --write, stylelint --fix

refactor(dynamic-button): removed uc-wgt-common class
  src/blocks/DynamicBtn/DynamicBtn.ts
Due: biome check --write

refactor(dynamic-button): removed uc-wgt-common class (#972)
  src/blocks/DynamicBtn/DynamicBtn.ts
Due: biome check --write

feat: add addFileFromUploadcareFile to the uploader public API
  src/abstract/UploaderPublicApi.ts
  tests/api.e2e.test.tsx
Due: biome check --write

test(e2e): assert addFileFromUploadcareFile fires success events on add
  tests/api.e2e.test.tsx
Due: biome check --write

fix(plugins): make plugin registry changes reactive (batched)
  src/abstract/managers/plugin/PluginManager.ts
  src/abstract/managers/plugin/PluginRegistry.test.ts
  src/abstract/managers/plugin/PluginRegistry.ts
  tests/plugins/icon-and-l10n.e2e.test.tsx
Due: biome check --write

refactor(drop-down): added type button in the header button
  src/blocks/DropDown/DropDown.ts
  src/blocks/DynamicBtn/PrimaryAction.ts
Due: biome check --write

ci: split checks into parallel jobs, cache node_modules, fix playwright hang
  .github/actions/setup/action.yml
  .github/workflows/checks.yml
  package.json
Due: biome check --write

ci: run tsc in the build job (it needs the build output)
  .github/workflows/checks.yml
Due: none

fix(deps): upgrade playwright to 1.60.0 to fix install hang in CI
  package-lock.json
  package.json
Due: biome check --write

test(e2e): drop .ts extension from value import (tsc:e2e TS5097)
  tests/plugins/icon-and-l10n.e2e.test.tsx
Due: biome check --write

ci: build before running tests in the test job
  .github/workflows/checks.yml
Due: none
