Repository uploadcare/file-uploader: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser json, prettier --write --parser markdown

fix(styles-readme): updated connect style in the project
  README.md
Due: prettier --write --parser markdown

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write --parser markdown

make primary colors derive from one value
  blocks/themes/lr-basic/theme.css
Due: stylelint --fix, prettier --write --parser css

use system-ui as a default font-family
  blocks/themes/lr-basic/theme.css
Due: stylelint --fix, prettier --write --parser css

fix(styles-readme): updated connect style in the project (#663)
  README.md
Due: prettier --write --parser markdown

make chroma and hue uniform across grays
  blocks/themes/lr-basic/theme.css
Due: stylelint --fix, prettier --write --parser css

stop forcing `lr` prefix
  .stylelintrc.cjs
Due: eslint --fix, prettier --write

make theme forceable with classes
  blocks/themes/lr-basic/theme.css
Due: stylelint --fix, prettier --write --parser css

rm rules from stylelintrc.cjs
  .stylelintrc.cjs
Due: eslint --fix, prettier --write

feat(lr-file-uploader-regular): added prop headless
  solutions/file-uploader/regular/FileUploaderRegular.js
Due: eslint --fix, prettier --write

feat(validators): added custom validators
  abstract/UploaderBlock.js
  abstract/ValidationManager.js
  blocks/Config/Config.js
  blocks/Config/initialConfig.js
  blocks/Config/normalizeConfigValue.js
  demo/raw-regular.html
  types/exported.d.ts
Due: eslint --fix, prettier --write

feat(validators): added custom validators file and collection
  abstract/ValidationManager.js
  blocks/Config/normalizeConfigValue.js
  types/exported.d.ts
  utils/validators/collection/index.js
  utils/validators/collection/validateCollectionUploadError.js
  utils/validators/collection/validateMultiple.js
  utils/validators/file/index.js
  utils/validators/file/validateFileType.js
  utils/validators/file/validateIsImage.js
  utils/validators/file/validateMaxSizeLimit.js
  utils/validators/file/validateUploadError.js
Due: eslint --fix, prettier --write

feat(validators): added custom-collection-validators and @typedef for fileValidators and collectionValidators
  abstract/UploaderBlock.js
  abstract/ValidationManager.js
  blocks/Config/Config.js
  blocks/Config/initialConfig.js
  blocks/Config/normalizeConfigValue.js
  types/exported.d.ts
  utils/validators/collection/validateCollectionUploadError.js
  utils/validators/collection/validateMultiple.js
  utils/validators/file/validateFileType.js
  utils/validators/file/validateIsImage.js
  utils/validators/file/validateMaxSizeLimit.js
  utils/validators/file/validateUploadError.js
Due: eslint --fix, prettier --write

feat(validators): improved code style and types
  blocks/Config/normalizeConfigValue.js
  types/exported.d.ts
  utils/validators/file/validateUploadError.js
Due: eslint --fix, prettier --write

add rgb fallback
  blocks/themes/lr-basic/theme.css
Due: stylelint --fix, prettier --write --parser css

remove dakrmode css custom property
  blocks/LiveHtml/LiveHtml.js
  blocks/LiveHtml/live-html.css
  blocks/themes/lr-basic/theme.css
  demo/inline-mode.html
  demo/raw-build.html
  demo/raw-inline.html
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

prevent link styles external override
  blocks/Copyright/copyright.css
Due: stylelint --fix, prettier --write --parser css

fix(CHANGELOG): added link to the documentation
  CHANGELOG.md
Due: prettier --write --parser markdown

fix(CHANGELOG): added link to the documentation (#669)
  CHANGELOG.md
Due: prettier --write --parser markdown

fix typo
  blocks/themes/lr-basic/theme.css
Due: stylelint --fix, prettier --write --parser css

remove unused css config properties
  blocks/themes/lr-basic/config.css
Due: stylelint --fix, prettier --write --parser css

remove editor host selectors
  blocks/CloudImageEditor/src/css/common.css
Due: stylelint --fix, prettier --write --parser css

remove unnecessary styles from inline
  solutions/file-uploader/minimal/index.css
Due: stylelint --fix, prettier --write --parser css

do not apply ltr direction style
  abstract/Block.js
Due: eslint --fix, prettier --write

remove unnecessary styles
  blocks/CloudImageEditor/src/css/common.css
Due: stylelint --fix, prettier --write --parser css

fix cloud image editor solution styles
  abstract/Block.js
  blocks/CloudImageEditor/src/CloudImageEditorBlock.js
  blocks/CloudImageEditor/src/css/icons.css
  blocks/CloudImageEditor/src/css/index.css
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

fix(cloud-image-editor): supress wheel passive handler warning
  blocks/CloudImageEditor/src/EditorScroller.js
Due: eslint --fix, prettier --write

fix editor icons size styles
  blocks/CloudImageEditor/src/css/icons.css
Due: stylelint --fix, prettier --write --parser css

fix editor initial flashing
  blocks/CloudImageEditor/src/css/common.css
  blocks/CloudImageEditor/src/elements/presence-toggle/PresenceToggle.js
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

fix editor demo page
  demo/cloud-image-editor.html
Due: none

remove unused components
  abstract/ActivityBlock.js
  blocks/Color/Color.js
  blocks/Color/color.css
  blocks/ConfirmationDialog/ConfirmationDialog.js
  blocks/ConfirmationDialog/confirmation.css
  blocks/EditableCanvas/CanMan.js
  blocks/EditableCanvas/EditableCanvas.js
  blocks/EditableCanvas/EditableCanvasToolbar.js
  blocks/EditableCanvas/buttons.js
  blocks/EditableCanvas/editable-canvas.css
  blocks/EditableCanvas/test/test.htm
  blocks/EditableCanvas/test/test.jpg
  blocks/FilePreview/FilePreview.js
  blocks/FilePreview/file-preview.css
  blocks/Tabs/Tabs.js
  blocks/Tabs/tabs.css
  blocks/Video/Video.js
  blocks/Video/test-track.vtt
  blocks/Video/video.css
  blocks/Video/video.json
  blocks/themes/lr-basic/index.css
  index.js
  types/jsx.d.ts
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser json

feat(validators): added new type CUSTOM_ERROR
  abstract/CTX.js
  abstract/ValidationManager.js
  abstract/buildOutputCollectionState.js
  types/exported.d.ts
  utils/buildOutputError.js
  utils/validators/collection/validateCollectionUploadError.js
  utils/validators/collection/validateMultiple.js
  utils/validators/file/validateFileType.js
  utils/validators/file/validateIsImage.js
  utils/validators/file/validateMaxSizeLimit.js
  utils/validators/file/validateUploadError.js
Due: eslint --fix, prettier --write

(validators): Do not pass internal entry to the file validator
  abstract/ValidationManager.js
  types/test/lr-config.test-d.tsx
  utils/validators/file/validateFileType.js
  utils/validators/file/validateIsImage.js
  utils/validators/file/validateMaxSizeLimit.js
  utils/validators/file/validateUploadError.js
Due: eslint --fix, prettier --write

(validators): renamed block argument to the ctx
  abstract/ValidationManager.js
Due: eslint --fix, prettier --write

(validators): Set default type for custom validation errors
  abstract/CTX.js
  abstract/ValidationManager.js
  abstract/buildOutputCollectionState.js
  blocks/Config/normalizeConfigValue.js
  blocks/UploadList/UploadList.js
  types/exported.d.ts
  types/test/lr-config.test-d.tsx
  utils/validators/collection/validateCollectionUploadError.js
  utils/validators/collection/validateMultiple.js
Due: eslint --fix, prettier --write

(validators): added demo html validators
  abstract/ValidationManager.js
  demo/validators.html
Due: eslint --fix, prettier --write

Feat/custom validate func (#667)
  abstract/CTX.js
  abstract/UploaderBlock.js
  abstract/ValidationManager.js
  abstract/buildOutputCollectionState.js
  blocks/Config/Config.js
  blocks/Config/initialConfig.js
  blocks/Config/normalizeConfigValue.js
  blocks/UploadList/UploadList.js
  demo/raw-regular.html
  demo/validators.html
  types/exported.d.ts
  types/test/lr-config.test-d.tsx
  utils/buildOutputError.js
  utils/validators/collection/index.js
  utils/validators/collection/validateCollectionUploadError.js
  utils/validators/collection/validateMultiple.js
  utils/validators/file/index.js
  utils/validators/file/validateFileType.js
  utils/validators/file/validateIsImage.js
  utils/validators/file/validateMaxSizeLimit.js
  utils/validators/file/validateUploadError.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,cjs}
  prettier --write: any of: *.{js,cjs}
  stylelint --fix: any of: *.css
  prettier --write --parser css: any of: *.css
  prettier --write --parser json: any of: *.json
  prettier --write --parser markdown: any of: *.md
