Repository uploadcare/file-uploader: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser json, prettier --write --parser markdown

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write --parser markdown

fix: removed items from build
  build-items.js
Due: eslint --fix, prettier --write

fix: removed items from build (#707)
  build-items.js
Due: eslint --fix, prettier --write

feat: add cloud-image-editor telemetry (#703)
  blocks/CloudImageEditor/src/util.js
  utils/cdn-utils.js
Due: eslint --fix, prettier --write

fix(regular-mode): disable done button until group created
  blocks/UploadList/UploadList.js
Due: eslint --fix, prettier --write

fix(regular-mode): disable done button until group created (#710)
  blocks/UploadList/UploadList.js
Due: eslint --fix, prettier --write

feat: renamed method registerBlocks to registerFileUploader
  README.md
  abstract/connectBlocksFrom.js
  abstract/registerFileUploader.js
  blocks/CloudImageEditorActivity/test.js
  build-items.js
  demo/cloud-image-editor.html
  demo/form.html
  demo/icons.html
  demo/locales.html
  demo/preview-proxy/secure-delivery-proxy-url-resolver.html
  demo/preview-proxy/secure-delivery-proxy-url-template.html
  demo/raw-inline.html
  demo/raw-minimal.html
  demo/raw-regular.html
  demo/secure-uploads.html
  demo/validators.html
  index.js
  solutions/cloud-image-editor/index.js
  solutions/file-uploader/minimal/index.js
Due: eslint --fix, prettier --write, prettier --write --parser markdown

feat: renamed method connectBlocksFrom to loadFileUploaderFrom
  abstract/loadFileUploaderFrom.js
  index.js
  package.json
  types/global.d.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

feat: renamed method registerFileUploader to defineComponents
  README.md
  abstract/defineComponents.js
  abstract/loadFileUploaderFrom.js
  blocks/CloudImageEditorActivity/test.js
  demo/cloud-image-editor.html
  demo/form.html
  demo/icons.html
  demo/locales.html
  demo/preview-proxy/secure-delivery-proxy-url-resolver.html
  demo/preview-proxy/secure-delivery-proxy-url-template.html
  demo/raw-inline.html
  demo/raw-minimal.html
  demo/raw-regular.html
  demo/secure-uploads.html
  demo/validators.html
  index.js
  solutions/cloud-image-editor/index.js
  solutions/file-uploader/minimal/index.js
Due: eslint --fix, prettier --write, prettier --write --parser markdown

added color classes
  blocks/themes/uc-basic/theme.css
Due: stylelint --fix, prettier --write --parser css

chore: update changelog
  CHANGELOG.md
Due: prettier --write --parser markdown

chore: update changelog (#716)
  CHANGELOG.md
Due: prettier --write --parser markdown

chore: update npm package repo url
  package.json
Due: prettier --write --parser json

feat(public-upload-api): allow to switch activity to the cloud image editor with predefined file opened
  abstract/ActivityBlock.js
  abstract/CTX.js
  abstract/UploaderBlock.js
  abstract/UploaderPublicApi.js
  blocks/CloudImageEditorActivity/CloudImageEditorActivity.js
  blocks/ExternalSource/ExternalSource.js
  blocks/FileItem/FileItem.js
  types/test/public-upload-api.test-d.tsx
  types/test/uc-upload-ctx-provider.test-d.tsx
Due: eslint --fix, prettier --write

fix(cloud-image-editor): little memory leak where cloud image editor was holding some references that prevents from context destroying
  abstract/Block.js
  blocks/CloudImageEditor/src/elements/slider/SliderUi.js
Due: eslint --fix, prettier --write

chore: update npm package repo url (#718)
  package.json
Due: prettier --write --parser json

feat: remove common progress bar from the regular and inline modes
  solutions/file-uploader/inline/FileUploaderInline.js
  solutions/file-uploader/regular/FileUploaderRegular.js
Due: eslint --fix, prettier --write

feat: remove common progress bar from the regular and inline modes (#721)
  solutions/file-uploader/inline/FileUploaderInline.js
  solutions/file-uploader/regular/FileUploaderRegular.js
Due: eslint --fix, prettier --write

chore: replace bind with set
  blocks/CameraSource/CameraSource.js
  blocks/CloudImageEditor/src/EditorButtonControl.js
  blocks/CloudImageEditor/src/EditorFilterControl.js
  blocks/CloudImageEditor/src/EditorSlider.js
  blocks/CloudImageEditor/src/EditorToolbar.js
  blocks/CloudImageEditor/src/elements/button/BtnUi.js
  blocks/CloudImageEditor/src/elements/slider/SliderUi.js
  blocks/CloudImageEditor/src/template.js
  blocks/DropArea/DropArea.js
  blocks/ExternalSource/ExternalSource.js
  blocks/FileItem/FileItem.js
  blocks/Icon/Icon.js
  blocks/ProgressBarCommon/ProgressBarCommon.js
  blocks/Select/Select.js
  blocks/SimpleBtn/SimpleBtn.js
  blocks/SourceBtn/SourceBtn.js
  blocks/UploadList/UploadList.js
  blocks/UrlSource/UrlSource.js
  solutions/file-uploader/inline/FileUploaderInline.js
  solutions/file-uploader/regular/FileUploaderRegular.js
  symbiote.js
Due: eslint --fix, prettier --write

feat(a11y): Added title to button
  blocks/CloudImageEditor/src/EditorButtonControl.js
  blocks/CloudImageEditor/src/EditorCropButtonControl.js
  blocks/CloudImageEditor/src/EditorFilterControl.js
  blocks/CloudImageEditor/src/EditorOperationControl.js
  blocks/CloudImageEditor/src/EditorToolbar.js
  blocks/CloudImageEditor/src/css/common.css
  blocks/CloudImageEditor/src/elements/button/BtnUi.js
  blocks/Modal/Modal.js
  blocks/UploadList/UploadList.js
  locales/file-uploader/en.js
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

feat(a11y): Added parameterization locales and migartion data
  blocks/CloudImageEditor/src/EditorCropButtonControl.js
  blocks/CloudImageEditor/src/EditorFilterControl.js
  blocks/CloudImageEditor/src/EditorOperationControl.js
  locales/file-uploader/ar.js
  locales/file-uploader/az.js
  locales/file-uploader/ca.js
  locales/file-uploader/cs.js
  locales/file-uploader/da.js
  locales/file-uploader/de.js
  locales/file-uploader/el.js
  locales/file-uploader/en.js
  locales/file-uploader/es.js
  locales/file-uploader/et.js
  locales/file-uploader/fr.js
  locales/file-uploader/he.js
  locales/file-uploader/hy.js
  locales/file-uploader/is.js
  locales/file-uploader/it.js
  locales/file-uploader/ja.js
  locales/file-uploader/ka.js
  locales/file-uploader/kk.js
  locales/file-uploader/ko.js
  locales/file-uploader/lv.js
  locales/file-uploader/nb.js
  locales/file-uploader/nl.js
  locales/file-uploader/pl.js
  locales/file-uploader/pt.js
  locales/file-uploader/ro.js
  locales/file-uploader/ru.js
  locales/file-uploader/sk.js
  locales/file-uploader/sr.js
  locales/file-uploader/sv.js
  locales/file-uploader/tr.js
  locales/file-uploader/uk.js
  locales/file-uploader/vi.js
  locales/file-uploader/zh-TW.js
  locales/file-uploader/zh.js
Due: eslint --fix, prettier --write

WIP
  abstract/Block.js
  build.js
Due: eslint --fix, prettier --write

feat(theme): add predefined color presets classes (#715)
  blocks/themes/uc-basic/theme.css
Due: stylelint --fix, prettier --write --parser css

feat(a11y): The filterName has been renamed to name
  blocks/CloudImageEditor/src/EditorCropButtonControl.js
  blocks/CloudImageEditor/src/EditorFilterControl.js
  blocks/CloudImageEditor/src/EditorOperationControl.js
  locales/file-uploader/ar.js
  locales/file-uploader/az.js
  locales/file-uploader/ca.js
  locales/file-uploader/cs.js
  locales/file-uploader/da.js
  locales/file-uploader/de.js
  locales/file-uploader/el.js
  locales/file-uploader/en.js
  locales/file-uploader/es.js
  locales/file-uploader/et.js
  locales/file-uploader/fr.js
  locales/file-uploader/he.js
  locales/file-uploader/hy.js
  locales/file-uploader/is.js
  locales/file-uploader/it.js
  locales/file-uploader/ja.js
  locales/file-uploader/ka.js
  locales/file-uploader/kk.js
  locales/file-uploader/ko.js
  locales/file-uploader/lv.js
  locales/file-uploader/nb.js
  locales/file-uploader/nl.js
  locales/file-uploader/pl.js
  locales/file-uploader/pt.js
  locales/file-uploader/ro.js
  locales/file-uploader/ru.js
  locales/file-uploader/sk.js
  locales/file-uploader/sr.js
  locales/file-uploader/sv.js
  locales/file-uploader/tr.js
  locales/file-uploader/uk.js
  locales/file-uploader/vi.js
  locales/file-uploader/zh-TW.js
  locales/file-uploader/zh.js
Due: eslint --fix, prettier --write

feat(public-upload-api): add method `getCurrentActivity`
  abstract/UploaderPublicApi.js
Due: eslint --fix, prettier --write

chore: add upload api demo example
  demo/upload-api.html
Due: none

fix(styles-tailwindcss-forms): compatibility limiting rewriting of styles
  blocks/themes/uc-basic/index.css
  blocks/themes/uc-basic/post-reset.css
Due: stylelint --fix, prettier --write --parser css

fix(styles-tailwindcss-forms): compatibility limiting rewriting of styles (#728)
  blocks/themes/uc-basic/index.css
  blocks/themes/uc-basic/post-reset.css
Due: stylelint --fix, prettier --write --parser css

fix: system file dialog on safari
  abstract/UploaderPublicApi.js
Due: eslint --fix, prettier --write

fix: system file dialog on safari (#730)
  abstract/UploaderPublicApi.js
Due: eslint --fix, prettier --write

feat(image-editor): added pitura and tui
  .eslintrc
  abstract/ActivityBlock.js
  blocks/CloudImageEditor/src/svg-sprite.js
  blocks/EditorPintura/EditorPintura.js
  blocks/EditorTui/EditorTui.js
  blocks/FileItem/FileItem.js
  blocks/Modal/modal.css
  blocks/themes/uc-basic/post-reset.css
  blocks/themes/uc-basic/svg-sprite.js
  demo/raw-regular.html
  index.js
  package-lock.json
  package.json
  solutions/file-uploader/regular/FileUploaderRegular.js
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser json

feat(a11y/fonts): added different font size options
  blocks/themes/uc-basic/theme.css
Due: stylelint --fix, prettier --write --parser css

feat(a11y/contrast): added different contrast
  blocks/themes/uc-basic/a11y.css
  blocks/themes/uc-basic/index.css
  blocks/themes/uc-basic/theme.css
Due: stylelint --fix, prettier --write --parser css

Path conditions:
  eslint --fix: any of: *.{js,cjs}
  prettier --write: any of: *.{js,cjs}
  stylelint --fix: any of: *.css
  prettier --write --parser css: any of: *.css
  prettier --write --parser json: any of: *.json
  prettier --write --parser markdown: any of: *.md
