Repository uploadcare/file-uploader: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js,cjs,tsx}": ["biome check --write", "git add"],
  "*.css": ["stylelint --fix", "biome check --write", "git add"],
  "*.json": ["biome check --write", "git add"]
}

fix: use unlayered css by default & add separate layered bundle (#893)
  package-lock.json
  package.json
  scripts/build.ts
  src/solutions/file-uploader/regular/index.css
Due: biome check --write, stylelint --fix

fix: use `inert` instead of `aria-hidden` to supress focus catch
  src/blocks/CloudImageEditor/src/elements/presence-toggle/PresenceToggle.ts
Due: biome check --write

chore: fix symbiote state type warnings
  src/blocks/CloudImageEditor/src/EditorFilterControl.ts
  src/blocks/CloudImageEditor/src/EditorToolbar.ts
  src/blocks/ExternalSource/ExternalSource.ts
Due: biome check --write

test: added tests for coverage
  package.json
  src/abstract/managers/__tests__/ModalManager.test.ts
  src/abstract/managers/__tests__/SecureUploadsManager.test.ts
  src/blocks/CloudImageEditor/src/lib/FocusVisible.ts
  src/blocks/CloudImageEditor/src/lib/applyFocusVisiblePolyfill.ts
  src/blocks/FileItem/FileItem.ts
  src/utils/get-top-level-origin.test.ts
  tests/api.e2e.test.tsx
  tests/cloud-image-editor.e2e.test.tsx
  tests/config.e2e.test.tsx
  tests/file-uploader-minimal.e2e.test.tsx
  tests/file-uploader-regular.e2e.test.tsx
  tests/validation.e2e.test.tsx
  vite.config.js
Due: biome check --write

feat(lit): add core Lit infrastructure and compatibility mixins
  src/lit/Constructor.ts
  src/lit/CssDataMixin.ts
  src/lit/LightDomMixin.ts
  src/lit/RegisterableElementMixin.ts
  src/lit/SymbioteCompatMixin.ts
  src/lit/parseCssPropertyValue.ts
Due: biome check --write

feat(lit): add LitBlock, LitActivityBlock, and LitUploaderBlock base classes
  src/lit/LitActivityBlock.ts
  src/lit/LitBlock.ts
  src/lit/LitSolutionBlock.ts
  src/lit/LitUploaderBlock.ts
  src/lit/TestModeController.ts
Due: biome check --write

chore: remove deprecated Block.ts and old processors
  src/abstract/ActivityBlock.ts
  src/abstract/Block.ts
  src/abstract/SolutionBlock.ts
  src/abstract/UploaderBlock.ts
  src/abstract/bindCompatibilityFallbackProcessor.ts
  src/abstract/l10nProcessor.ts
  src/abstract/testModeProcessor.ts
  src/blocks/Range/Range.ts
  src/blocks/Range/range.css
Due: biome check --write, stylelint --fix

refactor(blocks): migrate core uploader blocks to Lit
  src/blocks/ActivityHeader/ActivityHeader.ts
  src/blocks/CameraSource/CameraSource.ts
  src/blocks/Config/Config.ts
  src/blocks/Copyright/Copyright.ts
  src/blocks/DropArea/DropArea.ts
  src/blocks/ExternalSource/ExternalSource.ts
  src/blocks/FileItem/FileItem.ts
  src/blocks/FileItem/FileItemConfig.ts
  src/blocks/FormInput/FormInput.ts
  src/blocks/Icon/Icon.ts
  src/blocks/Modal/Modal.ts
  src/blocks/ProgressBar/ProgressBar.ts
  src/blocks/ProgressBar/progress-bar.css
  src/blocks/ProgressBarCommon/ProgressBarCommon.ts
  src/blocks/Select/Select.ts
  src/blocks/SimpleBtn/SimpleBtn.ts
  src/blocks/SourceBtn/SourceBtn.ts
  src/blocks/SourceList/SourceList.ts
  src/blocks/Spinner/Spinner.ts
  src/blocks/StartFrom/StartFrom.ts
  src/blocks/Thumb/Thumb.ts
  src/blocks/Thumb/thumb.css
  src/blocks/UploadCtxProvider/EventEmitter.ts
  src/blocks/UploadCtxProvider/UploadCtxProvider.ts
  src/blocks/UploadList/UploadList.ts
  src/blocks/UrlSource/UrlSource.ts
Due: biome check --write, stylelint --fix

refactor(cloud-image-editor): migrate editor components to Lit
  src/blocks/CloudImageEditor/src/CloudImageEditorBlock.ts
  src/blocks/CloudImageEditor/src/CropFrame.ts
  src/blocks/CloudImageEditor/src/EditorAspectRatioButtonControl.ts
  src/blocks/CloudImageEditor/src/EditorButtonControl.ts
  src/blocks/CloudImageEditor/src/EditorCropButtonControl.ts
  src/blocks/CloudImageEditor/src/EditorFilterControl.ts
  src/blocks/CloudImageEditor/src/EditorImageCropper.ts
  src/blocks/CloudImageEditor/src/EditorImageFader.ts
  src/blocks/CloudImageEditor/src/EditorOperationControl.ts
  src/blocks/CloudImageEditor/src/EditorScroller.ts
  src/blocks/CloudImageEditor/src/EditorSlider.ts
  src/blocks/CloudImageEditor/src/EditorToolbar.ts
  src/blocks/CloudImageEditor/src/css/common.css
  src/blocks/CloudImageEditor/src/elements/button/BtnUi.ts
  src/blocks/CloudImageEditor/src/elements/line-loader/LineLoaderUi.ts
  src/blocks/CloudImageEditor/src/elements/presence-toggle/PresenceToggle.ts
  src/blocks/CloudImageEditor/src/elements/slider/SliderUi.ts
  src/blocks/CloudImageEditor/src/state.ts
  src/blocks/CloudImageEditor/src/template.ts
Due: biome check --write, stylelint --fix

refactor(cloud-image-editor): migrate CloudImageEditorActivity to Lit
  src/blocks/CloudImageEditorActivity/CloudImageEditorActivity.ts
Due: biome check --write

refactor(solutions): migrate file uploader solutions to Lit
  src/solutions/file-uploader/inline/FileUploaderInline.ts
  src/solutions/file-uploader/minimal/FileUploaderMinimal.ts
  src/solutions/file-uploader/regular/FileUploaderRegular.ts
Due: biome check --write

refactor(img): rewrite uc-img components to TypeScript
  demo/img.html
  src/blocks/Img/Img.ts
  src/blocks/Img/ImgBase.js
  src/blocks/Img/ImgBase.ts
  src/blocks/Img/ImgConfig.js
  src/blocks/Img/ImgConfig.ts
  src/blocks/Img/test.css
  src/blocks/Img/utils/parseObjectToString.ts
Due: biome check --write, stylelint --fix

chore(locales): convert locale files from JS to TS
  src/locales/file-uploader/ar.ts
  src/locales/file-uploader/az.ts
  src/locales/file-uploader/ca.ts
  src/locales/file-uploader/cs.ts
  src/locales/file-uploader/da.ts
  src/locales/file-uploader/de.ts
  src/locales/file-uploader/el.ts
  src/locales/file-uploader/en.ts
  src/locales/file-uploader/es.ts
  src/locales/file-uploader/et.ts
  src/locales/file-uploader/fi.ts
  src/locales/file-uploader/fr.ts
  src/locales/file-uploader/he.ts
  src/locales/file-uploader/hy.ts
  src/locales/file-uploader/is.ts
  src/locales/file-uploader/it.ts
  src/locales/file-uploader/ja.ts
  src/locales/file-uploader/ka.ts
  src/locales/file-uploader/kk.ts
  src/locales/file-uploader/ko.ts
  src/locales/file-uploader/lv.ts
  src/locales/file-uploader/nb.ts
  src/locales/file-uploader/nl.ts
  src/locales/file-uploader/pl.ts
  src/locales/file-uploader/pt.ts
  src/locales/file-uploader/ro.ts
  src/locales/file-uploader/ru.ts
  src/locales/file-uploader/sk.ts
  src/locales/file-uploader/sr.ts
  src/locales/file-uploader/sv.ts
  src/locales/file-uploader/tr.ts
  src/locales/file-uploader/uk.ts
  src/locales/file-uploader/vi.ts
  src/locales/file-uploader/zh-TW.ts
  src/locales/file-uploader/zh.ts
Due: biome check --write

refactor(abstract): update managers and utilities for Lit compatibility
  src/abstract/CTX.ts
  src/abstract/TypedData.ts
  src/abstract/UploaderPublicApi.ts
  src/abstract/buildOutputCollectionState.ts
  src/abstract/defineComponents.ts
  src/abstract/managers/LocaleManager.ts
  src/abstract/managers/ModalManager.ts
  src/abstract/managers/SecureUploadsManager.ts
  src/abstract/managers/TelemetryManager.ts
  src/abstract/managers/ValidationManager.ts
  src/abstract/managers/a11y.ts
  src/utils/WindowHeightTracker.ts
Due: biome check --write

refactor: update exports and imports for Lit migration
  src/index.ts
Due: biome check --write

chore: update dependencies and build config for Lit
  biome.json
  package-lock.json
  package.json
  tsconfig.app.json
  tsconfig.e2e-test.json
  tsconfig.test.json
  vite.config.js
Due: biome check --write

test: update test files for Lit migration
  scripts/test-locales.ts
  tests/api.e2e.test.tsx
  tests/bundles.e2e.test.tsx
  tests/config.e2e.test.tsx
  tests/file-uploader-regular.e2e.test.tsx
  tests/utils/commands.ts
  tests/utils/test-renderer.tsx
  tests/validation.e2e.test.tsx
Due: biome check --write

chore(demo): update demo files for Lit migration
  demo/cloud-image-editor.html
  demo/locales.html
  demo/raw-regular.html
  demo/validators.html
Due: none

chore: fix missed dep while rebasing
  package-lock.json
  package.json
Due: biome check --write

chore: remove focus-visible polyfill
  src/blocks/CloudImageEditor/src/css/common.css
  src/blocks/CloudImageEditor/src/lib/FocusVisible.ts
  src/blocks/CloudImageEditor/src/lib/applyFocusVisiblePolyfill.ts
Due: biome check --write, stylelint --fix

chore: fix camera shot not freezing issue
  src/blocks/CameraSource/CameraSource.ts
Due: biome check --write

chore(modal): expose dialog ref to ancestors
  src/blocks/Modal/Modal.ts
Due: biome check --write

chore: remove lit bundle
  package.json
Due: biome check --write

chore: fix symbiote layer unsubscribes
  src/lit/SymbioteCompatMixin.ts
Due: biome check --write

chore: fix text binding
  src/blocks/UploadList/UploadList.ts
Due: biome check --write

chore: fix file-item render pause on re-render
  src/blocks/FileItem/FileItem.ts
Due: biome check --write

chore: fix ai-found memory leaks
  src/blocks/CameraSource/CameraSource.ts
  src/blocks/ExternalSource/ExternalSource.ts
Due: biome check --write

chore: remove unused waitForAttribute method
  src/utils/waitForAttribute.test.ts
  src/utils/waitForAttribute.ts
Due: biome check --write

chore(demo): replace real public key with demopublickey
  demo/img.html
Due: none

chore: apply linting fixes and remove unused imports
  biome.json
  demo/cloud-image-editor.html
  demo/custom-icons.html
  demo/form.html
  demo/index.html
  demo/locales.html
  demo/new-social-sources-test.html
  demo/preview-proxy/secure-delivery-proxy-url-resolver.html
  demo/preview-proxy/secure-delivery-proxy-url-template.html
  demo/raw-inline.html
  demo/raw-minimal.html
  demo/raw-regular.html
  demo/secure-uploads.html
  demo/upload-api.html
  demo/validators.html
  index.html
  src/blocks/CameraSource/camera-source.css
  src/blocks/Config/Config.ts
  src/blocks/Config/computed-properties.ts
  src/blocks/Img/ImgBase.ts
  src/blocks/Select/Select.ts
Due: biome check --write, stylelint --fix

test: added cloud-image-editor
  src/abstract/__tests__/loadFileUploaderFrom.test.ts
  src/blocks/CameraSource/CameraSource.ts
  src/blocks/CameraSource/__tests__/calcCameraModes.test.ts
  src/blocks/CloudImageEditor/src/EditorToolbar.ts
  src/blocks/CloudImageEditor/src/crop-utils.test.ts
  src/blocks/CloudImageEditor/src/lib/FocusVisible.ts
  src/blocks/CloudImageEditor/src/lib/applyFocusVisiblePolyfill.ts
  tests/adaptive-image.e2e.test.tsx
  tests/cloud-image-editor.e2e.test.tsx
  tests/file-uploader-inline.e2e.test.tsx
  tests/validation.e2e.test.tsx
  vite.config.js
Due: biome check --write

chore(demo): reorganize demo pages and add bundle demos
  demo/bundles/cloud-image-editor.html
  demo/bundles/iife.html
  demo/bundles/img.html
  demo/bundles/inline.html
  demo/bundles/minimal.html
  demo/bundles/regular.html
  demo/external-sources/preview-proxy/secure-delivery-proxy-url-resolver.html
  demo/external-sources/preview-proxy/secure-delivery-proxy-url-template.html
  demo/external-sources/preview-proxy/secure-delivery-proxy.js
  demo/external-sources/secure-uploads.html
  demo/external-sources/social-sources.html
  demo/features/custom-icons.html
  demo/features/form-integration.html
  demo/features/locales.html
  demo/features/upload-api.html
  demo/features/validators.html
  demo/index.html
  demo/raw-minimal.html
  demo/solutions/cloud-image-editor.html
  demo/solutions/img.html
  demo/solutions/inline.html
  demo/solutions/minimal.html
  demo/solutions/regular.html
Due: biome check --write

chore: reorganize exports in index.ts and update version
  package.json
  src/index.ts
Due: biome check --write

chore: update tsconfig.node.json types
  tsconfig.node.json
Due: biome check --write

fix: use unsafeSVG instead of unsafeHTML for SVG sprite
  src/lit/LitSolutionBlock.ts
Due: biome check --write

chore: add linked legal comments and include txt files in package
  package.json
  scripts/build.ts
Due: biome check --write

chore: enable minification for dist build
  scripts/build-items.ts
Due: biome check --write

chore: add NODE_ENV=production for Lit production mode and bundle lit packages
  scripts/build.ts
Due: biome check --write

chore: use esbuild-minify-templates for HTML template minification
  package-lock.json
  package.json
  scripts/build.ts
Due: biome check --write
