Repository uploadcare/file-uploader: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser json, prettier --write --parser markdown

added icons for flickr, evernote, box, onedrive, huddle
  blocks/themes/lr-basic/icons.css
Due: stylelint --fix, prettier --write --parser css

chore: enable type checks for external source
  blocks/ExternalSource/ExternalSource.js
Due: eslint --fix, prettier --write

chore(external-source): send `source` param without prefix
  blocks/ExternalSource/ExternalSource.js
Due: eslint --fix, prettier --write

feat: add icons for flickr, evernote, box, onedrive, huddle (#490)
  blocks/themes/lr-basic/icons.css
Due: stylelint --fix, prettier --write --parser css

fix backdrop color
  blocks/Modal/modal.css
Due: stylelint --fix, prettier --write --parser css

bump up colors of the darkmode
  blocks/themes/lr-basic/theme.css
Due: stylelint --fix, prettier --write --parser css

it's the only way for now :(
  blocks/Select/select.css
Due: stylelint --fix, prettier --write --parser css

another specificity conflict :(
  blocks/FileItem/file-item.css
Due: stylelint --fix, prettier --write --parser css

chore: fix minor theme issues (#492)
  blocks/FileItem/file-item.css
  blocks/Modal/modal.css
  blocks/Select/select.css
  blocks/themes/lr-basic/theme.css
Due: stylelint --fix, prettier --write --parser css

fix(drag-n-drop): copy `type` value from `DataTransferItem` to `FileSystemFileEntry` when doing drag'n'drop because `FileSystemFileEntry` don't resolve type for HEIC
  blocks/DropArea/getDropItems.js
Due: eslint --fix, prettier --write

fix: get `mimeType` from upload API from both `contentInfo` and provided type
  blocks/FileItem/FileItem.js
Due: eslint --fix, prettier --write

fix(validation): skip client validation if mime type or file name aren't available
  blocks/FileItem/FileItem.js
Due: eslint --fix, prettier --write

fix: allow to files of any count to the upload list, but restrict uploading to the limit
  blocks/DropArea/DropArea.js
  blocks/FileItem/FileItem.js
  blocks/UploadList/UploadList.js
  blocks/themes/lr-basic/l10n.css
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

chore: fix types export
  types/index.d.ts
  types/jsx.d.ts
Due: none

chore: add `hidden` attr to base jsx attrs
  types/jsx.d.ts
Due: none

chore: fix config state rewrite
  blocks/Config/Config.js
Due: eslint --fix, prettier --write

fix: better validation for multiple min/max cases
  abstract/uploadEntrySchema.js
  blocks/FileItem/FileItem.js
  blocks/FileItem/file-item.css
  blocks/UploadList/UploadList.js
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

chore: fix minimal mode cfg
  abstract/sharedConfigKey.js
  blocks/Config/Config.js
  blocks/Config/normalizeConfigValue.js
  solutions/file-uploader/minimal/FileUploaderMinimal.js
  solutions/file-uploader/minimal/index.css
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

fix: realtime client validation for isImage, fileSize and file types
  blocks/FileItem/FileItem.js
  blocks/UploadList/UploadList.js
Due: eslint --fix, prettier --write

сhore: add utils for pluralization and pretty bytes
  abstract/Block.js
  utils/getPluralForm.js
  utils/getPluralForm.test.js
  utils/prettyBytes.js
  utils/prettyBytes.test.js
Due: eslint --fix, prettier --write

feat: pretty bytes value for file size validation
  blocks/FileItem/FileItem.js
Due: eslint --fix, prettier --write

chore: fix file size validation text
  blocks/themes/lr-basic/l10n.css
  utils/prettyBytes.js
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

fix(modal): apply `inert` attr to the body when modal is open to trap the focus
  blocks/Modal/Modal.js
Due: eslint --fix, prettier --write

chore: run validators before upload to ensure we have actual validation info
  blocks/FileItem/FileItem.js
Due: eslint --fix, prettier --write

chore: update pretty bytes base from 1024 to 1000
  utils/prettyBytes.js
  utils/prettyBytes.test.js
Due: eslint --fix, prettier --write

chore: add config attr <-> prop sync
  blocks/Config/Config.js
  solutions/file-uploader/minimal/FileUploaderMinimal.js
Due: eslint --fix, prettier --write

chore: refactor validation
  abstract/UploaderBlock.js
  blocks/FileItem/FileItem.js
  blocks/UploadList/UploadList.js
Due: eslint --fix, prettier --write

fix(url-source): enable input autofocus, form submit, value clear on submit
  abstract/Block.js
  blocks/Modal/Modal.js
  blocks/UrlSource/UrlSource.js
Due: eslint --fix, prettier --write

fix(url-source): enable input autofocus, form submit, value clear on submit (#495)
  abstract/Block.js
  blocks/Modal/Modal.js
  blocks/UrlSource/UrlSource.js
Due: eslint --fix, prettier --write

chore: fix types
  abstract/Block.js
  types/events.d.ts
  types/index.d.ts
  types/index.js
  types/jsx.d.ts
Due: eslint --fix, prettier --write

chore: rename method
  abstract/Block.js
  blocks/FileItem/FileItem.js
Due: eslint --fix, prettier --write

chore: wait for css-src async
  blocks/ShadowWrapper/ShadowWrapper.js
Due: eslint --fix, prettier --write

chore: refactor upload collection init
  abstract/TypedCollection.js
  abstract/UploaderBlock.js
  blocks/FileItem/FileItem.js
  blocks/UploadList/UploadList.js
Due: eslint --fix, prettier --write

chore: remove cloud editor config css
  solutions/cloud-image-editor/config.css
  solutions/cloud-image-editor/index.css
Due: stylelint --fix, prettier --write --parser css

chore: fix cloud editor cfg integration
  blocks/CloudImageEditor/src/CloudEditor.js
  blocks/CloudImageEditor/src/CloudEditorBase.js
  blocks/CloudImageEditor/src/CropFrame.js
  blocks/CloudImageEditor/src/EditorButtonControl.js
  blocks/CloudImageEditor/src/EditorImageCropper.js
  blocks/CloudImageEditor/src/EditorImageFader.js
  blocks/CloudImageEditor/src/EditorScroller.js
  blocks/CloudImageEditor/src/EditorSlider.js
  blocks/CloudImageEditor/src/EditorToolbar.js
  solutions/cloud-image-editor/demo.htm
  solutions/cloud-image-editor/index.js
Due: eslint --fix, prettier --write

chore: add ability to specify className for the block that will be toggled on construct
  abstract/Block.js
Due: eslint --fix, prettier --write

chore: shadow wrapper now requires css-src always
  blocks/ShadowWrapper/ShadowWrapper.js
Due: eslint --fix, prettier --write

chore(cloud-editor): rename blocks & force shadow dom for solution
  assets/htm/blocks-demo.htm
  blocks/CloudImageEditor/index.css
  blocks/CloudImageEditor/src/CloudImageEditorBase.js
  blocks/CloudImageEditor/src/CloudImageEditorBlock.js
  blocks/CloudImageEditor/src/CropFrame.js
  blocks/CloudImageEditor/src/EditorButtonControl.js
  blocks/CloudImageEditor/src/EditorImageCropper.js
  blocks/CloudImageEditor/src/EditorImageFader.js
  blocks/CloudImageEditor/src/EditorScroller.js
  blocks/CloudImageEditor/src/EditorSlider.js
  blocks/CloudImageEditor/src/EditorToolbar.js
  blocks/CloudImageEditor/src/css/common.css
  blocks/CloudImageEditor/src/css/icons.css
  blocks/CloudImageEditor/src/css/l10n.css
  blocks/CloudImageEditor/src/index.js
  blocks/CloudImageEditor/src/state.js
  blocks/CloudImageEditorActivity/CloudImageEditorActivity.js
  blocks/CloudImageEditorActivity/index.css
  blocks/CloudImageEditorActivity/ref.htm
  blocks/CloudImageEditorActivity/test.js
  blocks/README.md
  blocks/test/custom-source-btn/index.htm
  blocks/test/inline-mode.htm
  blocks/test/split-mode.htm
  blocks/test/wrapped.htm
  blocks/themes/lr-basic/index.css
  index.js
  solutions/cloud-image-editor/CloudEditor.js
  solutions/cloud-image-editor/CloudImageEditor.js
  solutions/cloud-image-editor/demo.htm
  solutions/cloud-image-editor/index.css
  solutions/cloud-image-editor/index.js
  solutions/file-uploader/inline/FileUploaderInline.js
  solutions/file-uploader/regular/FileUploaderRegular.js
  types/jsx.d.ts
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser markdown

chore: attach className inside connected callback
  abstract/Block.js
Due: eslint --fix, prettier --write

chore: fix cloud-editor style selectors
  blocks/CloudImageEditor/src/css/common.css
Due: stylelint --fix, prettier --write --parser css

Path conditions:
  eslint --fix: any of: *.{js,cjs}
  prettier --write: any of: *.{js,cjs}
  stylelint --fix: any of: *.css
  prettier --write --parser css: any of: *.css
  prettier --write --parser json: any of: *.json
  prettier --write --parser markdown: any of: *.md
