Repository uploadcare/file-uploader: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser json, prettier --write --parser markdown

.lintstagedrc.json:

{
  "*.{js,cjs}": ["eslint --fix", "prettier --write", "git add"],
  "*.css": ["stylelint --fix", "prettier --write --parser css", "git add"],
  "*.json": ["prettier --write --parser json", "git add"],
  "*.md": ["prettier --write --parser markdown", "git add"]
}

fix: check promises with duck-typing
  blocks/Config/side-effects.js
  utils/isPromiseLike.js
  utils/isPromiseLike.test.js
Due: eslint --fix, prettier --write

fix: check promises with duck-typing (#838)
  blocks/Config/side-effects.js
  utils/isPromiseLike.js
  utils/isPromiseLike.test.js
Due: eslint --fix, prettier --write

fix: resolve TypeScript compilation error in Angular app
  abstract/CTX.js
  abstract/UploaderPublicApi.js
  blocks/FileItem/FileItemConfig.js
Due: eslint --fix, prettier --write

fix: resolve TypeScript compilation error in Angular app (#841)
  abstract/CTX.js
  abstract/UploaderPublicApi.js
  blocks/FileItem/FileItemConfig.js
Due: eslint --fix, prettier --write

feat: added event init-solution
  abstract/Block.js
  abstract/managers/TelemetryManager.js
  blocks/CloudImageEditor/src/state.js
  blocks/FileItem/FileItem.js
  blocks/Modal/Modal.js
  blocks/UploadCtxProvider/EventEmitter.js
  solutions/cloud-image-editor/CloudImageEditor.js
  solutions/file-uploader/inline/FileUploaderInline.js
  solutions/file-uploader/minimal/FileUploaderMinimal.js
  solutions/file-uploader/regular/FileUploaderRegular.js
Due: eslint --fix, prettier --write

feat(telementry): WIP
  abstract/Block.js
  abstract/CTX.js
  abstract/UploaderBlock.js
  abstract/l10nProcessor.js
  abstract/managers/LocaleManager.js
  abstract/managers/ModalManager.js
  abstract/managers/SecureUploadsManager.js
  abstract/managers/TelemetryManager.js
  abstract/managers/ValidationManager.js
  abstract/managers/a11y.js
  blocks/CloudImageEditor/src/EditorCropButtonControl.js
  blocks/CloudImageEditor/src/EditorFilterControl.js
  blocks/CloudImageEditor/src/EditorOperationControl.js
  blocks/CloudImageEditor/src/EditorToolbar.js
  blocks/CloudImageEditor/src/state.js
  blocks/Config/initialConfig.js
  blocks/Config/normalizeConfigValue.js
  blocks/FileItem/FileItem.js
  blocks/Img/Img.js
  blocks/Modal/Modal.js
  blocks/UploadCtxProvider/EventEmitter.js
  index.js
  solutions/cloud-image-editor/CloudImageEditor.js
  solutions/file-uploader/inline/FileUploaderInline.js
  solutions/file-uploader/minimal/FileUploaderMinimal.js
  solutions/file-uploader/regular/FileUploaderRegular.js
  tsconfig.types.tsbuildinfo
  types/exported.d.ts
  types/test/uc-upload-ctx-provider.test-d.tsx
  utils/validators/collection/validateCollectionUploadError.js
  utils/validators/collection/validateMultiple.js
  utils/validators/file/validateFileType.js
  utils/validators/file/validateIsImage.js
  utils/validators/file/validateMaxSizeLimit.js
  utils/validators/file/validateUploadError.js
Due: eslint --fix, prettier --write

feat(types): added @ts-check in the TelemetryManager
  .gitignore
  abstract/Block.js
  abstract/managers/TelemetryManager.js
  blocks/CloudImageEditor/src/EditorCropButtonControl.js
  blocks/CloudImageEditor/src/EditorFilterControl.js
  blocks/CloudImageEditor/src/EditorOperationControl.js
  blocks/CloudImageEditor/src/EditorToolbar.js
  blocks/CloudImageEditor/src/state.js
  blocks/CloudImageEditor/src/toolbar-constants.js
  blocks/CloudImageEditor/src/utils/parseFilterValue.js
  blocks/Config/initialConfig.js
  blocks/Config/normalizeConfigValue.js
  blocks/FileItem/FileItem.js
  blocks/Img/Img.js
  blocks/UploadCtxProvider/EventEmitter.js
  package-lock.json
  package.json
  solutions/cloud-image-editor/CloudImageEditor.js
  solutions/file-uploader/regular/FileUploaderRegular.js
  tsconfig.types.tsbuildinfo
  types/events.d.ts
  types/exported.d.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

chore: updated package-lock.json
  package-lock.json
Due: prettier --write --parser json

feat(cloud-editor): added multiple crop presets
  abstract/UploaderBlock.js
  blocks/CloudImageEditor/src/CropFrame.js
  blocks/CloudImageEditor/src/EditorAspectRatioButtonControl.js
  blocks/CloudImageEditor/src/EditorButtonControl.js
  blocks/CloudImageEditor/src/EditorCropButtonControl.js
  blocks/CloudImageEditor/src/EditorImageCropper.js
  blocks/CloudImageEditor/src/EditorToolbar.js
  blocks/CloudImageEditor/src/css/common.css
  blocks/CloudImageEditor/src/icons/aspect-ratio.svg
  blocks/CloudImageEditor/src/icons/freeform.svg
  blocks/CloudImageEditor/src/index.js
  blocks/CloudImageEditor/src/lib/parseCropPreset.js
  blocks/CloudImageEditor/src/state.js
  blocks/CloudImageEditor/src/svg-sprite.js
  blocks/CloudImageEditor/src/types.js
  blocks/themes/uc-basic/icons/aspect-ratio.svg
  blocks/themes/uc-basic/icons/freeform.svg
  blocks/themes/uc-basic/svg-sprite.js
  demo/cloud-image-editor.html
  demo/raw-regular.html
  demo/uc-image.html
  locales/file-uploader/en.js
  locales/file-uploader/ru.js
  types/jsx.d.ts
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css

feat: added locales for crop-presets
  locales/file-uploader/ar.js
  locales/file-uploader/az.js
  locales/file-uploader/ca.js
  locales/file-uploader/cs.js
  locales/file-uploader/da.js
  locales/file-uploader/de.js
  locales/file-uploader/el.js
  locales/file-uploader/en.js
  locales/file-uploader/es.js
  locales/file-uploader/et.js
  locales/file-uploader/fi.js
  locales/file-uploader/fr.js
  locales/file-uploader/he.js
  locales/file-uploader/hy.js
  locales/file-uploader/is.js
  locales/file-uploader/it.js
  locales/file-uploader/ja.js
  locales/file-uploader/ka.js
  locales/file-uploader/kk.js
  locales/file-uploader/ko.js
  locales/file-uploader/lv.js
  locales/file-uploader/nb.js
  locales/file-uploader/nl.js
  locales/file-uploader/pl.js
  locales/file-uploader/pt.js
  locales/file-uploader/ro.js
  locales/file-uploader/ru.js
  locales/file-uploader/sk.js
  locales/file-uploader/sr.js
  locales/file-uploader/sv.js
  locales/file-uploader/tr.js
  locales/file-uploader/uk.js
  locales/file-uploader/vi.js
  locales/file-uploader/zh-TW.js
  locales/file-uploader/zh.js
Due: eslint --fix, prettier --write

feat: added freeform field in locales
  locales/file-uploader/ar.js
  locales/file-uploader/az.js
  locales/file-uploader/ca.js
  locales/file-uploader/cs.js
  locales/file-uploader/da.js
  locales/file-uploader/de.js
  locales/file-uploader/el.js
  locales/file-uploader/es.js
  locales/file-uploader/et.js
  locales/file-uploader/fi.js
  locales/file-uploader/fr.js
  locales/file-uploader/he.js
  locales/file-uploader/hy.js
  locales/file-uploader/is.js
  locales/file-uploader/it.js
  locales/file-uploader/ja.js
  locales/file-uploader/ka.js
  locales/file-uploader/kk.js
  locales/file-uploader/ko.js
  locales/file-uploader/lv.js
  locales/file-uploader/nb.js
  locales/file-uploader/nl.js
  locales/file-uploader/pl.js
  locales/file-uploader/pt.js
  locales/file-uploader/ro.js
  locales/file-uploader/ru.js
  locales/file-uploader/sk.js
  locales/file-uploader/sr.js
  locales/file-uploader/sv.js
  locales/file-uploader/tr.js
  locales/file-uploader/uk.js
  locales/file-uploader/vi.js
  locales/file-uploader/zh-TW.js
  locales/file-uploader/zh.js
Due: eslint --fix, prettier --write

chore: updated code style based on comments
  abstract/UploaderBlock.js
  blocks/CloudImageEditor/src/CropFrame.js
  blocks/CloudImageEditor/src/EditorAspectRatioButtonControl.js
  blocks/CloudImageEditor/src/EditorImageCropper.js
  blocks/CloudImageEditor/src/EditorToolbar.js
  demo/raw-regular.html
Due: eslint --fix, prettier --write

feat: added error handling in parseCropPreset
  abstract/UploaderBlock.js
  blocks/CloudImageEditor/src/lib/parseCropPreset.js
  demo/cloud-image-editor.html
  demo/uc-image.html
Due: eslint --fix, prettier --write

feat: added a new option to crop preset – free
  blocks/CloudImageEditor/src/EditorAspectRatioButtonControl.js
  blocks/CloudImageEditor/src/lib/parseCropPreset.js
Due: eslint --fix, prettier --write

feat: added storage based on session storage for aspect ratio
  blocks/CloudImageEditor/src/CloudImageEditorBlock.js
  blocks/CloudImageEditor/src/EditorAspectRatioButtonControl.js
  blocks/CloudImageEditor/src/utils/SessionStorage.js
Due: eslint --fix, prettier --write

fix(api): allow to use both configured cdnBase and ucarecdn.com as host when calling `addFileFromCdnUrl`
  utils/parseCdnUrl.js
  utils/parseCdnUrl.test.js
Due: eslint --fix, prettier --write

fix(api): allow to use both configured cdnBase and ucarecdn.com as host when calling `addFileFromCdnUrl` (#844)
  utils/parseCdnUrl.js
  utils/parseCdnUrl.test.js
Due: eslint --fix, prettier --write

feat: added calc closest aspect ratio
  blocks/CloudImageEditor/src/CloudImageEditorBlock.js
  blocks/CloudImageEditor/src/EditorAspectRatioButtonControl.js
  blocks/CloudImageEditor/src/lib/parseCropPreset.js
  blocks/CloudImageEditor/src/utils/SessionStorage.js
Due: eslint --fix, prettier --write

test: added test coverage for parseCropPreset
  blocks/CloudImageEditor/src/lib/parseCropPreset.test.js
Due: eslint --fix, prettier --write

feat: added active class to freeform button
  abstract/UploaderBlock.js
  blocks/CloudImageEditor/src/EditorAspectRatioButtonControl.js
  locales/file-uploader/ar.js
  locales/file-uploader/az.js
  locales/file-uploader/ca.js
  locales/file-uploader/cs.js
  locales/file-uploader/da.js
  locales/file-uploader/de.js
  locales/file-uploader/el.js
  locales/file-uploader/en.js
  locales/file-uploader/es.js
  locales/file-uploader/et.js
  locales/file-uploader/fi.js
  locales/file-uploader/fr.js
  locales/file-uploader/he.js
  locales/file-uploader/hy.js
  locales/file-uploader/is.js
  locales/file-uploader/it.js
  locales/file-uploader/ja.js
  locales/file-uploader/ka.js
  locales/file-uploader/kk.js
  locales/file-uploader/ko.js
  locales/file-uploader/lv.js
  locales/file-uploader/nb.js
  locales/file-uploader/nl.js
  locales/file-uploader/pl.js
  locales/file-uploader/pt.js
  locales/file-uploader/ro.js
  locales/file-uploader/ru.js
  locales/file-uploader/sk.js
  locales/file-uploader/sr.js
  locales/file-uploader/sv.js
  locales/file-uploader/tr.js
  locales/file-uploader/uk.js
  locales/file-uploader/vi.js
  locales/file-uploader/zh-TW.js
  locales/file-uploader/zh.js
Due: eslint --fix, prettier --write

Update CHANGELOG for version 1.20.0
  CHANGELOG.md
Due: prettier --write --parser markdown

fix: prevent event duplication when uploader is remounted multiple times
  .gitignore
  abstract/UploaderBlock.js
  package-lock.json
  package.json
  tests/api.e2e.test.tsx
  tests/utils/test-renderer.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json

fix: prevent event duplication when uploader is remounted multiple times (#849)
  .gitignore
  abstract/UploaderBlock.js
  package-lock.json
  package.json
  tests/api.e2e.test.tsx
  tests/utils/test-renderer.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json

Update LICENSE year
  LICENSE
Due: none

Update LICENSE year (#852)
  LICENSE
Due: none

feat(quality-insights): implemented manager for quality-insights
  abstract/Block.js
  abstract/CTX.js
  abstract/UploaderBlock.js
  abstract/l10nProcessor.js
  abstract/managers/LocaleManager.js
  abstract/managers/ModalManager.js
  abstract/managers/SecureUploadsManager.js
  abstract/managers/TelemetryManager.js
  abstract/managers/ValidationManager.js
  abstract/managers/a11y.js
  blocks/CloudImageEditor/src/EditorCropButtonControl.js
  blocks/CloudImageEditor/src/EditorFilterControl.js
  blocks/CloudImageEditor/src/EditorOperationControl.js
  blocks/CloudImageEditor/src/EditorToolbar.js
  blocks/CloudImageEditor/src/toolbar-constants.js
  blocks/CloudImageEditor/src/utils/parseFilterValue.js
  blocks/Config/initialConfig.js
  blocks/Config/normalizeConfigValue.js
  blocks/FileItem/FileItem.js
  blocks/Modal/Modal.js
  blocks/UploadCtxProvider/EventEmitter.js
  index.js
  package-lock.json
  package.json
  solutions/cloud-image-editor/CloudImageEditor.js
  solutions/file-uploader/inline/FileUploaderInline.js
  solutions/file-uploader/minimal/FileUploaderMinimal.js
  solutions/file-uploader/regular/FileUploaderRegular.js
  types/events.d.ts
  types/exported.d.ts
  types/test/uc-upload-ctx-provider.test-d.tsx
  utils/validators/collection/validateCollectionUploadError.js
  utils/validators/collection/validateMultiple.js
  utils/validators/file/validateFileType.js
  utils/validators/file/validateIsImage.js
  utils/validators/file/validateMaxSizeLimit.js
  utils/validators/file/validateUploadError.js
Due: eslint --fix, prettier --write, prettier --write --parser json

chore: added information about quality insights to readme
  README.md
Due: prettier --write --parser markdown

feat: added error handling and reporting in quality-insights
  abstract/ActivityBlock.js
  abstract/Block.js
  abstract/managers/ModalManager.js
  abstract/managers/SecureUploadsManager.js
  abstract/managers/TelemetryManager.js
  abstract/managers/ValidationManager.js
  blocks/CameraSource/CameraSource.js
  blocks/CloudImageEditor/src/CloudImageEditorBlock.js
  blocks/CloudImageEditor/src/EditorImageCropper.js
  blocks/FileItem/FileItem.js
  blocks/Thumb/Thumb.js
Due: eslint --fix, prettier --write

feat: added error handling and reporting in quality-insights (#857)
  abstract/ActivityBlock.js
  abstract/Block.js
  abstract/managers/ModalManager.js
  abstract/managers/SecureUploadsManager.js
  abstract/managers/TelemetryManager.js
  abstract/managers/ValidationManager.js
  blocks/CameraSource/CameraSource.js
  blocks/CloudImageEditor/src/CloudImageEditorBlock.js
  blocks/CloudImageEditor/src/EditorImageCropper.js
  blocks/FileItem/FileItem.js
  blocks/Thumb/Thumb.js
Due: eslint --fix, prettier --write

Update README.md
  README.md
Due: prettier --write --parser markdown

chore: added information about quality insights to readme (#856)
  README.md
Due: prettier --write --parser markdown

Update CHANGELOG for version 1.21.0
  CHANGELOG.md
Due: prettier --write --parser markdown

test: fixed test config
  abstract/managers/TelemetryManager.js
  blocks/Config/initialConfig.js
Due: eslint --fix, prettier --write

test: fixed test config (#859)
  abstract/managers/TelemetryManager.js
  blocks/Config/initialConfig.js
Due: eslint --fix, prettier --write

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write --parser markdown

feat: updated svg-sprite
  blocks/CloudImageEditor/src/svg-sprite.js
  blocks/themes/uc-basic/svg-sprite.js
Due: eslint --fix, prettier --write

feat: updated arrow-dropdown icon size
  blocks/CloudImageEditor/src/EditorAspectRatioButtonControl.js
  blocks/CloudImageEditor/src/css/common.css
Due: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css
