Repository uploadcare/file-uploader: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, stylelint --fix

fix: let plugin activities control their own modal height (#956)
  src/blocks/PluginActivityRenderer/PluginActivityRenderer.ts
  src/blocks/PluginActivityRenderer/uc-plugin-activity-host.css
  tests/validation.e2e.test.tsx
Due: biome check --write, stylelint --fix

Update CHANGELOG for version 1.29.0
  CHANGELOG.md
Due: none

docs(changelog): expand v1.29.0 entry with release summary and migration link
  CHANGELOG.md
Due: none

feat: add SmartBtn exports and enhance localization for file uploader
  src/abstract/controllers/SourceListController.ts
  src/abstract/controllers/index.ts
  src/blocks/Config/initialConfig.ts
  src/blocks/Config/normalizeConfigValue.ts
  src/blocks/Config/validatorsType.ts
  src/blocks/SmartBtn/SmartBtn.ts
  src/blocks/SmartBtn/smart-btn.css
  src/blocks/SourceBtn/SourceBtn.ts
  src/blocks/SourceList/SourceList.ts
  src/blocks/themes/uc-basic/icons/paperclip.svg
  src/blocks/themes/uc-basic/svg-sprite.ts
  src/index.ts
  src/locales/file-uploader/en.ts
  src/types/exported.ts
Due: biome check --write, stylelint --fix

radius shorthand classes
  src/blocks/themes/uc-basic/theme.css
Due: biome check --write, stylelint --fix

update modal border-radius math
  src/blocks/Modal/modal.css
Due: biome check --write, stylelint --fix

comment on medium
  src/blocks/themes/uc-basic/theme.css
Due: biome check --write, stylelint --fix

Revert "update modal border-radius math"
  src/blocks/Modal/modal.css
Due: biome check --write, stylelint --fix

feat: enhance SmartBtn functionality with new actions and dynamic rendering options
  demo/solutions/regular.html
  src/blocks/SmartBtn/SmartBtn.ts
  src/blocks/SmartBtn/smart-btn.css
  src/blocks/SourceBtn/SourceBtn.ts
  src/index.ts
  src/solutions/file-uploader/regular/FileUploaderRegular.ts
Due: biome check --write, stylelint --fix

feat: add FileActionButton component and integrate with SmartBtn for improved file management
  src/abstract/TypedCollection.ts
  src/blocks/FileItem/FileActionButton.ts
  src/blocks/FileItem/FileItem.ts
  src/blocks/FileItem/file-action-button.css
  src/blocks/FileItem/file-item.css
  src/blocks/SmartBtn/SmartBtn.ts
  src/blocks/SmartBtn/smart-btn.css
  src/index.ts
Due: biome check --write, stylelint --fix

feat: add DropDown component and integrate with SmartBtn; enhance FileActionButton with failed state handling
  src/blocks/DropDown/DropDown.ts
  src/blocks/DropDown/drop-down.css
  src/blocks/FileItem/FileActionButton.ts
  src/blocks/FileItem/FileItem.ts
  src/blocks/FileItem/file-action-button.css
  src/blocks/SmartBtn/SmartBtn.ts
  src/blocks/SmartBtn/smart-btn-mode.css
  src/blocks/SmartBtn/smart-btn.css
  src/blocks/SourceBtn/SourceBtn.ts
  src/index.ts
Due: biome check --write, stylelint --fix

feat: implement PrimaryAction component and enhance SmartBtn with new styles and functionality
  src/abstract/TypedCollection.ts
  src/blocks/DropDown/DropDown.ts
  src/blocks/FileItem/FileActionButton.ts
  src/blocks/SmartBtn/PrimaryAction.ts
  src/blocks/SmartBtn/SmartBtn.ts
  src/blocks/SmartBtn/primary-action.css
  src/blocks/SmartBtn/smart-btn-mode.css
  src/blocks/SmartBtn/smart-btn.css
  src/blocks/SourceBtn/SourceBtn.ts
  src/index.ts
Due: biome check --write, stylelint --fix

feat: enhance SmartBtn and PrimaryAction with improved state handling and rendering logic
  src/blocks/SmartBtn/PrimaryAction.ts
  src/blocks/SmartBtn/SmartBtn.ts
Due: biome check --write

fix(config): preserve pre-existing values when registering custom configs
  src/blocks/Config/Config.ts
  src/blocks/UploadCtxProvider/UploadCtxProvider.ts
  tests/plugins/custom-config.e2e.test.tsx
Due: biome check --write

test: inject jsx renderer for e2e tests
  tests/adaptive-image.e2e.test.tsx
  tests/api.e2e.test.tsx
  tests/bundles.e2e.test.tsx
  tests/cloud-image-editor.e2e.test.tsx
  tests/config.e2e.test.tsx
  tests/file-uploader-inline.e2e.test.tsx
  tests/file-uploader-minimal.e2e.test.tsx
  tests/file-uploader-regular.e2e.test.tsx
  tests/form-input.e2e.test.tsx
  tests/plugins/utils.tsx
  tests/utils/test-renderer.ts
  tests/validation.e2e.test.tsx
  vitest.config.ts
Due: biome check --write

test: fix another flaky test
  tests/file-uploader-minimal.e2e.test.tsx
Due: biome check --write

fix(tests): declare renderer JSX factory for e2e tsc
  tests/render-jsx-children.d.ts
Due: biome check --write

test(e2e): stabilize form-input group output assertions
  tests/form-input.e2e.test.tsx
Due: biome check --write

test(e2e): document camera flow scope in inline uploader test
  tests/file-uploader-inline.e2e.test.tsx
Due: biome check --write

test(e2e): stabilize form-input file upload flows
  tests/form-input.e2e.test.tsx
Due: biome check --write

test(e2e): centralize external test image URL constant
  tests/api.e2e.test.tsx
  tests/file-uploader-minimal.e2e.test.tsx
  tests/file-uploader-regular.e2e.test.tsx
  tests/plugins/cloud-image-editor.e2e.test.tsx
  tests/plugins/file-action-registration.e2e.test.tsx
  tests/plugins/icon-and-l10n.e2e.test.tsx
  tests/plugins/uploader-api.e2e.test.tsx
  tests/plugins/utils.tsx
  tests/utils/constants.ts
Due: biome check --write

docs(changelog): correct v1.29.1 release notes
  CHANGELOG.md
Due: none

fix(config): preserve pre-existing values when registering custom configs (#960)
  src/blocks/Config/Config.ts
  src/blocks/UploadCtxProvider/UploadCtxProvider.ts
  tests/adaptive-image.e2e.test.tsx
  tests/api.e2e.test.tsx
  tests/bundles.e2e.test.tsx
  tests/cloud-image-editor.e2e.test.tsx
  tests/config.e2e.test.tsx
  tests/file-uploader-inline.e2e.test.tsx
  tests/file-uploader-minimal.e2e.test.tsx
  tests/file-uploader-regular.e2e.test.tsx
  tests/form-input.e2e.test.tsx
  tests/plugins/cloud-image-editor.e2e.test.tsx
  tests/plugins/custom-config.e2e.test.tsx
  tests/plugins/file-action-registration.e2e.test.tsx
  tests/plugins/icon-and-l10n.e2e.test.tsx
  tests/plugins/uploader-api.e2e.test.tsx
  tests/plugins/utils.tsx
  tests/render-jsx-children.d.ts
  tests/utils/constants.ts
  tests/utils/test-renderer.ts
  tests/validation.e2e.test.tsx
  vitest.config.ts
Due: biome check --write

Update CHANGELOG with new features and fixes
  CHANGELOG.md
Due: none

Add Context7 configuration
  context7.json
Due: biome check --write

Add Context7 configuration (#962)
  context7.json
Due: biome check --write

feat: added smart-btn demo page
  demo/features/smart-button.html
  demo/solutions/regular.html
  src/abstract/UploaderPublicApi.ts
  src/abstract/features/ClipboardLayer.ts
  src/blocks/CameraSource/CameraSource.ts
  src/blocks/DropArea/DropArea.ts
  src/blocks/DropArea/drop-area.css
  src/blocks/ExternalSource/ExternalSource.ts
  src/blocks/FileItem/FileActionButton.ts
  src/blocks/FileItem/FileItem.ts
  src/blocks/FileItem/file-action-button.css
  src/blocks/SmartBtn/PrimaryAction.ts
  src/blocks/SmartBtn/SmartBtn.ts
  src/blocks/SmartBtn/primary-action.css
  src/blocks/SmartBtn/smart-btn-context.ts
  src/blocks/UrlSource/UrlSource.ts
  src/solutions/file-uploader/inline/FileUploaderInline.ts
  src/solutions/file-uploader/regular/FileUploaderRegular.ts
  tests/smart-btn-upload-list.e2e.test.tsx
Due: biome check --write, stylelint --fix

chore: removed inactive sources
  src/utils/UploadSource.ts
Due: biome check --write

Potential fix for pull request finding 'CodeQL / Unused variable, import, function or class'
  demo/features/smart-button.html
Due: none

feat: refactor SmartBtn integration and remove deprecated context usage
  src/abstract/UploaderPublicApi.ts
  src/abstract/controllers/SourceListController.ts
  src/abstract/features/ClipboardLayer.ts
  src/abstract/features/SmartBtnLayer.ts
  src/blocks/CameraSource/CameraSource.ts
  src/blocks/DropArea/DropArea.ts
  src/blocks/ExternalSource/ExternalSource.ts
  src/blocks/SmartBtn/smart-btn-context.ts
  src/blocks/SourceBtn/SourceBtn.ts
  src/blocks/UrlSource/UrlSource.ts
  src/lit/LitBlock.ts
  src/lit/SharedState.ts
  src/lit/shared-instances.ts
  src/solutions/file-uploader/regular/FileUploaderRegular.ts
Due: biome check --write

feat: add NoWrapModeSmartBtn component and refactor SmartBtn
  src/blocks/CloudImageEditor/src/svg-sprite.ts
  src/blocks/SmartBtn/NoWrapModeSmartBtn.ts
  src/blocks/SmartBtn/SmartBtn.ts
  src/index.ts
Due: biome check --write

Path conditions:
  biome check --write: ((any of: *.{ts,js,cjs,tsx}) or (any of: *.css)) or (any of: *.json)
  stylelint --fix: any of: *.css
