Repository uploadcare/file-uploader: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, prettier --write --parser css, prettier --write --parser json, prettier --write --parser markdown

chore: fix mixin
  blocks/ShadowWrapper/ShadowWrapper.js
  index.js
Due: eslint --fix, prettier --write

chore: pass ctx-name to the cloud editor inside it's activity wrapper
  blocks/CloudImageEditorActivity/CloudImageEditorActivity.js
Due: eslint --fix, prettier --write

chore: fix removing upload collection handler on destroy
  abstract/TypedCollection.js
  abstract/UploaderBlock.js
Due: eslint --fix, prettier --write

chore: normalize bundles names
  build-items.js
Due: eslint --fix, prettier --write

chore: export blocks from solutions and don't auto register
  solutions/cloud-image-editor/CloudImageEditor.js
  solutions/cloud-image-editor/index.js
  solutions/file-uploader/inline/index.js
  solutions/file-uploader/minimal/index.js
  solutions/file-uploader/regular/index.js
Due: eslint --fix, prettier --write

chore: add todo
  blocks/ShadowWrapper/ShadowWrapper.js
Due: eslint --fix, prettier --write

Update README
  README.md
  assets/media/logo-safespace-black.svg
  assets/media/logo-safespace-transparent.svg
Due: prettier --write --parser markdown

chore: remove blocks-browser.min.js in favour of blocks.iife.min.js
  abstract/connectBlocksFrom.js
  build-items.js
  index-browser.js
Due: eslint --fix, prettier --write

Review fixies
  README.md
Due: prettier --write --parser markdown

Some polishing
  README.md
Due: prettier --write --parser markdown

Changed UC logo for the dark theme
  README.md
  assets/media/logo-safespace-black.svg
  assets/media/logo-transparent-inverted.svg
Due: prettier --write --parser markdown

Yet another hero polishing
  README.md
Due: prettier --write --parser markdown

chore: fix jsx types
  blocks/Config/Config.js
  package.json
  types/jsx.d.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

Second round review fixies
  README.md
Due: prettier --write --parser markdown

Add num lists
  README.md
Due: prettier --write --parser markdown

Add a star CTA
  README.md
Due: prettier --write --parser markdown

Third review round fixies
  README.md
Due: prettier --write --parser markdown

chore: Update README (#499)
  README.md
  assets/media/logo-safespace-transparent.svg
  assets/media/logo-transparent-inverted.svg
Due: prettier --write --parser markdown

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write --parser markdown

chore: add console warning links
  abstract/Block.js
  abstract/UploaderBlock.js
Due: eslint --fix, prettier --write

chore: add another warning about css-src
  blocks/ShadowWrapper/ShadowWrapper.js
Due: eslint --fix, prettier --write

chore: update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write --parser markdown

fix(cloud-image-editor): fix `initEditor` type
  solutions/cloud-image-editor/CloudImageEditor.js
Due: eslint --fix, prettier --write

fix(cloud-image-editor): fix `initEditor` type (#502)
  solutions/cloud-image-editor/CloudImageEditor.js
Due: eslint --fix, prettier --write

core: Update README
  README.md
Due: prettier --write --parser markdown

fix: review fixies
  README.md
Due: prettier --write --parser markdown

core: Update README (#504)
  README.md
Due: prettier --write --parser markdown

fix(minimal): add exports of `lr-config` and `upload-ctx-provider`
  solutions/file-uploader/minimal/index.js
Due: eslint --fix, prettier --write

fix(minimal): add exports of `lr-config` and `upload-ctx-provider` (#506)
  solutions/file-uploader/minimal/index.js
Due: eslint --fix, prettier --write

fix(add-file-from): handle upload collection initial state when called before initialization
  abstract/TypedCollection.js
Due: eslint --fix, prettier --write

fix(minimal): show upload list if there are any file in the list
  solutions/file-uploader/minimal/FileUploaderMinimal.js
Due: eslint --fix, prettier --write

fix(inline): show upload list if there are any file in the list
  solutions/file-uploader/inline/FileUploaderInline.js
Due: eslint --fix, prettier --write

chore(docs): fix cloud-image-editor demo
  solutions/cloud-image-editor/demo.htm
Due: none

chore(docs): fix cloud-image-editor demo (#512)
  solutions/cloud-image-editor/demo.htm
Due: none

chore(docs): fix build CI
  .github/workflows/pages.yml
Due: none

chore(docs): fix build CI (#514)
  .github/workflows/pages.yml
Due: none

chore(docs): fix build CI
  .gitignore
Due: none

Chore/fix-cloud-image-editor-demo (#515)
  .gitignore
Due: none

Path conditions:
  eslint --fix: any of: *.{js,cjs}
  prettier --write: any of: *.{js,cjs}
  stylelint --fix: any of: *.css
  prettier --write --parser css: any of: *.css
  prettier --write --parser json: any of: *.json
  prettier --write --parser markdown: any of: *.md
