Repository uploadcare/file-uploader: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js,cjs,tsx}": ["biome check --write", "git add"],
  "*.css": ["stylelint --fix", "biome check --write", "git add"],
  "*.json": ["biome check --write", "git add"]
}

feat: report a failing auth token function as AUTH_TOKEN_ERROR
  src/types/exported.ts
  src/utils/validators/file/validateUploadError.ts
  tests/uploading/upload-errors.e2e.test.tsx
  types/test/output-state.test-d.tsx
Due: biome check --write

feat: authenticate uploads with an auth token
  package-lock.json
  package.json
  specs/public-api/options-parity.test.ts
  src/abstract/UploaderPublicApi.ts
  src/abstract/managers/AuthTokenManager.ts
  src/abstract/managers/__tests__/AuthTokenManager.test.ts
  src/blocks/Config/Config.ts
  src/blocks/Config/assertions.ts
  src/blocks/Config/initialConfig.ts
  src/blocks/Config/normalizeConfigValue.ts
  src/blocks/Config/validatorsType.ts
  src/lit/LitUploaderBlock.ts
  src/lit/SharedState.ts
  src/lit/shared-instances.ts
  src/types/exported.ts
  tests/config/composition-lifecycle.e2e.test.tsx
  tests/config/upload-client-options.e2e.test.tsx
  types/test/uc-config.test-d.tsx
Due: biome check --write

fix: use video-camera icon for camera plugin video mode
  src/plugins/cameraPlugin.ts
Due: biome check --write

fix: use video-camera icon for camera plugin video mode (#1084)
  src/plugins/cameraPlugin.ts
Due: biome check --write

chore: require the published 6.22.0 clients
  package-lock.json
  package.json
Due: biome check --write

test: upload with a real auth token, against the real API
  tests/config/upload-client-options.e2e.test.tsx
  tests/uploading/auth-token.e2e.test.tsx
  tests/utils/commands.ts
Due: biome check --write

fix: report a failed group creation instead of losing it
  src/abstract/CTX.ts
  src/abstract/UploaderPublicApi.ts
  src/abstract/managers/ValidationManager.ts
  src/lit/LitUploaderBlock.ts
  src/lit/SharedState.ts
  src/types/exported.ts
  src/utils/validators/collection/index.ts
  src/utils/validators/collection/validateGroupError.ts
  tests/uploading/upload-errors.e2e.test.tsx
Due: biome check --write

feat: report a failing auth token function as AUTH_TOKEN_ERROR
  src/blocks/FileItem/FileItem.ts
  src/types/exported.ts
  src/utils/validators/file/validateUploadError.ts
  tests/uploading/upload-errors.e2e.test.tsx
  types/test/output-state.test-d.tsx
Due: biome check --write

fix: keep upload credentials out of debug output
  src/abstract/managers/TelemetryManager.ts
  src/blocks/Config/Config.ts
  src/blocks/FileItem/FileItem.ts
  src/utils/redactSecrets.test.ts
  src/utils/redactSecrets.ts
Due: biome check --write

test: pin the GROUP_ERROR payload in the published types
  types/test/output-state.test-d.tsx
Due: biome check --write

fix: send the config a change-config event announces
  src/abstract/managers/TelemetryManager.ts
  tests/api/telemetry/session-and-lifecycle.e2e.test.tsx
Due: biome check --write

fix: ignore a group request the collection has moved on from
  src/lit/LitUploaderBlock.ts
  tests/uploading/upload-errors.e2e.test.tsx
Due: biome check --write

refactor: pin the redacted keys to the types they redact
  src/utils/redactSecrets.ts
Due: biome check --write

feat: JWT auth token for the Upload API (#1083)
  package-lock.json
  package.json
  specs/public-api/options-parity.test.ts
  src/abstract/CTX.ts
  src/abstract/UploaderPublicApi.ts
  src/abstract/managers/AuthTokenManager.ts
  src/abstract/managers/TelemetryManager.ts
  src/abstract/managers/ValidationManager.ts
  src/abstract/managers/__tests__/AuthTokenManager.test.ts
  src/blocks/Config/Config.ts
  src/blocks/Config/assertions.ts
  src/blocks/Config/initialConfig.ts
  src/blocks/Config/normalizeConfigValue.ts
  src/blocks/Config/validatorsType.ts
  src/blocks/FileItem/FileItem.ts
  src/lit/LitUploaderBlock.ts
  src/lit/SharedState.ts
  src/lit/shared-instances.ts
  src/types/exported.ts
  src/utils/redactSecrets.test.ts
  src/utils/redactSecrets.ts
  src/utils/validators/collection/index.ts
  src/utils/validators/collection/validateGroupError.ts
  src/utils/validators/file/validateUploadError.ts
  tests/api/telemetry/session-and-lifecycle.e2e.test.tsx
  tests/config/composition-lifecycle.e2e.test.tsx
  tests/config/upload-client-options.e2e.test.tsx
  tests/uploading/auth-token.e2e.test.tsx
  tests/uploading/upload-errors.e2e.test.tsx
  tests/utils/commands.ts
  types/test/output-state.test-d.tsx
  types/test/uc-config.test-d.tsx
Due: biome check --write

docs: describe the auth token option in the changelog
  CHANGELOG.md
Due: none

docs: describe the auth token option in the changelog (#1087)
  CHANGELOG.md
Due: none

ci: run the auth token tests against the real API
  .github/workflows/checks.yml
Due: none

ci: run the auth token tests against the real API (#1088)
  .github/workflows/checks.yml
Due: none

fix(dropdown): updated style based on --uc-radius
  src/blocks/DropDown/drop-down.css
Due: biome check --write, stylelint --fix

fix(dropdown): updated style based on --uc-radius (#1092)
  src/blocks/DropDown/drop-down.css
Due: biome check --write, stylelint --fix

fix: fail with the real reason when authToken is unset mid-flight
  src/abstract/UploaderPublicApi.ts
  src/abstract/managers/AuthTokenManager.ts
  src/abstract/managers/__tests__/AuthTokenManager.test.ts
Due: biome check --write

fix: hand out the token function configured now, not a re-reading resolver
  src/abstract/UploaderPublicApi.ts
  src/abstract/managers/AuthTokenManager.ts
  src/abstract/managers/__tests__/AuthTokenManager.test.ts
Due: biome check --write

test: pin that a nullish authToken sends no token
  src/abstract/managers/__tests__/AuthTokenManager.test.ts
Due: biome check --write

feat: hand upload-client a token provider, so a refused token is retried
  src/abstract/managers/AuthTokenManager.ts
  src/abstract/managers/__tests__/AuthTokenManager.test.ts
  src/types/exported.ts
Due: biome check --write

chore: require @uploadcare/upload-client 6.23.0 for the token provider
  package-lock.json
  package.json
Due: biome check --write

test(e2e): assert the provider shape upload-client now receives
  tests/config/upload-client-options.e2e.test.tsx
Due: biome check --write

feat: hand upload-client a token provider, from the token configured now (#1094)
  package-lock.json
  package.json
  src/abstract/UploaderPublicApi.ts
  src/abstract/managers/AuthTokenManager.ts
  src/abstract/managers/__tests__/AuthTokenManager.test.ts
  src/types/exported.ts
  tests/config/upload-client-options.e2e.test.tsx
Due: biome check --write

docs: say what the token provider gives users in 1.35.0
  CHANGELOG.md
Due: none

test(e2e): write the throwaway TLS certificate to files, not /dev/stdout
  tests/utils/fake-uploadcare/server.ts
Due: biome check --write

fix(cloud-image-editor): don't report an image info failure after removal
  src/blocks/CloudImageEditor/src/CloudImageEditorBlock.ts
Due: biome check --write

test(e2e): answer 500 instead of crashing when the fake server's handler throws
  tests/utils/fake-uploadcare/server.ts
Due: biome check --write

test(e2e): take the fake Uploadcare from @uploadcare/api-emulator
  .github/workflows/checks.yml
  package-lock.json
  package.json
  tests/utils/fake-uploadcare/cdn.ts
  tests/utils/fake-uploadcare/files.ts
  tests/utils/fake-uploadcare/image-size.ts
  tests/utils/fake-uploadcare/index.ts
  tests/utils/fake-uploadcare/server.ts
  tests/utils/fake-uploadcare/upload-api.ts
  tests/utils/network.ts
  vitest.config.ts
Due: biome check --write

test(e2e): unref the emulator server and link the synced emulator checkout
  package-lock.json
  package.json
  tests/utils/network.ts
Due: biome check --write

test(e2e): run the auth token tests against the emulator's Signed Uploads project
  tests/uploading/auth-token.e2e.test.tsx
  tests/utils/commands.ts
Due: biome check --write

ci: run the live auth token step only when the e2e run was not live already
  .github/workflows/checks.yml
Due: none

test(e2e): record a page's emulator session only once its redirect is installed
  tests/utils/network.ts
Due: biome check --write

test(e2e): reject an E2E_NET value other than 'fake' or 'live'
  tests/utils/network.ts
Due: biome check --write

test(e2e): give the behaviour-options upload fixture a cdnUrl
  tests/config/behaviour-options.e2e.test.tsx
Due: biome check --write

fix: stop async continuations from reading shared instances after destroy
  src/abstract/UploaderPublicApi.test.ts
  src/abstract/UploaderPublicApi.ts
  src/abstract/managers/LocaleManager.ts
  src/abstract/managers/SecureUploadsManager.ts
  src/abstract/managers/ValidationManager.ts
  src/abstract/managers/__tests__/LocaleManager.test.ts
  src/abstract/managers/__tests__/SecureUploadsManager.test.ts
  src/lit/shared-instances.ts
Due: biome check --write

test(e2e): run the emulator in the page through msw and @mswjs/interceptors
  package-lock.json
  package.json
  tests/setup.e2e.ts
  tests/utils/commands.ts
  tests/utils/emulator.browser.ts
  tests/utils/network.ts
  vitest.config.ts
Due: biome check --write
