Repository uploadcare/file-uploader: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js,cjs,tsx}": ["biome check --write", "git add"],
  "*.css": ["stylelint --fix", "biome check --write", "git add"],
  "*.json": ["biome check --write", "git add"]
}

refactor: move `onaAdd` hooks logic to the plugin manager and upload collection
  src/abstract/managers/plugin/PluginManager.ts
  src/blocks/FileItem/FileItem.ts
  src/lit/LitUploaderBlock.ts
Due: biome check --write

chore: public ui kit + some api updates
  src/abstract/UploaderPublicApi.ts
  src/abstract/managers/plugin/PluginManager.ts
  src/abstract/managers/plugin/PluginTypes.ts
  src/blocks/ActivityHeader/activity-header.css
  src/blocks/themes/uc-basic/common.css
  src/blocks/themes/uc-basic/plugin-ui.css
  src/lit/shared-instances.ts
  src/plugins/unsplash-activity.css
  src/plugins/unsplashPlugin.ts
  tests/api.e2e.test.tsx
Due: biome check --write, stylelint --fix

fix: bugs found via tests
  package.json
  src/abstract/UploaderPublicApi.ts
  src/abstract/managers/plugin/LazyPluginLoader.ts
  src/abstract/managers/plugin/PluginManager.ts
  src/abstract/managers/plugin/PluginTypes.ts
  src/blocks/Modal/Modal.ts
  src/blocks/PluginActivityRenderer/PluginActivityRenderer.ts
  src/lit/LitActivityBlock.ts
  src/lit/LitBlock.ts
  src/lit/LitUploaderBlock.ts
  src/lit/hasBlockInCtx.ts
  src/plugins/cloudImageEditorPlugin.ts
Due: biome check --write

refactor: plugin system
  biome.json
  package-lock.json
  package.json
  src/abstract/CTX.ts
  src/abstract/features/ClipboardLayer.ts
  src/abstract/managers/plugin/LazyPluginLoader.ts
  src/abstract/managers/plugin/PluginManager.ts
  src/abstract/managers/plugin/PluginRegistry.ts
  src/abstract/managers/plugin/PluginTypes.ts
  src/abstract/managers/plugin/buildPluginApi.ts
  src/abstract/managers/plugin/lazyPluginRegistry.ts
  src/abstract/sharedConfigKey.ts
  src/blocks/Config/Config.ts
  src/blocks/Config/computed-properties.test.ts
  src/blocks/Config/computed-properties.ts
  src/blocks/Config/lazyPluginRegistry.ts
  src/blocks/FileItem/FileItem.ts
  src/lit/LitSolutionBlock.ts
  src/lit/SharedState.ts
  src/solutions/file-uploader/lazyPlugins.ts
  src/types/index.ts
  tests/plugins/cleanup-edge-cases.e2e.test.tsx
  tests/plugins/lifecycle.e2e.test.tsx
  tests/plugins/utils.tsx
Due: biome check --write

feat: extract local source to the plugins
  src/blocks/SourceList/SourceList.ts
  src/plugins/localSourcePlugin.ts
  src/solutions/file-uploader/lazyPlugins.ts
Due: biome check --write

test: fix tests
  tests/api.e2e.test.tsx
  tests/file-uploader-minimal.e2e.test.tsx
  tests/plugins/cleanup-edge-cases.e2e.test.tsx
  tests/plugins/file-action-registration.e2e.test.tsx
  tests/plugins/icon-and-i18n.e2e.test.tsx
  tests/plugins/lifecycle.e2e.test.tsx
  tests/plugins/utils.tsx
  tests/validation.e2e.test.tsx
Due: biome check --write

refactor: tests / api changes
  src/abstract/CTX.ts
  src/abstract/UploaderPublicApi.ts
  src/abstract/managers/plugin/LazyPluginLoader.ts
  src/abstract/managers/plugin/PluginManager.ts
  src/abstract/managers/plugin/PluginTypes.ts
  src/abstract/managers/plugin/lazyPluginRegistry.ts
  src/blocks/Config/lazyPluginRegistry.ts
  src/blocks/FileItem/FileItem.ts
  src/lit/LitSolutionBlock.ts
  src/lit/LitUploaderBlock.ts
  src/lit/SharedState.ts
  src/plugins/imageShrinkPlugin.ts
  src/solutions/file-uploader/lazyPlugins.ts
  tests/api.e2e.test.tsx
  tests/plugins/activity-api.e2e.test.tsx
  tests/plugins/activity-registration.e2e.test.tsx
  tests/plugins/custom-config.e2e.test.tsx
  tests/plugins/file-hook-registration.e2e.test.tsx
  tests/plugins/file-hook-validators.e2e.test.tsx
Due: biome check --write

fix: file item action label
  src/blocks/FileItem/FileItem.ts
Due: biome check --write

chore: fix types test
  types/test/uc-upload-ctx-provider.test-d.tsx
Due: biome check --write

chore: bump deps
  package-lock.json
  package.json
Due: biome check --write

test: update snapshots
  specs/npm/__snapshots__/npm.test.ts.snap
Due: none

test: fix types test
  src/types/index.ts
  types/test/uc-upload-ctx-provider.test-d.tsx
Due: biome check --write

test: fix e2e tests styling after vite 8 update
  demo/features/plugins.html
  tests/api.e2e.test.tsx
  tests/cloud-image-editor.e2e.test.tsx
  tests/config.e2e.test.tsx
  tests/file-uploader-inline.e2e.test.tsx
  tests/file-uploader-minimal.e2e.test.tsx
  tests/file-uploader-regular.e2e.test.tsx
  tests/form-input.e2e.test.tsx
  tests/plugins/utils.tsx
  tests/validation.e2e.test.tsx
Due: biome check --write

chore: fix plugins demo security scan
  demo/features/plugins.html
Due: none

fix: custom config restore default value & catch normalize errors
  src/abstract/managers/plugin/buildPluginApi.ts
  src/blocks/Config/Config.ts
  tests/plugins/custom-config.e2e.test.tsx
Due: biome check --write

test: try to fix another flaky test
  src/blocks/FileItem/FileItem.ts
Due: biome check --write

fix: add file hooks timeouts and signals
  src/abstract/managers/plugin/PluginManager.ts
  src/abstract/managers/plugin/PluginRegistry.ts
  src/abstract/managers/plugin/PluginTypes.ts
  src/blocks/FileItem/FileItem.ts
  tests/plugins/lifecycle.e2e.test.tsx
  tests/plugins/source-registration.e2e.test.tsx
Due: biome check --write

test: fix most flaky test
  tests/validation.e2e.test.tsx
Due: biome check --write

chore: fix flaky cloud imaged editor size wait
  src/blocks/CloudImageEditor/src/CloudImageEditorBlock.ts
  tests/cloud-image-editor.e2e.test.tsx
Due: biome check --write

chore: abort uploads after test
  tests/plugins/utils.tsx
Due: biome check --write

fix: theme overrides
  src/blocks/themes/uc-basic/theme.css
Due: biome check --write, stylelint --fix

Potential fix for code scanning alert no. 230: Server-side request forgery
  demo/features/plugins.html
Due: none

Potential fix for code scanning alert no. 232: Server-side request forgery
  demo/features/plugins.html
Due: none

Potential fix for code scanning alert no. 233: Log injection
  demo/features/plugins.html
Due: none

refactor: move editor related logic to the plugin
  src/abstract/UploaderPublicApi.ts
  src/blocks/UploadCtxProvider/EventEmitter.ts
  src/lit/LitUploaderBlock.ts
  src/plugins/cloudImageEditorPlugin.ts
  tests/plugins/cloud-image-editor.e2e.test.tsx
Due: biome check --write

fix: catch render/dispose errors
  src/blocks/PluginActivityRenderer/PluginActivityRenderer.ts
Due: biome check --write

fix: skip telemetry on upload error after unmount
  src/blocks/FileItem/FileItem.ts
  tests/api.e2e.test.tsx
Due: biome check --write

chore: fix tests
  .gitignore
  tests/render-jsx-children.d.ts
Due: biome check --write

fix: introduce uc.shared CSS layer and check abort signal in plugin hooks
  src/abstract/managers/plugin/PluginManager.ts
  src/blocks/ActivityHeader/activity-header.css
  src/blocks/Icon/icon.css
  src/blocks/Modal/modal.css
  src/blocks/ProgressBar/progress-bar.css
  src/blocks/ProgressBarCommon/progress-bar-common.css
  src/blocks/Select/select.css
  src/blocks/Spinner/spinner.css
  src/blocks/Thumb/thumb.css
  src/blocks/themes/uc-basic/common.css
  src/blocks/themes/uc-basic/layers.css
  src/blocks/themes/uc-basic/plugin-ui.css
Due: biome check --write, stylelint --fix

fix: apply uc-active class declaratively on camera source tab buttons
  src/blocks/CameraSource/CameraSource.ts
Due: biome check --write

fix: use distinct labels for mobile photo and video camera sources
  src/plugins/cameraPlugin.ts
Due: biome check --write

test: add camera source e2e test and source expand tests
  tests/plugins/camera-source.e2e.test.tsx
  tests/plugins/source-registration.e2e.test.tsx
Due: biome check --write

fix: simplify UrlSource by replacing ref with reactive state and autofocus
  src/blocks/UrlSource/UrlSource.ts
Due: biome check --write

test: try to fix flaky tests
  tests/file-uploader-minimal.e2e.test.tsx
Due: biome check --write

chore: rename i18n to l10n in plugin API
  demo/features/plugins.html
  src/abstract/managers/LocaleManager.ts
  src/abstract/managers/plugin/PluginRegistry.ts
  src/abstract/managers/plugin/PluginTypes.ts
  src/abstract/managers/plugin/buildPluginApi.ts
  src/plugins/unsplashPlugin.ts
  tests/plugins/icon-and-l10n.e2e.test.tsx
  tests/plugins/lifecycle.e2e.test.tsx
  tests/plugins/source-registration.e2e.test.tsx
Due: biome check --write

fix: guard against unsub being called before initialization in shared-instances
  src/lit/shared-instances.ts
Due: biome check --write

fix: restore telemetry event for plugin file actions
  src/blocks/FileItem/FileItem.ts
Due: biome check --write

fix: let plugin activities control their own modal height
  src/blocks/PluginActivityRenderer/PluginActivityRenderer.ts
  src/blocks/PluginActivityRenderer/uc-plugin-activity-host.css
Due: biome check --write, stylelint --fix

test: stabilize validator e2e test by waiting for editor change events
  tests/validation.e2e.test.tsx
Due: biome check --write
