Repository uploadcare/file-uploader: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, stylelint --fix

refactor(cloud-image-editor): migrate editor components to Lit
  src/blocks/CloudImageEditor/src/CloudImageEditorBlock.ts
  src/blocks/CloudImageEditor/src/CropFrame.ts
  src/blocks/CloudImageEditor/src/EditorAspectRatioButtonControl.ts
  src/blocks/CloudImageEditor/src/EditorButtonControl.ts
  src/blocks/CloudImageEditor/src/EditorCropButtonControl.ts
  src/blocks/CloudImageEditor/src/EditorFilterControl.ts
  src/blocks/CloudImageEditor/src/EditorImageCropper.ts
  src/blocks/CloudImageEditor/src/EditorImageFader.ts
  src/blocks/CloudImageEditor/src/EditorOperationControl.ts
  src/blocks/CloudImageEditor/src/EditorScroller.ts
  src/blocks/CloudImageEditor/src/EditorSlider.ts
  src/blocks/CloudImageEditor/src/EditorToolbar.ts
  src/blocks/CloudImageEditor/src/css/common.css
  src/blocks/CloudImageEditor/src/elements/button/BtnUi.ts
  src/blocks/CloudImageEditor/src/elements/line-loader/LineLoaderUi.ts
  src/blocks/CloudImageEditor/src/elements/presence-toggle/PresenceToggle.ts
  src/blocks/CloudImageEditor/src/elements/slider/SliderUi.ts
  src/blocks/CloudImageEditor/src/state.ts
  src/blocks/CloudImageEditor/src/template.ts
Due: biome check --write, stylelint --fix

refactor(abstract): update managers and utilities for Lit compatibility
  src/abstract/CTX.ts
  src/abstract/TypedData.ts
  src/abstract/UploaderPublicApi.ts
  src/abstract/buildOutputCollectionState.ts
  src/abstract/defineComponents.ts
  src/abstract/managers/LocaleManager.ts
  src/abstract/managers/ModalManager.ts
  src/abstract/managers/SecureUploadsManager.ts
  src/abstract/managers/TelemetryManager.ts
  src/abstract/managers/ValidationManager.ts
  src/abstract/managers/a11y.ts
  src/utils/WindowHeightTracker.ts
Due: biome check --write

refactor(img): rewrite uc-img components to TypeScript
  demo/img.html
  src/blocks/Img/Img.ts
  src/blocks/Img/ImgBase.js
  src/blocks/Img/ImgBase.ts
  src/blocks/Img/ImgConfig.js
  src/blocks/Img/ImgConfig.ts
  src/blocks/Img/test.css
  src/blocks/Img/utils/parseObjectToString.ts
Due: biome check --write, stylelint --fix

refactor: update exports and imports for Lit migration
  src/index.ts
Due: biome check --write

chore(demo): update demo files for Lit migration
  demo/cloud-image-editor.html
  demo/locales.html
  demo/raw-regular.html
  demo/validators.html
Due: none

test: update test files for Lit migration
  scripts/test-locales.ts
  tests/api.e2e.test.tsx
  tests/bundles.e2e.test.tsx
  tests/config.e2e.test.tsx
  tests/file-uploader-regular.e2e.test.tsx
  tests/utils/commands.ts
  tests/utils/test-renderer.tsx
  tests/validation.e2e.test.tsx
Due: biome check --write

chore: update dependencies and build config for Lit
  biome.json
  tsconfig.app.json
  tsconfig.e2e-test.json
  tsconfig.test.json
  vite.config.js
Due: biome check --write

chore: fix text binding
  src/blocks/UploadList/UploadList.ts
Due: biome check --write

chore(modal): expose dialog ref to ancestors
  src/blocks/Modal/Modal.ts
Due: biome check --write

chore: remove lit bundle
  package.json
Due: biome check --write

chore: fix symbiote layer unsubscribes
  src/lit/SymbioteCompatMixin.ts
Due: biome check --write

chore: remove focus-visible polyfill
  src/blocks/CloudImageEditor/src/css/common.css
Due: biome check --write, stylelint --fix

fix: use unsafeSVG instead of unsafeHTML for SVG sprite
  src/lit/LitSolutionBlock.ts
Due: biome check --write

chore: fix camera shot not freezing issue
  src/blocks/CameraSource/CameraSource.ts
Due: biome check --write

chore: apply linting fixes and remove unused imports
  biome.json
  demo/cloud-image-editor.html
  demo/custom-icons.html
  demo/form.html
  demo/index.html
  demo/locales.html
  demo/new-social-sources-test.html
  demo/preview-proxy/secure-delivery-proxy-url-resolver.html
  demo/preview-proxy/secure-delivery-proxy-url-template.html
  demo/raw-inline.html
  demo/raw-minimal.html
  demo/raw-regular.html
  demo/secure-uploads.html
  demo/upload-api.html
  demo/validators.html
  index.html
  src/blocks/CameraSource/camera-source.css
  src/blocks/Config/Config.ts
  src/blocks/Config/computed-properties.ts
  src/blocks/Img/ImgBase.ts
  src/blocks/Select/Select.ts
Due: biome check --write, stylelint --fix

chore: remove unused waitForAttribute method
  src/utils/waitForAttribute.test.ts
  src/utils/waitForAttribute.ts
Due: biome check --write

chore: fix ai-found memory leaks
  src/blocks/CameraSource/CameraSource.ts
  src/blocks/ExternalSource/ExternalSource.ts
Due: biome check --write

chore: enable minification for dist build
  scripts/build-items.ts
Due: biome check --write

chore: add NODE_ENV=production for Lit production mode and bundle lit packages
  scripts/build.ts
Due: biome check --write

chore: update tsconfig.node.json types
  tsconfig.node.json
Due: biome check --write

chore(demo): reorganize demo pages and add bundle demos
  demo/bundles/cloud-image-editor.html
  demo/bundles/iife.html
  demo/bundles/img.html
  demo/bundles/inline.html
  demo/bundles/minimal.html
  demo/bundles/regular.html
  demo/external-sources/preview-proxy/secure-delivery-proxy-url-resolver.html
  demo/external-sources/preview-proxy/secure-delivery-proxy-url-template.html
  demo/external-sources/preview-proxy/secure-delivery-proxy.js
  demo/external-sources/secure-uploads.html
  demo/external-sources/social-sources.html
  demo/features/custom-icons.html
  demo/features/form-integration.html
  demo/features/locales.html
  demo/features/upload-api.html
  demo/features/validators.html
  demo/index.html
  demo/raw-minimal.html
  demo/solutions/cloud-image-editor.html
  demo/solutions/img.html
  demo/solutions/inline.html
  demo/solutions/minimal.html
  demo/solutions/regular.html
Due: biome check --write

chore(demo): replace real public key with demopublickey
  demo/img.html
Due: none

chore: reorganize exports in index.ts and update version
  package.json
  src/index.ts
Due: biome check --write

chore: add linked legal comments and include txt files in package
  scripts/build.ts
Due: biome check --write

chore: use esbuild-minify-templates for HTML template minification
  scripts/build.ts
Due: biome check --write

chore: update biome config and fix test
  biome.json
  tests/validation.e2e.test.tsx
Due: biome check --write

fix: remove non-existent jsx.ts entry from build items
  scripts/build-items.ts
Due: biome check --write

chore(biome): enable useConsistentMemberAccessibility rule
  biome.json
Due: biome check --write

chore: reorganize root exports
  src/index.ts
Due: biome check --write

refactor: prefix private members with underscore
  src/abstract/TypedData.ts
  src/blocks/CameraSource/CameraSource.ts
  src/blocks/CloudImageEditor/src/CloudImageEditorBlock.ts
  src/blocks/CloudImageEditor/src/CropFrame.ts
  src/blocks/CloudImageEditor/src/EditorAspectRatioButtonControl.ts
  src/blocks/CloudImageEditor/src/EditorButtonControl.ts
  src/blocks/CloudImageEditor/src/EditorFilterControl.ts
  src/blocks/CloudImageEditor/src/EditorImageCropper.ts
  src/blocks/CloudImageEditor/src/EditorOperationControl.ts
  src/blocks/CloudImageEditor/src/EditorScroller.ts
  src/blocks/CloudImageEditor/src/EditorSlider.ts
  src/blocks/CloudImageEditor/src/EditorToolbar.ts
  src/blocks/CloudImageEditor/src/elements/button/BtnUi.ts
  src/blocks/CloudImageEditor/src/elements/line-loader/LineLoaderUi.ts
  src/blocks/CloudImageEditor/src/elements/presence-toggle/PresenceToggle.ts
  src/blocks/CloudImageEditor/src/elements/slider/SliderUi.ts
  src/blocks/CloudImageEditorActivity/CloudImageEditorActivity.ts
  src/blocks/Config/Config.ts
  src/blocks/DropArea/DropArea.ts
  src/blocks/ExternalSource/ExternalSource.ts
  src/blocks/FileItem/FileItemConfig.ts
  src/blocks/Icon/Icon.ts
  src/blocks/Img/ImgBase.ts
  src/blocks/Modal/Modal.ts
  src/blocks/ProgressBar/ProgressBar.ts
  src/blocks/ProgressBarCommon/ProgressBarCommon.ts
  src/blocks/SimpleBtn/SimpleBtn.ts
  src/blocks/SourceBtn/SourceBtn.ts
  src/blocks/SourceList/SourceList.ts
  src/blocks/Thumb/Thumb.ts
  src/blocks/UploadList/UploadList.ts
  src/blocks/UrlSource/UrlSource.ts
  src/lit/CssDataMixin.ts
  src/lit/LitBlock.ts
  src/lit/LitUploaderBlock.ts
  src/lit/SymbioteCompatMixin.ts
  src/lit/TestModeController.ts
  src/solutions/file-uploader/inline/FileUploaderInline.ts
  src/solutions/file-uploader/minimal/FileUploaderMinimal.ts
Due: biome check --write

fix(css): use CSS variable for progress bar opacity control
  src/blocks/FileItem/file-item.css
  src/blocks/ProgressBar/progress-bar.css
Due: biome check --write, stylelint --fix

refactor: replace @symbiotejs/symbiote with nanostores-based PubSub
  demo/bundles/cloud-image-editor.html
  demo/bundles/minimal.html
  demo/features/validators.html
  demo/solutions/cloud-image-editor.html
  demo/solutions/minimal.html
  src/abstract/TypedCollection.ts
  src/abstract/TypedData.ts
  src/abstract/UploaderPublicApi.ts
  src/blocks/CloudImageEditor/src/lib/parseCropPreset.test.ts
  src/blocks/CloudImageEditor/src/lib/parseCropPreset.ts
  src/index.ts
  src/lit/LitBlock.ts
  src/lit/LitUploaderBlock.ts
  src/lit/PubSubCompat.ts
  src/lit/SymbioteCompatMixin.ts
  src/utils/UID.ts
  src/utils/applyStyles.ts
Due: biome check --write

refactor(types): cover shared state types
  src/abstract/CTX.ts
  src/abstract/TypedCollection.ts
  src/abstract/TypedData.ts
  src/abstract/UploaderPublicApi.ts
  src/abstract/buildOutputCollectionState.ts
  src/abstract/managers/LocaleManager.ts
  src/abstract/managers/ValidationManager.ts
  src/abstract/uploadEntrySchema.ts
  src/blocks/CloudImageEditor/src/EditorAspectRatioButtonControl.ts
  src/blocks/CloudImageEditor/src/EditorFilterControl.ts
  src/blocks/CloudImageEditor/src/EditorSlider.ts
  src/blocks/CloudImageEditor/src/EditorToolbar.ts
  src/blocks/CloudImageEditor/src/state.ts
  src/blocks/CloudImageEditor/src/utils/parseFilterValue.test.ts
  src/blocks/CloudImageEditor/src/utils/parseFilterValue.ts
  src/blocks/CloudImageEditorActivity/CloudImageEditorActivity.ts
  src/blocks/Config/Config.ts
  src/blocks/Thumb/Thumb.ts
  src/lit/LitBlock.ts
  src/lit/LitUploaderBlock.ts
  src/lit/SharedState.ts
  src/lit/SymbioteCompatMixin.ts
  src/lit/Uid.ts
Due: biome check --write

chore: enable props mangling to reduce bundle size
  scripts/build.ts
Due: biome check --write

refactor(symbiote-compat): use listenKeys from nanostore to subscribe to per-key changes
  src/lit/PubSubCompat.ts
Due: biome check --write

fix(symbiote-compat): create state on initialize
  src/lit/SymbioteCompatMixin.ts
Due: biome check --write

style: refresh locales demo and inline uploader styles
  demo/features/locales.html
  src/solutions/file-uploader/inline/index.css
Due: biome check --write, stylelint --fix

style: apply lint fixes
  src/blocks/ExternalSource/external-source.css
  src/blocks/Modal/modal.css
  src/blocks/UrlSource/url-source.css
Due: biome check --write, stylelint --fix

test: fix types test
  types/test/public-upload-api.test-d.tsx
  types/test/uc-upload-ctx-provider.test-d.tsx
Due: biome check --write

Path conditions:
  biome check --write: ((any of: *.{ts,js,cjs,tsx}) or (any of: *.css)) or (any of: *.json)
  stylelint --fix: any of: *.css
